<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30">Editar <%= club_motors_subscription.car_model.name %> - <%= club_motors_subscription.plate %></h4>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box m-b-20 card-body">
            <h5 class="card-title">Tipo de Mensalidade</h5>
            <p class="card-text"><%= club_motors_subscription.car_model.club_motors_fee.name %> - (<%= club_motors_subscription.car_model.car_brand.name %>) <%= club_motors_subscription.car_model.name %></p>
            <a href="#" class="btn btn-success"><%= number_to_currency club_motors_subscription.calculate_price_cents / 1e2 %>/mês</a>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <%= simple_form_for form, url: backoffice_club_motors_vehicle_path(club_motors_subscription), method: :put do |f| %>
        <%= f.input :car_brand_id, as: :hidden, input_html: { value: club_motors_subscription.car_model.brand_code } %>
        <%= f.input :car_model_id, as: :hidden %>
        <%= f.input :plate, as: :hidden %>
        <%= f.input :chassis, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :cnpj_cpf, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :owner_name, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :manufacture_year, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :model_year, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :fuel, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.fuels.map {|k,v| [t(k), k]} %>
        <%= f.input :mileage, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :renavam, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :gearbox, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.gearboxes.map {|k,v| [t(k), k]} %>
        <%= f.input :taxi, wrapper_html: { class: 'col-sm-3' }, collection: [['Sim', true], ['Não', false]] %>
        <%= f.input :mercosul_code, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.mercosul_codes.map {|k,v| [t(k), k]} %>
        <%= f.input :color, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :color_type, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.color_types.map {|k,v| [t(k), k]} %>
        <%= f.input :origin, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.origins.map {|k,v| [t(k), k]} %>

        <div class="row">
          <div class="col-md-12">
            <div class="card-box">
              <p>Leia e aceite o contrato de adesão ao Clube de Benefícios Future Motors + Você</p>
              <%= f.input :terms_of_service, as: :boolean, label: 'Termos de Serviço' %>
            </div>
          </div>
        </div>

        <%= f.submit "Ativar cadastro do ClubMotors", class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = function(){
    $('#club_motors_subscription_form_car_brand_id, #club_motors_subscription_form_car_model_id').change(function () {
      $(this).parents('form').submit();
    })
  }
</script>