<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">

    <h4 class="page-title m-b-30">Meus Veículos</h4>

  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="card-box">

      <%= link_to 'Minhas Mensalidades', backoffice_club_motors_monthly_fees_path, class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Adicionar Veículo', new_backoffice_club_motors_vehicle_path, class: 'btn btn-sm btn-primary' %>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Pacote</th>
              <th>Tipo</th>
              <th>Veículo</th>
              <th>Placa</th>
              <th>Status</th>
              <th>Mensalidade</th>
              <th>Período</th>
              <th>Data de Ativação</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.hashid %></td>
                <td><%= @package_name %></td>
                <td><%= t vehicle.type %></td>
                <td><%= vehicle.car_model.name %></td>
                <td><%= vehicle.plate %></td>
                <td><%= t vehicle.status %></td>
                <td><%= number_to_currency vehicle.price %>/mês</td>
                <td>
                <% if vehicle.active? %>
                  (<%= l vehicle.current_period_start %> - <%= l vehicle.current_period_end %>)
                <% end %>
                </td>
                <td><%= l(vehicle.activated_at, format: :short) if vehicle.activated_at %></td>
                <td>
                  <% if ClubMotorsSubscriptionPolicy.new(vehicle).can_edit? %>
                    <%= link_to 'Ativar', edit_backoffice_club_motors_vehicle_path(vehicle), class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- end col -->

</div>