<%= stylesheet_link_tag 'click-tok-theme/short_registration' %>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="credentials-box">
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/email.svg', alt: t(:sponsor)) %>
      </div>

      <%= f.input_field :email, required: true, autofocus: true, class: "input-description" %>
    </div>
    <div class="login-fields remove-padding">
      <%= f.button :submit, t('defaults.post'), class: "login"  %>
    </div>
    <div class="helper-text">
      <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>
