<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="box-expenses">
  <div class="box-second">
    <h4 class="page-title"><%= t('defaults.expenses') %></h4>
  </div>
</div>

<div class="box-expenses">
  <div class="box-second">
    <div class="card-box" style="padding-bottom: 0px;">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for(@financial_transaction, url: backoffice_admin_expenses_path,
                                                      method: :post,
                                                      html: { class: 'form-horizontal' }) do |f| %>

            <%= f.input :cent_amount, as: :string, required: true, input_html: { class: 'money-br', value: '' } %>
            <%= f.input :note, as: :text, required: true %><br>
            <%= f.input :master_password %>
            <%= f.submit t('helpers.submit.send_expense') %>
          <% end %>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
