<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default panel-border">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('hello')%>, <%= current_user.name %></h3>
      </div>
      <div class="panel-body">

        <p><%= t('.waiting_digital_wallet_confirmation_html', digital_wallet: @digital_wallet.address, current_wallet: current_user.wallet_address) %></p>

        <hr />

        <p>
          <%= t('.confirm_digital_wallet_change') %>
          <%= link_to t('here'), users_digital_wallet_path(@digital_wallet, digital_wallet: { status: :active }), method: :patch,  data: { confirm: t('.confirm_digital_wallet_change_question') }, class: 'btn btn-success' %>
        </p>

        <hr />

        <p>
          <%= t('.refuse_digital_wallet_change') %>
          <%= link_to t('here'), users_digital_wallet_path(@digital_wallet, digital_wallet: { status: :inactive }), method: :patch, data: { confirm: t('.refuse_digital_wallet_change_question') }, class: 'btn btn-danger' %>
        </p>

        <br>

        <p><%= link_to t('.digital_wallets_list'), users_digital_wallets_path %></p>
      </div>
    </div>
  </div>
</div>
