<%= simple_form_for(user_form, url: url, method: method, validate: true, html: { class: 'form-', multipart: true }) do |f| %>
  <div class="row">
    <%= f.input :name, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :email, wrapper_html: { class: 'col-md-6' } %>
  </div>
  <div class="row">
    <%= f.input :birthdate, as: :date, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :document_cpf, wrapper_html: { class: 'col-md-3' }, label: t(:id) %>
    <%= f.input :phone, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :skype, wrapper_html: { class: 'col-md-3' } %>
  </div>

  <div class="row">
    <%= f.input :zipcode, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :address, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :address_2, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :district, wrapper_html: { class: 'col-md-3' } %>
  </div>
  <div class="row">
    <%= f.input :address_number, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :city, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :state, wrapper_html: { class: 'col-md-3' } %>
    <%= f.input :country, wrapper_html: { class: 'col-md-3' } %>
  </div>
  <div class="row">
    <%= f.input_field :master_leader, as: :boolean, wrapper_html: { class: 'col-md-1' } %>
    <%= f.label :master_leader %>
  </div>
  <div class="row">
    <%= f.input :password, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :password_confirmation, wrapper_html: { class: 'col-md-4' } %>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <label class="control-label password optional" for="current_password"><%= t('current_user_password') %></label>
      <input class="form-control password" required type="password" name="current_password" id="current_password" placeholder="<%= t('actual_user_password_required') %>">
    </div>
  </div>
  <hr />
    <%= f.button :button, t("defaults.#{method}"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving...".html_safe } %>

<% end %>
