<div class="row">
  <div class="col-md-4 col-lg-4">
      <div class="profile-detail card-box">
          <div>
              <h4 class="m-b-20"><%= user.name %></h4>

              <%= user.avatar_image_tag %>

              <ul class="list-inline status-list m-t-20">
                  <li>
                      <h3 class="text-primary m-b-5"><%= number_with_delimiter user.left_pv %></h3>
                      <p class="text-muted"><%= BinaryNode.human_attribute_name(:left_pv) %></p>
                  </li>

                  <li>
                      <h3 class="text-success m-b-5"><%= number_with_delimiter user.right_pv %></h3>
                      <p class="text-muted"><%= BinaryNode.human_attribute_name(:right_pv) %></p>
                  </li>
              </ul>

              <button type="button" class="btn btn-pink btn-custom btn-rounded waves-effect waves-light">
                <%= user.career_name %>
              </button>

              <hr>

              <%= link_to('Logar como usuário', masquerade_path(user), class: 'btn btn-success btn-sm') if current_user.admin? %>

              <div class="text-left m-t-30">
                <table class="table table-striped" style="word-break: break-word;">
                  <tr>
                    <td><strong><%= User.human_attribute_name(:user) %>:</strong></td>
                    <td><%= user.username %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:sponsor) %>:</strong></td>
                    <td><%= user.sponsor_username %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:active) %>:</strong></td>
                    <td><%= user.activity %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_verification_status) %>:</strong></td>
                    <td><%= t user.document_verification_status %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:binary_qualified) %>:</strong></td>
                    <td><%= user.qualification %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:active_until) %>:</strong></td>
                    <td><%= l user.active_until unless user.active_until.blank? %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:user) %>:</strong></td>
                    <td><%= user.username %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:birthdate) %>:</strong></td>
                    <td><%= user.long_birthdate %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:skype) %>:</strong></td>
                    <td><%= user.skype %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:phone) %>:</strong></td>
                    <td><%= user.phone %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:registration_type) %>:</strong></td>
                    <td class="text-uppercase"><%= user.registration_type %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_cpf) %>:</strong></td>
                    <td><%= user.document_cpf %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_rg) %>:</strong></td>
                    <td><%= user.document_rg %> - <%= user.document_rg_expeditor %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_pis) %>:</strong></td>
                    <td><%= user.document_pis %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_cnpj) %>:</strong></td>
                    <td><%= user.document_cnpj %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_ie) %>:</strong></td>
                    <td><%= user.document_ie %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_company_name) %>:</strong></td>
                    <td><%= user.document_company_name %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:document_fantasy_name) %>:</strong></td>
                    <td><%= user.document_fantasy_name %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:email) %>:</strong></td>
                    <td><%= link_to user.email, "mailto:#{user.email}" %></td>
                  </tr>
                  <tr>
                    <td><strong><%= User.human_attribute_name(:address) %>:</strong></td>
                    <td><%= user.pretty_address %></td>
                  </tr>
                </table>

              </div>

          </div>

      </div>

  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
          <i class="md md-attach-money text-success"></i>
          <h2 class="m-0 text-dark counter font-600"><span><%= user.available_balance_cents %></span></h2>
          <div class="text-muted m-t-5"><%= User.human_attribute_name(:available_balance) %></div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
          <i class="md md-attach-money text-warning"></i>
          <h2 class="m-0 text-dark counter font-600"><span><%= user.blocked_balance_cents %></span></h2>
          <div class="text-muted m-t-5"><%= User.human_attribute_name(:blocked_balance) %></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
          <div class="widget-panel widget-style-2 bg-white">
              <i class="md md-account-child text-custom"></i>
              <h2 class="m-0 text-dark counter font-600"><span><%= user.sponsored_count %></span></h2>
              <div class="text-muted m-t-5"><%= t('.direct_users') %></div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="widget-panel widget-style-2 bg-white">
          <h3>Documentos</h3>

          <% if user.pending_verification? %>
            <%= form_tag(backoffice_support_documents_validation_path(id: user.id, status: User.document_verification_statuses['refused_verification']), method: :put) do %>
              <label for="">Razão:</label>
              <%= text_field_tag :reason, nil, class: 'form-control' %>
              <br>
              <%= submit_tag 'Rejeitar apagando fotos ', class: 'btn btn-danger pull-left', name: 'delete' %>
              <%= submit_tag 'Rejeitar sem apagar fotos ', class: 'btn btn-danger pull-left m-l-15', name: 'no-delete' %>
            <% end %>
            <%= link_to 'Aprovar', backoffice_support_documents_validation_path(id: user.id, status: 'verified'), class: 'btn btn-success m-l-15', method: :put %>
          <% elsif user.refused_verification? %>
            <p><%= user.document_refused_reason %> - <%= user.document_verification_updated_at %></p>
            <%= link_to 'Aprovar', backoffice_support_documents_validation_path(id: user.id, status: 'verified'), class: 'btn btn-success m-l-15', method: :put %>
          <% end %>
          <%= link_to t('helpers.approve_support_point'),
                      backoffice_support_support_point_users_path(user_id: params[:id]),
                      method: :post,
                      class: 'btn btn-warning m-l-15' %>
          <hr>

          <%= link_to(cl_image_tag(user.document_rg_photo.path, { size: '50x50', class: 'm-b-20' }), cloudinary_url(user.document_rg_photo.path), target: '_blank') if user.document_rg_photo %>
          <%= link_to(cl_image_tag(user.document_cpf_photo.path, { size: '50x50', class: 'm-b-20' }), cloudinary_url(user.document_cpf_photo.path), target: '_blank') if user.document_cpf_photo %>
          <%= link_to(cl_image_tag(user.document_pis_photo.path, { size: '50x50', class: 'm-b-20' }), cloudinary_url(user.document_pis_photo.path), target: '_blank') if user.document_pis_photo %>
          <%= link_to(cl_image_tag(user.document_address_photo.path, { size: '50x50', class: 'm-b-20' }), cloudinary_url(user.document_address_photo.path), target: '_blank') if user.document_address_photo %>
          <%= link_to(cl_image_tag(user.document_scontract_photo.path, { size: '50x50', class: 'm-b-20' }), cloudinary_url(user.document_scontract_photo.path), target: '_blank') if user.document_scontract_photo %>

        </div>
      </div>
    </div>
  </div>

</div>
