<div class="row">
  <div class="col-lg-12">
    <div class="card-box">

      <%= simple_form_for form, url: backoffice_club_motors_path, method: :post do |f| %>

        <h1 class="page-title" style="clear: both;">Adesão Clube de Empreendedores</h1>
        <h3>Escolha abaixo sua categoria e faça a adesão</h3>

        <div class="row">
          <div class="col-md-9">

            <div class="card-deck-wrapper">
              <div class="card-deck">
                <% form.club_motors_list.each do |subscription| %>
                  <div class="card-container">
                    <div class="card m-b-20">
                      <%= cl_image_tag(subscription.main_photo_id, { class: 'img-responsive' }) %>
                      <div class="card-body">
                        <h3><%= subscription.name %></h3>
                        <span><%= number_to_currency subscription.price %></span>
                      </div>
                    </div>
                    <%= radio_button('club_motors_new_subscription_form', 'club_motors_id', subscription.id, checked: subscription.id == form.club_motors_id.to_i) %>
                  </div>
                <% end %>
              </div>
            </div>

            <h3>Baixe os materiais de apoio Future Motors</h3>

            <a href="https://s3.amazonaws.com/promotional-material/pdf/APN_FutureMotors.pdf" target="_blank" class="btn btn-primary">
              Apresentação de Negócio
            </a>

            <a href="<%= backoffice_downloads_path %>" class="btn btn-primary">Mais Materiais</a>

          </div>

          <div class="col-md-3">
            <% if form.club_motors.present? %>
              <p>Valor da Adesão</p>
              <h2><%= number_to_currency form.club_motors.price %></h2>
            <% end %>

            <div class="card m-t-20 m-b-20">
              <div class="card-body">
                <p>Aceite o contrato de adesão ao Clube de Empreendedores Future Motors</p>
                <a href="https://futuremotors.com.br/wp-content/uploads/2018/12/contratodeadesao.pdf" target="_blank"><i class="fa fa-file-pdf"></i> Contrato de Adesão</a>
                <%= f.input :terms_of_service, as: :boolean, label: 'Aceito os termos de adesão' %>
              </div>
            </div>


            <%= f.submit "CONTRATAR", class: 'btn btn-primary btn-block' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = function(){
    $('#club_motors_new_subscription_form_car_brand_id, #club_motors_new_subscription_form_car_model_id, input[type=radio]').change(function () {
      $(this).parents('form').submit();
    });

    $('.input-plate').mask('AAAAAAA', {clearIfNotMatch: true});
  }
</script>
