<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30">Assinaturas</h4>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <%= simple_form_for form, url: backoffice_club_motors_path, method: :post do |f| %>
        <%= f.input :car_brand, collection: CarBrand.order(:name).map {|brand| [brand.name, brand.brand_code]}, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :car_model, collection: form.car_models_list.map {|model| [model.name, model.id]}, wrapper_html: { class: 'col-sm-6' } %>
        <%= f.input :chassis, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :plate, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :cnpj_cpf, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :owner_name, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :manufacture_year, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :model_year, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :fuel, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.fuels.map {|k,v| [t(k), k]} %>
        <%= f.input :mileage, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :renavam, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :gearbox, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.gearboxes.map {|k,v| [t(k), k]} %>
        <%= f.input :taxi, wrapper_html: { class: 'col-sm-3' }, collection: ['Sim', 'Não'] %>
        <%= f.input :mercosul_code, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.mercosul_codes.map {|k,v| [t(k), k]} %>
        <%= f.input :color, wrapper_html: { class: 'col-sm-3' } %>
        <%= f.input :color_type, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.color_types.map {|k,v| [t(k), k]} %>
        <%= f.input :origin, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.origins.map {|k,v| [t(k), k]} %>

        <%= f.submit "Adicionar Carro", class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = function(){
    $('#club_motors_subscription_form_car_brand').change(function () {
      console.log($(this).val());
      $(this).parents('form').submit();
    })
  }
</script>