<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <h4 class="page-title m-b-30">Preencha os dados do seu Veículo</h4>

      <%= simple_form_for form, url: backoffice_club_motors_path, method: :post do |f| %>

        <div class="row">
          <%= f.input :car_brand_id, collection: CarBrand.order(:name).map {|brand| [brand.name, brand.brand_code]}, wrapper_html: { class: 'col-sm-3' } %>
          <%= f.input :car_model_id, collection: form.car_models_list.map {|model| [model.name, model.id]}, wrapper_html: { class: 'col-sm-6' } %>
          <%= f.input :plate, wrapper_html: { class: 'col-sm-3' }, input_html: { class: 'input-plate' } %>
        </div>

        <h4 class="page-title p-t-10" style="clear: both;">Selecione seu pacote de Benefícios</h4>
        <p>Confira o valor de sua Mensalidade</p>

        <div class="row">
          <div class="col-md-9">

            <div class="card-deck-wrapper">
              <div class="card-deck">
                <% form.club_motors_list.each do |subscription| %>
                  <div class="card-container">
                    <div class="card m-b-20">
                      <%= cl_image_tag(subscription.main_photo_id, { size: '150x150' }) %>
                      <div class="card-body">
                        <h3><%= subscription.name %></h3>
                        <span><%= number_to_currency subscription.price %></span>
                      </div>
                    </div>
                    <%= radio_button('club_motors_new_subscription_form', 'club_motors_id', subscription.id, checked: subscription.id == form.club_motors_id.to_i) %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>

          <div class="col-md-3">
            <% if form.monthly_fee.present? %>
              <p>Valor previsto da mensalidade para o veículo indicado será de:</p>
              <p>Sua mensalidade será de:</p>
              <h5><%= number_to_currency form.monthly_fee %></h5>
            <% end %>

            <% if form.club_motors.present? %>
              <p>Valor da Adesão</p>
              <h2><%= number_to_currency form.club_motors.price %></h2>
            <% end %>

            <div class="card m-t-20 m-b-20">
              <div class="card-body">
                <p>Estou ciente de que me será cobrado uma mensalidade pelo veículo indicado</p>
                <%= f.input :terms_of_service, as: :boolean, label: 'Termos de Serviço' %>
              </div>
            </div>


            <%= f.submit "CONTRATAR", class: 'btn btn-primary btn-block' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  window.onload = function(){
    $('#club_motors_new_subscription_form_car_brand_id, #club_motors_new_subscription_form_car_model_id, input[type=radio]').change(function () {
      $(this).parents('form').submit();
    });

    $('.input-plate').mask('AAAAAAA', {clearIfNotMatch: true});
  }
</script>