<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('backoffice.scores.index.title.unilevel') %></h4>
  </div>
</div>

<%= render 'filters' %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover m-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= Score.human_attribute_name(:order) %></th>
                  <th><%= Score.human_attribute_name(:amount) %></th>
                  <th><%= Score.human_attribute_name(:pool_points) %></th>
                  <th><%= Score.human_attribute_name(:contract_balance) %></th>

                  <th><%= Score.human_attribute_name(:created_at) %></th>
                  <th><%= Score.human_attribute_name(:status) %></th>
                  <th><%= Score.human_attribute_name(:expire_at) %></th>
                </tr>
              </thead>
              <tbody>
                <% if @scores.any? %>
                  <% @scores.each do |score| %>
                    <tr>
                      <td> <%= link_to(bonus_contract.hashid, backoffice_bonus_contract_path(bonus_contract)) %></td>
                      <td> <%= link_to(order.try(:hashid), backoffice_order_path(order)) if order %></td>
                      <th> <%= number_to_currency(score.order.total_cents) %></th>
                      <td> <%= number_to_currency(score.cent_amount) %></td>
                      <td> <%= %> </td>



                      <td class=<%= score.cent_amount.to_f < 0 ? 'text-danger' : '' %> > <%= number_with_delimiter(score.try(:cent_amount)) %></td>
                      <td><%= score.try(:order).try(:hashid) %></td>
                      <td><%= l(score.try(:created_at), format: :short) %></td>
                      <td><%= score_status(score)  %></td>
                      <td><%= l(score.expire_at, format: :long) if score.expire_at %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="50" class="text-center"><%= t('helpers.no_data') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @scores if @scores.any? %>
        </div>
      </div>
    </div>
  </div>
</div>
