
<%= cloudinary_js_config %>

<div class="row">
  <div class="col-12">
    <div class="card-box">
      <h4 class="header-title m-t-0"><%= t(:documents) %></h4>
      <p class="text-muted m-b-20"><%= t(:necessary_documents_list, company: SystemConfiguration.company_name) %> </p>

      <p>
        <strong><%= t(:account_situation) %>:</strong> <%= t "account_#{current_user.verified?}" %>
      </p>

      <%= simple_form_for current_user, url: backoffice_documents_path, method: :put,  html: { novalidate: true, multipart: true } do |f| %>

        <table class="table table-bordered">
          <tr>
            <td><%= t(:passport) %></td>
            <td>
              <% if current_user.document_rg_photo? %>
                <%= cl_image_tag current_user.document_rg_photo.path, { size: '150x150', class: 'm-b-20' } %>
              <% end %>
              <%= f.input :document_rg_photo, as: :file, label: false %>
            </td>
          </tr>
          <tr>
            <td><%= t(:id) %></td>
            <td>
              <% if current_user.document_cpf_photo? %>
                <%= cl_image_tag current_user.document_cpf_photo.path, { size: '150x150', class: 'm-b-20' } %>
              <% end %>
              <%= f.input :document_cpf_photo, as: :file, label: false %>
            </td>
          </tr>
        </table>

        <%= submit_tag t(:send_documents), class: 'btn btn-default', data: { disable_with: I18n.t(:sending).html_safe } %>
      <% end %>

    </div>
  </div>
</div>
