<tr>
  <td><%= order.hashid %></td>
  <td><%= order.try(:user).try(:username) %></td>
  <td><%= order.try(:user).try(:username) %></td>
  <td><%= number_to_currency(order.total, unit: ENV['CURRENT_CURRENCY']) %></td>
  <% if ENV['CURRENT_DIGITAL_CURRENCY'].present? %>
  <td><%= "#{ENV['CURRENT_DIGITAL_CURRENCY']} #{order.try(:payment_transaction).try(:amount)}"%></td>
  <% end %>
  <td><%= payment_status_tag(order) %></td>
  <td><%= l(order.paid_at, format: '%B %d, %Y' ) if order.paid_at.present? %></td>
  <td>
    <%= link_to t('defaults.details'), backoffice_order_path(order) %>
  </td>
</tr>
