<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('backoffice.lineage_scores.index.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'filters' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <th><strong><%= t('defaults.lineage') %></strong> </th>
                  <th><%= Score.human_attribute_name(:cent_amount) %> </th>
                  <th><%= Score.human_attribute_name(:balance) %> </th>
                </tr>
              </thead>
              <tbody>
                <% score_sum = @lineage_scores.sum(&:second) %>
                <% @lineage_scores.each do |user, score_sum_by_user| %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= number_with_delimiter score_sum_by_user %></td>
                    <td><%= number_with_delimiter score_sum %></td>
                    <% score_sum -= score_sum_by_user %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
