<li>
  <%= link_to backoffice_dashboard_index_path, class: 'waves-effect' do %>
    <i class="ti-home"></i> <span>Dashboard</span>
  <% end %>
</li>
<!-- Shop menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-shopping-cart"></i><span class="menu-arrow"></span><span> eCommerce </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.categories'), backoffice_admin_categories_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.products'), backoffice_admin_products_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.orders'), backoffice_admin_orders_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.shop'), backoffice_products_path %></li>
    <li><%= link_to t('defaults.my_orders'), backoffice_orders_path %></li>
  </ul>
</li>
<!-- Financial menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-money"></i><span class="menu-arrow"></span><span> <%= t('defaults.financial') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.credits_debits'), backoffice_admin_credits_debit_path(:find_user), class: 'admin-link' %></li>
    <li><%= link_to t('defaults.financial_transactions'), backoffice_admin_financial_transactions_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.bonus_entries'), backoffice_admin_bonus_financial_transactions_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.manage_withdrawals'), backoffice_admin_withdrawals_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.withdrawals'), backoffice_withdrawals_path %></li>
    <li><%= link_to t('defaults.new_withdraw'), new_backoffice_withdrawal_path %></li>
    <li><%= link_to t('defaults.financial_transactions'), backoffice_financial_transactions_path %></li>
    <li><%= link_to t('defaults.bonus_entries'), backoffice_bonus_financial_transactions_path %></li>
  </ul>
</li>
<!-- Network -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-sharethis"></i><span class="menu-arrow"></span><span> <%= t('defaults.network') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.binary_strategy'), backoffice_binary_strategies_path %></li>
    <li><%= link_to t('defaults.binary_tree'), backoffice_binary_tree_index_path %></li>
    <li><%= link_to t('defaults.unilevel'), backoffice_unilevel_index_path %></li>
    <li><%= link_to t('defaults.career_histories'), backoffice_admin_career_histories_path, class: 'admin-link' %></li>
  </ul>
</li>

<!-- pv history menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-world"></i><span class="menu-arrow"></span><span> <%= t('defaults.scores') %> </span></a>
  <ul class="list-unstyled">
    <li> <%= link_to t('defaults.unilevel'), backoffice_unilevel_scores_path %> </li>
    <li><%= link_to t('defaults.generation_scores'), backoffice_generation_scores_path %></li>
    <!-- <li> <%= link_to t('defaults.binary'), backoffice_binary_scores_path %> </li> -->
    <li> <%= link_to t('defaults.unilevel'), backoffice_admin_unilevel_scores_path, class: 'admin-link' %> </li>
    <li> <%= link_to t('defaults.binary'), backoffice_admin_binary_scores_path, class: 'admin-link' %> </li>
    <!-- <li><%= link_to t('defaults.accumulated_pva'), backoffice_accumulated_pva_index_path %></li> -->
    <!-- <li><%= link_to t('defaults.admin_accumulated_pva'), backoffice_admin_accumulated_pva_index_path, class: 'admin-link' %></li> -->
    <!-- <li><%= link_to t('defaults.pv_activity_histories'), backoffice_admin_pv_activity_histories_path, class: 'admin-link' %></li> -->
    <!-- <li><%= link_to t('defaults.pv_admin_histories'), backoffice_admin_pv_histories_path, class: 'admin-link' %></li> -->
    <!-- <li><%= link_to t('defaults.pv_histories'), backoffice_pv_histories_path %></li> -->
    <!-- <li><%= link_to t('defaults.pv_activity_history'), backoffice_pv_activity_histories_path %></li> -->
  </ul>
</li>

<!-- Admin menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-world"></i><span class="menu-arrow"></span><span> <%= t('defaults.admin') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.users'), backoffice_support_users_path, class: 'admin-link' %></li>
    <li><%= link_to t('defaults.documents_validation'), backoffice_support_documents_validation_index_path, class: 'admin-link' %></li>
    <!-- <li><%= link_to t('defaults.careers'), backoffice_admin_careers_path %></li> -->
  </ul>
</li>

<!-- Downloads menu -->
<li>
  <%= link_to backoffice_downloads_path do %>
    <i class="md md-cloud-download"></i>  Download Material
  <% end %>
</li>
