<!-- Shop menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-cart-arrow-down"></i><span class="menu-arrow"></span><span> <%= t(:deposits) %> </span></a>
  <ul class="list-unstyled">
    <!-- <li><%= link_to t('defaults.categories'), backoffice_admin_categories_path %></li>
    <li><%= link_to t('defaults.products'), backoffice_admin_products_path %></li>
    <li><%= link_to t('defaults.shop'), backoffice_products_path %></li> -->
    <li>
      <%= link_to t(:new_deposit), new_backoffice_deposit_path, class: 'waves-effect' %>
    </li>
    <li><%= link_to t(:deposit_list), backoffice_deposits_path %></li>
  </ul>
</li>
