<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-money"></i><span class="menu-arrow"></span><span> <%= t('defaults.financial') %> </span></a>
  <ul class="list-unstyled">
    <li>
      <%= link_to backoffice_admin_credits_debit_path(:find_user) do %>
        <%= t('defaults.credits_debits') %>
        <span class="label label-pink pull-right">A</span>
      <% end %>
    </li>
    <li>
      <%= link_to backoffice_admin_financial_entries_path do %>
        <%= t('defaults.financial_entries') %>
        <span class="label label-pink pull-right">A</span>
      <% end %>
    </li>
    <li><%= link_to t('defaults.withdrawals'), new_backoffice_withdrawal_path %></li>
    <li><%= link_to t('defaults.new_transfer'), backoffice_transfer_path(:find_user) %></li>
    <li><%= link_to t('defaults.financial_entries'), backoffice_financial_entries_path %></li>
    <li><%= link_to t('defaults.bonus_entries'), backoffice_bonus_entries_path %></li>
  </ul>
</li>
