<li>
  <%= link_to backoffice_installer_dashboard_index_path, class: 'waves-effect' do %>
    <i class="ti-home"></i> <span>Dashboard</span>
  <% end %>
</li>
<!-- Shop menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-shopping-cart"></i><span class="menu-arrow"></span><span> Gerenciar Instalações </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.product_setups'), backoffice_installer_product_setups_path %></li>
    <li><%= link_to t('defaults.new_product_setup'), new_backoffice_installer_product_setup_path %></li>
  </ul>
</li>
<!-- Financial menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-money"></i><span class="menu-arrow"></span><span> <%= t('defaults.financial') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.new_withdraw'), new_backoffice_withdrawal_path %></li>
    <li><%= link_to t('defaults.withdrawals'), backoffice_withdrawals_path %></li>
    <li><%= link_to t('defaults.financial_entries'), backoffice_financial_entries_path %></li>
  </ul>
</li>
<!-- OS menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-receipt"></i><span class="menu-arrow"></span><span> Lançamento de OS </span></a>
  <ul class="list-unstyled">
    <li><%= link_to 'Meus lançamentos', backoffice_installer_order_of_services_path %></li>
    <li><%= link_to 'Novo lançamento', new_backoffice_installer_order_of_service_path %></li>
  </ul>
</li>
