<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-sharethis"></i><span class="menu-arrow"></span><span> <%= t('defaults.network') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.binary_strategy'), backoffice_binary_strategies_path %></li>
    <li><%= link_to t('defaults.binary_tree'), backoffice_binary_tree_index_path %></li>
    <li><%= link_to t('defaults.unilevel'), backoffice_unilevel_index_path %></li>
    <li><%= link_to t('defaults.accumulated_pva'), backoffice_admin_accumulated_pva_index_path %></li>
  </ul>
</li>
