<style>
  * {
    margin: 0;
    padding: 0;
  }

 a {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid #00de28;
    color: #00de28;
  }

  p b {
    color: #ccc;
  }

  .mail-container {
    font-family: sans-serif;
    font-size: calc(0.6rem + 0.3vw);
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
  }

  h1 {
    color: #00de28;
    font-size: 3.3em;
    font-weight: 800;
    margin: 2em 0 1em 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: #888;
    font-size: 1.4em;
    margin: 0 0 1em 0;
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
  }

  h6 {
    align-items: center;
    color: #888;
    column-gap: 8px;
    display: flex;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  h6 b {
    align-items: center;
    background: #00de28;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 0.8em;
    font-weight: 400;
    height: 30px;
    justify-content: center;
    width: 30px;
  }

  h6 a {
    color: inherit;
    text-decoration: inherit;
  }

  h6 a:hover{
    text-decoration: underline;
  }

  .draw-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4em;
    position: relative;
    row-gap: 1.5em;
  }

  .draw-container ul {
    column-gap: 0.4em;
    display: flex;
    list-style: none;
  }

  .draw-container ul::before {
    color: #00de28;
    content: "➜";
    font-size: 22px;
    display: flex;
    align-items: center;
  }

  .draw-container li {
    background: #e5e5e5;
    border-radius: 5px;
    color: #222;
    font-weight: 800;
    padding: 0.6em;
  }

  hr {
    color: #00de28;
    margin-bottom: 1em;
  }  

  ul {
    list-style: none;
  }

  .lottery-result {
    width: fit-content;
    margin: 0 auto;
  }

  .result-ticket-list {
  column-gap: 0.5em;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  }

  .draw-link {
  border-bottom: 1px solid transparent;
  color: #da1734;
  margin-bottom: 0.5em;
  width: max-content;
  }

    .result-ticket-list li {
    align-items: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(176, 176, 176, 1) 100%);
    border-radius: 50%;
    color: #000;
    display: flex;
    font-size: 0.8em;
    font-weight: 600;
    height: 2.5em;
    justify-content: center;
    position: relative;
    width: 2.5em;
  }

  .result-ticket-list li b {
    color: #da1734;
  }

  .result-ticket-list li.has-arrow::after {
    bottom: -1.2em;
    color: #777;
    content: "↓";
    font-size: 1em;
    left: 1.1em;
    position: absolute;
  }

  h6 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .wining-ticket-number {
    background: linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(219, 219, 219, 1) 100%);
    border-radius: 5px;
    color: #333;
    column-gap: 0.54em;
    display: flex;
    display: flex;
    font-size: 2em;
    font-weight: 600;
    justify-content: center;
    margin-top: 0.5em;
    padding: 0.1em 0.3em;
    text-align: center;
    width: max-content;
  }

  .wining-ticket-number i {
    align-items: center;
    color: #999;
    display: flex;
    font-size: 0.5em;
    height: 100%;
    width: fit-content;
  }


</style>
<div class="mail-container">
  <h1>
    <%= t(:result_title) %>
  </h1>
  <p>   
    <%= t(:result_announcement_html,
          raffle_name: @raffle.product.name,
          winning_ticket: ApplicationController.helpers.format_winning_ticket(@raffle),
          winner_country: ISO3166::Country[@raffle.winner.country],
          winner_city: @raffle.winner.city,
          company_site: ENV["COMPANY_DOMAIN_SITE"],
          company_name: SystemConfiguration.company_name) %>
  </p> 
  <p><%= t(:draw_data) %></p>
  <div class="lottery-result">    
    <a class="draw-link" href="https://www.powerball.com/" target="_blank">Powerball - <%= @raffle.draw_date.strftime("%b %d, %Y") %></a>
    <ul class="result-ticket-list">
      <%= ApplicationController.helpers.render_lotto_list_item(@raffle) %>
    </ul>
    <span class="wining-ticket-number"><%= ApplicationController.helpers.format_winning_ticket(@raffle) %></span>
  </div>
  <ul class="product-info">
    <li><%= t('attributes.product') %>: <b><%= @raffle.product.name %></b></li>      
    <li>ID: <b><%= @raffle.product.hashid %></b></li>
    <li><%= t(:draw_date) %>: <b><%= @raffle.draw_date.strftime("%d/%m/%Y") %><br /></b></li>
    <li><%= t(:draw_time) %>: <b>22h59min EST</b></li>
    <li><%= t(:drawn_quota) %>: <b><%= ApplicationController.helpers.raffle_ticket_number_format(@raffle.winning_ticket) %></b></li>
  </ul>    
</div>
