<%= simple_form_for current_user, url: backoffice_bank_account_path, method: :put, html: { class: 'form-inline' } do |f| %>
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-md-12">
          <% if current_user.wallet_address.present? %>
              <div class="col-md-1">
                <%= t(:account_code) %>:
              </div>
              <div class="col-md-8">
                <strong class="form-control"><%= current_user.wallet_address %></strong>
              </div>
              <%= link_to t(:new_digital_wallet), new_users_digital_wallet_path, target: '_blank', class: 'btn btn-primary pull-right' %>
          <% else %>
            <div class="col-md-2">
              <%= f.label :wallet_address, for: 'user[wallet_address]' %>
            </div>
              <div class="col-md-9">
              <%= f.input_field :wallet_address, required: true, class: 'form-control', style: 'min-width: 100%' %>
            </div>
            <%= f.submit t('.save'), class: 'btn btn-default pull-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
