<%= stylesheet_link_tag 'click-tok-theme/withdrawal' %>
<%= stylesheet_link_tag 'click-tok-theme/financial_dashboard' %>
<%= stylesheet_link_tag 'click-tok-theme/cart' %>

<div class="page">
  <div class="ch-payment-buttons-area">
    <button>
      <%= image_tag('icons/pix.svg', class: 'icons') %>
      <%= t(:pix) %>
    </button>

    <button >
      <%= image_tag('icons/bitcoin.svg', class: 'icons') %>
      <%= t(:btc) %>
    </button>
  </div>
  <div class="w-withdraw-area">
    <div class="w-withdraw-icon">
      <%= image_tag('icons/pix-p.svg', class: 'icons') %>
    </div>
    <div class="w-withdraw-input">

    </div>
  </div>
  <div class="t"></div>
  <div class="ch-buy-action-button">
    <button
      class="login"
    >Salvar
    </button>
  </div>
  <div class="t">

  </div>
  <div class="t">

  </div>
</div>
