<%= stylesheet_link_tag 'click-tok-theme/footer' %>

<div class="bottom-menu">
  <nav class="nav">
    <%= link_to root_path, class: 'nav__link'  do %>
      <%= image_tag 'icons/user.svg', class: 'icons' %>
      <%= t(:home) %>
    <% end %>
    <% if current_user.admin? %>
    <%= link_to dashboard_direction(current_user), class: 'nav__link' do %>
      <%= image_tag('icons/tasks.svg', class: 'icons') %>
      <%= t(:dashboard)%>
    <% end %>
    <% else %>
      <%= link_to dashboard_direction(current_user), class: 'nav__link' do %>
        <%= image_tag('icons/tasks.svg', class: 'icons') %>
        <%= t(:tasks)%>
      <% end %>
    <% end %>
    <div class="nav__link shop">
      <%= link_to backoffice_products_path, class: 'shops' do %>
          <%= image_tag 'icons/store.svg', class: 'icons' %>
          <p class="title-btn-shop"><%= t(:shop) %></p>
      <% end %>
    </div>
    <%= link_to backoffice_financial_dashboard_index_path, class: 'nav__link' do %>
      <%= image_tag 'icons/financial.svg', class: 'icons' %>
      <%= t('defaults.financial') %>
    <% end %>
    <%= link_to backoffice_team_dashboard_index_path, class: 'nav__link'  do %>
      <%= image_tag('icons/team.svg', class: 'icons') %>
      <%= t(:my_team) %>
    <% end %>
  </nav>
</div>
