<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="<%= image_url('bg.png') %>" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="grid-overlay">
        <div></div>
    </div>

    <div class="home-content">

        <div class="row home-content__main">
          <div class="logo">
            <%= image_tag('logo.png') %>
          </div>
            <h1>
            What´s your dream?
            </h1>

            <h3>
            Be the first to make your dreams come true
            </h3>

            <div class="home-content__video">
                <a class="video-link" href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0" data-lity>
                    <span class="video-icon" style="background-image: url('<%= image_url('icons/icon-play.svg') %>');"></span>
                    <span class="video-text">Watch Video</span>
                </a>
            </div>

            <div class="home-content__button">

                <%= link_to t('sign_up'), new_user_registration_path(sponsor: params[:sponsor]), class: 'btn btn--primary btn--large' %>


                <%= link_to t('login'), new_user_session_path(sponsor: params[:sponsor]), class: 'btn btn--large' %>

            </div>

        </div> <!-- end home-content__main -->

        <div class="home-content__scroll">
            <a href="#testimonials" class="scroll-link smoothscroll">
                Scroll
            </a>
        </div>

    </div> <!-- end home-content -->

</section> <!-- end s-home -->
<br>

<!-- testimonies
================================================== -->
<section class="s-testimonials target-section" id="testimonials">

    <div class="testimonials__icon" data-aos="fade-up"></div>

    <div class="row testimonials narrow">

        <div class="col-full testimonials__slider" data-aos="fade-up">

            <div class="testimonials__slide">
                <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
                Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.</p>
                <div class="testimonials__author">
                    Tim Cook
                    <span>CEO, Apple</span>
                </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
                <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>
                <div class="testimonials__author">
                    Sundar Pichai
                    <span>CEO, Google</span>
                </div>
            </div> <!-- end testimonials__slide -->

            <div class="testimonials__slide">
                <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
                <div class="testimonials__author">
                    Satya Nadella
                    <span>CEO, Microsoft</span>
                </div>
            </div> <!-- end testimonials__slide -->

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</section> <!-- end s-testimonials -->


<!-- contact
================================================== -->
<section id="contact" class="s-contact target-section">

        <div class="grid-overlay">
            <div></div>
        </div>

    <div class="row section-header narrow" data-aos="fade-up">
        <div class="col-full">
          <% if @sponsor %>
            <h3 class="subhead">Você está sendo indicado por</h3>
            <%= @sponsor.decorate.avatar_image_tag %>
            <h1 class="display-1"><%= @sponsor.name %></h1>
          <% end %>
          <p class="contact-email">
              <a href="mailto:#0"><%= @sponsor ? @sponsor.email : ENV['SANDBOX_EMAIL'] %></a>
          </p>
        </div>
    </div> <!-- end section-header -->

    <div class="row contact-main" data-aos="fade-up">
        <div class="col-full">
            <p class="welcome-msg">
              OBRIGADO POR SE CADASTRAR COMIGO<br>
              EU ESTAREI A SUA DISPOSIÇÃO NESSA JORNADA
            </p>
        </div>
    </div>

</section> <!-- end s-contact -->


<!-- footer
================================================== -->
<%= render 'layouts/public/footer' %>


<!-- Java Script
================================================== -->
<%= javascript_include_tag "landing_page/jquery-3.2.1.min" %>
<%= javascript_include_tag "landing_page/plugins" %>
<%= javascript_include_tag "landing_page/main" %>
