<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
  			<h3 class="panel-title"><%= t(:filters) %></h3>
  		</div>
      <div class="panel-body">
        <%= search_form_for @q, url: backoffice_admin_sim_card_reports_path do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <%= f.label t('attributes.support_point') %>
                <%= f.search_field :support_point_user_username_cont, class: 'form-control input-sm' %>
              </div>
              <div class="col-md-2">
                <%= f.label t('attributes.user') %>
                <%= f.search_field :user_username_cont, class: 'form-control input-sm' %>
              </div>
              <div class="col-md-2">
                <%= f.label t('attributes.iccid') %>
                <%= f.search_field :iccid_eq, class: 'form-control input-sm' %>
              </div>
              <div class="col-md-1">
                <%= f.label t('attributes.status') %>
                <%= f.select :status_in, sim_card_statuses_for_select, { include_blank: t('all') },
                                                                       { class: 'form-control input-sm', multiple: true } %>
              </div>
              <div class="col-md-1">
                <label> &nbsp; </label><br>
                <a class="btn btn-primary" data-toggle="collapse"
                                           href=".collapse"
                                           role="button"
                                           aria-expanded="false"
                                           aria-controls="collapseExample">+</a>
              </div>
            </div><br>
            <div class="row collapse">
              <div class="col-md-2">
                <%= f.label t('attributes.in_date') %><br>
                <span> <%= t('helpers.from') %> </span>
                <%= f.search_field :created_at_gteq, class: 'form-control input-sm',
                                                     type: 'date' %>
              </div>
              <div class="col-md-2"><br>
                <span> <%= t('helpers.util') %> </span>
                <%= f.search_field :created_at_lteq, class: 'form-control input-sm',
                                                     type: 'date' %>
              </div>
            </div>
            <div class="row collapse"><br>
              <div class="col-md-2">
                <%= f.label t('attributes.transference_date') %><br>
                <span> <%= t('helpers.from') %> </span>
                <%= f.search_field :support_point_stock_out_at, class: 'form-control input-sm',
                                                                type: 'date' %>
              </div>
              <div class="col-md-2"><br>
                <span> <%= t('helpers.util') %> </span>
                <%= f.search_field :support_point_stock_out_at, class: 'form-control input-sm',
                                                                type: 'date' %>
              </div>
            </div>
            <div class="row collapse"><br>
              <div class="col-md-2">
                <%= f.label t('attributes.activation_date') %><br>
                <span> <%= t('helpers.from') %> </span>
                <%= f.search_field :stock_out_at, class: 'form-control input-sm',
                                                  type: 'date' %>
              </div>
              <div class="col-md-2"><br>
                <span> <%= t('helpers.util') %> </span>
                <%= f.search_field :stock_out_at, class: 'form-control input-sm',
                                                  type: 'date' %>
              </div>
            </div>
          </div>
          <%= f.submit t('datagrid.form.search'), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
