<%= form_for([:backoffice, :admin, @config], html: { role: 'form' }) do |f| %>
  <div class="text-left m-t-30">
    <table class="table table-striped">
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:banner_email) %></strong></td>
        <td><%= f.attachinary_file_field :banner_email, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:external_logo) %></strong></td>
        <td><%= f.attachinary_file_field :external_logo, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:logo) %></strong></td>
        <td><%= f.attachinary_file_field :logo, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:favico) %></strong></td>
        <td><%= f.attachinary_file_field :favico, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label t(:base_host) %></strong></td>
        <td><%= f.text_field :base_host, class: 'form-control', placeholder: t(:base_host) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label t(:company_name) %></strong></td>
        <td><%= f.text_field :company_name, class: 'form-control', placeholder: t(:company_name) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:raffle_license_number) %></strong></td>
        <td><%= f.text_field :raffle_license_number, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:raffles_direct_commission_bonus) %></strong></td>
        <td><%= f.text_field :raffles_direct_commission_bonus, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:withdrawal_fee) %></strong></td>
        <td><%= f.number_field :withdrawal_fee, class: 'form-control', step: :any %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label t(:taxable_fee) %></strong></td>
        <td><%= f.number_field :taxable_fee, class: 'form-control', step: :any %></td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;">
          <%= f.label t(:reputation) %>
        </td>
        <td> <%= f.check_box :reputation %></td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;">
          <%= f.label t(:active) %>
        </td>
        <td> <%= f.check_box :active %></td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;">
          <%= f.label t(:whitelabel) %>
        </td>
        <td> <%= f.check_box :whitelabel %></td>
      </tr>
    </table>
    <%= f.submit class: 'btn btn-primary pull-right' %>
    <%= link_to t('new'), [:new, :backoffice, :admin, :system_configuration], class: 'btn btn-primary' if params[:action] == 'edit' %>
    <%= link_to t('see_all'), [:backoffice, :admin, :system_configurations], class: 'btn btn-primary' %>
    <br>
  </div>
<% end %>
