<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= t(:new_deposit_order) %></h4>
  </div>
</div>
<% if current_deposit.order_items.empty? %>
<div class="text-center">
  <%= t('views.backoffice.cart.show.no_data') %>
</div>
<% else %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <table class="table table-bordered cart-table">
            <tbody class="cart-table__body">
              <tr>
                  <th><span class="pull-right"><%= t('attributes.total') %></span></th>
                  <th><%= number_to_currency(current_deposit.total, unit: ENV['CURRENT_CURRENCY']) %></th>
              </tr>

              <tr>
                <th><span class="pull-right"><%= t('attributes.score') %></span></th>
                <th><%= number_with_delimiter current_deposit.total_score %></th>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="row m-t-30">
        <div class="col-md-12">
          <%= link_to new_backoffice_deposit_path, class: 'btn btn-default text-uppercase' do %>
            <%= t(:edit_deposit) %>
            <i class="icon-arrow-right"></i>
          <% end %>

          <%= link_to checkout_backoffice_deposits_path, method: :post,
                      class: 'btn btn-default pull-right text-uppercase',
                      data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>...".html_safe } do %>
            <%= t(:make_deposit_order) %>
            <i class="icon-arrow-right"></i>
          <% end %>
        </div>
      </div>

    </div>
  </div>

<% end %>
</div>
