<%= stylesheet_link_tag 'click-tok-theme/stores/shared/banner' %>
<% @packages.each do |package| %>

<div class="store-banner-container">
  <div class="store-banner-text">
    <span class="store-banner-pretext"><%= image_tag('store/banner-badge.svg', class: 'store-banner-pretext-icon') %>Últimos Numeros</span>
    <h4 class="store-banner-title"><%= package.name %></h4>
    <span class="store-banner-description">Apple (128GB) Azul</span>
    <div class="store-banner-footer">
      <p class="store-banner-footer-box">
        <span class="store-banner-value">Valor</span>
        <span class="store-banner-value-number">
          <%= number_to_currency(package.price,
            unit: ENV['CURRENT_CURRENCY'],
            precision: 2).gsub('USD ', '$') %>
        </span>
      </p>
      <p class="store-banner-footer-box">
        <span class="store-banner-draw">Sorteio</span>
        <span class="store-banner-draw-date">13/04/2022</span>
      </p>
    </div>
  </div>  
  <div class="store-banner-picture-container">
    <%= image_tag(package.raffle.path, class: 'store-banner-img') %>   
  </div>
</div>
<% end %>
