<%= stylesheet_link_tag 'click-tok-theme/stores/shared/banner' %>
<div class="store-banner-wrapper"> 
  <button class="store-banner-button store-banner-button__left">‹</button>
  <button class="store-banner-button store-banner-button__right active">›</button>
  <div class="store-banner-content">
    <% banner.each do |banner_item| %>
      <% banner_items = banner_items_factory(banner_item) %>
      <%= link_to banner_items.link,
          class: "store-banner-container banner #{banner_item.kind}",
          method: banner_items.link_method do %>
        <div class="store-banner-text">
          <span class="store-banner-pretext">
            <%= image_tag(banner_items.badge_image, class: 'store-banner-pretext-icon') %>
            <%= banner_items.badge_text %>
          </span>
          <h4 class="store-banner-title">
            <%= banner_items.title %>
          </h4>
          <span class="store-banner-description">
            <%= banner_items.description %>
          </span>
          <div class="store-banner-footer">
            <p class="store-banner-footer-box">
              <span class="store-banner-value-number">
                <%= banner_items.price %>
              </span>
              <span class="store-banner-value">
                <%= banner_items.price_text %>
              </span>
            </p>
            <p class="store-banner-footer-box">
              <span class="store-banner-right-number">
                <%= banner_items.price_right %>
              </span>
              <span class="store-banner-right">
                <%= banner_items.price_right_text %>
              </span>
            </p>
          </div>
        </div>
        <div class="store-banner-picture-container">
          <%= image_tag(banner_items.image, class: 'store-banner-img') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag('click-tok-theme/stores/shared/banner') %>
