<%= stylesheet_link_tag 'click-tok-theme/stores/shared/banner' %>
<div class="store-banner-wrapper">
  <input type="radio" name="radio-btn" id="radio1" class="radioButton"  checked>
  <input type="radio" name="radio-btn" id="radio2" class="radioButton">
  <input type="radio" name="radio-btn" id="radio3" class="radioButton">
  <input type="radio" name="radio-btn" id="radio4" class="radioButton">
  <% banner.each do |banner_item| %>  
    <div class="store-banner-container banner <%= banner_item.kind %>">
      <div class="store-banner-text">
        <span class="store-banner-pretext">
          <%= image_tag('stores/banner-badge.svg', class: 'store-banner-pretext-icon') %>
            <% if(banner_item.kind == 'deposit')%>
              <%= t(:package) %>
            <% end %>
        </span>
        <h4 class="store-banner-title">
          <%= banner_noddle(banner_item, :title) %>
        </h4>
        
        <span class="store-banner-description">
        
          <%= banner_noddle(banner_item, :description) %>
          <% if(banner_item.kind == 'deposit')%>
           <%= banner_noddle(banner_item, :description) > 1 ? t(:tasks_per_day) : t(:task_per_day) %>
          <% end %>
        </span>
        
        <div class="store-banner-footer">
          <p class="store-banner-footer-box">
            <span class="store-banner-value">
              <%= t(:price) %>
            </span>
            <span class="store-banner-value-number">
              <%= banner_noddle(banner_item, :price) %>
            </span>
          </p>
          <% if(banner_item.kind == 'deposit')%>
            <p class="store-banner-footer-box">
              <span class="store-banner-draw">
                <%= t(:earnings_by_campaign) %>
              </span>
              <span class="store-banner-draw-date">
              <%= banner_item.earnings_per_campaign %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
      <div class="store-banner-picture-container">
        <%= image_tag(banner_noddle(banner_item, :image), class: 'store-banner-img') %>
      </div>
    </div>
  <% end %>
  <div class="navigation-manual">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
    <label for="radio4" class="manual-btn"></label>
  </div>
</div>
<%= javascript_include_tag('click-tok-theme/stores/shared/banner') %>
