<%= stylesheet_link_tag 'click-tok-theme/store2' %>
<%= stylesheet_link_tag 'click-tok-theme/ads' %>

<div class="main-box">
  <%= render 'menu' %>
  <div class="banner-img-courses">
    <div class="banner-img-courses__content-left">
      <p><%= t(:online_advertising) %></p>
      <h1><%= t(:get_now) %></h1>
      <p><%= t(:your_advertising_package) %></p>
    </div>
    <div class="banner-img-courses__content-right">
      <%= image_tag('nav-store/tag.png') %>
    </div>
  </div>
  <div class="cards-ads">
    <% @packages.each do |package| %>
      <div class="card-ads">
        <div class="header-ad" style="background-color: <%= package.details %>">
          <span class="ad-package-title"><%= package.name %></span>
        </div>
        <div class="body-ad">
          <div class="texts-ad">
            <span style="text-align: center;"><%= t(:this_pack_contains) %></span>
            <span class="ad-package-clicks"><%= package.clicks %> <%= t(:clicks) %></span>
            <span style="text-align: center;"><%= t(:on_the_ad) %></span>
          </div>
          <div class="bottom-ad-package">
            <span class="ad-package-value"><%= number_to_currency(package.price, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %></span>
            <%= link_to new_backoffice_banner_path(product_id: package.id) do %>
              <button class="button-ads-packages"><%= t(:buy) %></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
