<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/ads/index' %>
<div class="store-content">
  <%= render 'menu' %>
  <%= render 'banner',  banner: @banner %>
  <div class="store--ads__content">
    <% @packages.each do |package| %>
      <div class="store--ads-item">
        <div class="store--ads-item--header" style="background: <%= package.details %>">
          <%= package.name %>
        </div>
        <ul class="store--ads-item--content">
          <li class="store--ads-item--description">
            <span class="store--ads-item--pre"><%= t(:this_pack_contains) %></span>
            <span class="store--ads-item--click"><%= package.clicks %> <%= t(:clicks) %></span>
            <span class="store--ads-item--pos"><%= t(:on_the_ad) %></span>
          </li>
          <li class="store--ads-item--price">
            <span class="store--ads-item--price--number">
              <%= format_currency(package.price) %>
            </span>
            <%= link_to new_backoffice_banner_path(product_id: package.id),
                class: 'store--ads-item--price--buy-button' do %>
              <%= t(:buy) %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
