<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/courses/index' %>
<div class="store-content">
  <%= render 'menu' %>
  <%= render 'banner',
        badge_pretext_image: 'stores/banner-badge.svg',
        date: '13/04/2022',
        description: 'Short description',
        pretext: 'Últimos Numeros',
        price: '$20.00',
        product_image: 'stores/banner-badge.svg',
        title: 'Nome de um produto' %>
  <div class="store--course-container">
    <h2 class="store--course-section-title">
      <%= t(:featured_courses) %>
    </h2>
    <div class="store--course-item-container">
      <% @courses.each do |course| %>
        <div class="store--course-item">
          <%= link_to course_backoffice_store_path(course) do %>
            <img class="store--course-item--image" src="<%= course_thumb(course) %>">
          <% end %>
          <div class="store--course-item--info">
            <div class="store--course-item--info--publisher">
              <%= t(:published_by) %>
              <b><%= course.owner_name %></b>
            </div>         
            <p class="store--course-item--title">
              <%= course.short_description %>
            </p>
            <div class="store--course-item--footer">
              <span class="store--course-item--price"><%= number_to_currency(course.price) %></span>
              <%= link_to t(:buy),
                        backoffice_courses_carts_path(product: { id: course.product.id },
                        country: current_user.country),
                        method: :put, class: "store--course-item--buy-buttom" unless course.in?(current_user.courses) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="store--course-container">
    <h2 class="store--course-section-title">
      <%= t(:featured_courses) %>
    </h2>
    <div class="store--course-item-container">
      <% @courses.each do |course| %>
        <div class="store--course-item">
          <%= link_to course_backoffice_store_path(course) do %>
            <img class="store--course-item--image" src="<%= course_thumb(course) %>">
          <% end %>
          <div class="store--course-item--info">
            <div class="store--course-item--info--publisher">
              <%= t(:published_by) %>
              <b><%= course.owner_name %></b>
            </div>         
            <p class="store--course-item--title">
              <%= course.short_description %>
            </p>
            <div class="store--course-item--footer">
              <span class="store--course-item--price"><%= number_to_currency(course.price) %></span>
              <%= link_to t(:buy),
                        backoffice_courses_carts_path(product: { id: course.product.id },
                        country: current_user.country),
                        method: :put, class: "store--course-item--buy-buttom" unless course.in?(current_user.courses) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="store--course-container">
    <h2 class="store--course-section-title">
      <%= t(:featured_courses) %>
    </h2>
    <div class="store--course-item-container">
      <% @courses.each do |course| %>
        <div class="store--course-item">
          <%= link_to course_backoffice_store_path(course) do %>
            <img class="store--course-item--image" src="<%= course_thumb(course) %>">
          <% end %>
          <div class="store--course-item--info">
            <div class="store--course-item--info--publisher">
              <%= t(:published_by) %>
              <b><%= course.owner_name %></b>
            </div>         
            <p class="store--course-item--title">
              <%= course.short_description %>
            </p>
            <div class="store--course-item--footer">
              <span class="store--course-item--price"><%= number_to_currency(course.price) %></span>
              <%= link_to t(:buy),
                        backoffice_courses_carts_path(product: { id: course.product.id },
                        country: current_user.country),
                        method: :put, class: "store--course-item--buy-buttom" unless course.in?(current_user.courses) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="store--course-container">
    <h2 class="store--course-section-title">
      <%= t(:featured_courses) %>
    </h2>
    <div class="store--course-item-container">
      <% @courses.each do |course| %>
        <div class="store--course-item">
          <%= link_to course_backoffice_store_path(course) do %>
            <img class="store--course-item--image" src="<%= course_thumb(course) %>">
          <% end %>
          <div class="store--course-item--info">
            <div class="store--course-item--info--publisher">
              <%= t(:published_by) %>
              <b><%= course.owner_name %></b>
            </div>         
            <p class="store--course-item--title">
              <%= course.short_description %>
            </p>
            <div class="store--course-item--footer">
              <span class="store--course-item--price"><%= number_to_currency(course.price) %></span>
              <%= link_to t(:buy),
                        backoffice_courses_carts_path(product: { id: course.product.id },
                        country: current_user.country),
                        method: :put, class: "store--course-item--buy-buttom" unless course.in?(current_user.courses) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>    
</div>
