<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/courses/index' %>
<div class="store-content">
  <%= render 'menu' %>  
  <%= render 'banner', banner: @banner %>
  <div class="store--course-container">
    <h2 class="store--course-section-title">
      <%= t(:featured_courses) %>
    </h2>
    <div class="store--course-item-container">
      <% @courses.each do |course| %>
        <div class="store--course-item">
          <%= link_to course_backoffice_store_path(course) do %>
            <img class="store--course-item--image" src="<%= course.path %>">
          <% end %>
          <div class="store--course-item--info">
            <div class="store--course-item--info--publisher">
              <%= t(:published_by) %>
              <b><%= course.owner_name %></b>
            </div>         
            <p class="store--course-item--title">
              <%= course.short_description %>
            </p>
            <div class="store--course-item--footer">
              <span class="store--course-item--price"><%= format_currency(course.price) %></span>
              <% unless user_signed_in? && course.in?(current_user.courses) %>
                <%= link_to t(:buy),
                          backoffice_courses_carts_path(product: { id: course.product.id },
                          country: current_user.country),
                          method: :put, class: "store--course-item--buy-buttom" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>      
</div>
