<%= stylesheet_link_tag 'click-tok-theme/games' %>
<div class="main-box">
<%= render 'menu' %>
<div class="banner-games">
  <div class="banner-games__content-left">
    <h3><%= t(:online_raffles).upcase  %></h3>
    <h1><%= t(:wait).upcase %></h1>
    <h2><%= t(:news_coming_soon).upcase  %></h2>
    <p><%= t(:the_best_raffles_will_be_here).upcase  %></p>
  </div>
  <div class="banner-games__content-right">
    <%= image_tag('nav-store/mulher.png') %>
  </div>
</div>
  <div class="cards-games">
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 591.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 592.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 593.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 594.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 595.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 596.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 597.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 598.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 599.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 601.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 602.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 603.png') %>
    </div>
  </div>
</div>
