<%= stylesheet_link_tag 'click-tok-theme/games' %>
<%= stylesheet_link_tag 'click-tok-theme/store' %>

<div class="main-box">
<%= render 'menu' %>
<div class="banner-games">
  <div class="banner-games__content-left">
    <h3>ONLINE GAMES</h3>
    <h1>WAIT</h1>
    <h2>NEWS COMING SOON</h2>
    <p>The best NFT games will be here</p>
  </div>
  <div class="banner-games__content-right">
    <%= image_tag('nav-store/celular.png') %>
  </div>
</div>
  <div class="cards-games">
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 591.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 592.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 593.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 594.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 595.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 596.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 597.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 598.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 599.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 601.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 602.png') %>
    </div>
    <div class="card-games">
      <%= image_tag('img-games/Retângulo 603.png') %>
    </div>
  </div>
</div>
