<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/index' %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<%= render 'menu' %>
<%= render 'banner',  banner: @banner %>    
<%= link_to winners_backoffice_raffles_path, class: 'link-winners' do %>
<i class="fa-solid fa-trophy"></i>
<span><%= t(:see_last_winners) %></span>
<i class="fa-solid fa-angles-left"></i>
<% end %>

<section class="store-content store-raffles-container">
  <% @packages.each do |package| %>
    <div class="store-raffle-item">
      <%= link_to backoffice_raffles_ticket_path(package.raffle), class: 'store-raffle-item-image-container' do %>
        <%= image_tag(package.main_photo_path, class: 'store-raffle-item-image') %>
      <% end %>
      <div class="store-raffle-item-info">
        <ul class="store-raffle-item-score">
          <li>
            <i>
              <%= t(:store_raffle_available) %>
            </i>
            <b>
              <%= available_raffle_tickets_count(package.raffle) %>
            </b>
          </li>
          <li>
            <i>
              <%= t(:store_raffle_reserved)%>
            </i>
            <b>
              <%= reserved_raffle_tickets_count(package.raffle) %>
            </b>
          </li>
          <li>
            <i>
              <%= t(:store_raffle_paid) %>
            </i>
            <b>
              <%= acquired_raffle_tickets_count(package.raffle) %>
            </b>
          </li>
        </ul>
        <h5>
          <%= package.name %>
        </h5>
        <p>
          <%= package.short_description %>
        </p>
        <div class="store-raffle-item-footer">
          <span>
            <%= format_currency(package.price) %>
          </span>
          <%= link_to backoffice_raffles_ticket_path(package.raffle) do %>
            <button>
              <%= t(:store_raffle__choose_numbers) %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>
