<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/raffles' %>

<h3 class="page-title">Store</h3>
<%= render 'menu' %>

<%= render 'banner',  badge_pretext_image: "stores/badge.svg",
                      date: "13/04/2022",
                      description: "Apple (128gb) Azul",
                      pretext: "Últimos Numeros",
                      price: "$ 20,00",
                      product_image: "temp/phone.png",                   
                      title: "Iphone 13 Pro" 
                    %>
<section class="store-content store-raffles-container">
  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>
  
  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

  <div class="store-raffle-item">
    <%= image_tag('temp/phone.png', class: 'store-raffle-item-image') %>     
    <div class="store-raffle-item-info">
      <ul class="store-raffle-item-score">
        <li>
          <i><%= t(:store_raffle_available) %></i>
          <b>100</b>
        </li>
        <li>
          <i><%= t(:store_raffle_reserved)%></i>
          <b>20</b>
        </li>
        <li>
          <i><%= t(:store_raffle_paid) %></i>
          <b>80</b>
        </li>
      </ul>
      <h5>Iphone 13 Pro Apple (128gb) Azul</h5>
      <p>
        Iphone 13 Apple (128GB) Meia-Noite, Tela 6,1 e Camera Dubla de 12MP
      </p>
      <div class="store-raffle-item-footer">
        <span>$10,90</span>
        <button><%= t(:store_raffle__choose_numbers) %></button>
      </div>
    </div>
  </div>

</section>










<div class="main-box">
  <% @packages.each do |package| %>
        <span class="raffle-title"> <%= package.name %> </span>
        <%= image_tag(package.raffle.path, class: 'raffle-img') %>
        <span class="numbers-available-title"> <%= t(:tickets_available) %> </span>
        <span class="numbers-available"> <%= available_raffle_tickets_count(package.raffle) %> </span>        
        <span class="type-raffle-title"><%= t(:type) %></span>
        <span class="type-raffle"><%= I18n.t("activerecord.enums.raffle.kind.#{package.raffle.kind}").humanize %></span>         
        <span class="raffle-value-title"><%= t(:price) %></span>
        <span class="raffle-value"> <%= number_to_currency(package.price, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %></span>       
        <%= link_to backoffice_raffles_ticket_path(package.raffle), class: 'raffle-button' do %>
          <button class="raffle-button"><%= t(:select) %></button>
        <% end %>
  <% end %>
</div>
