<%= stylesheet_link_tag 'click-tok-theme/stores/index' %>

<h3 class="page-title">Store</h3>
<%= render 'menu' %>
<%= render 'banner', banner = { badge_pretext_image: "stores/badge.svg",
                                date: "13/04/2022",
                                description: "Apple (128gb) Azul",
                                pretext: "Últimos Numeros",
                                price: "$ 20",
                                product_image: "temp/phone.png",                   
                                title: "Iphone 13 Pro" 
                              } %>
<div class="main-box">
  <% @packages.each do |package| %>
        <span class="raffle-title"> <%= package.name %> </span>
        <%= image_tag(package.raffle.path, class: 'raffle-img') %>
        <span class="numbers-available-title"> <%= t(:tickets_available) %> </span>
        <span class="numbers-available"> <%= available_raffle_tickets_count(package.raffle) %> </span>        
        <span class="type-raffle-title"><%= t(:type) %></span>
        <span class="type-raffle"><%= I18n.t("activerecord.enums.raffle.kind.#{package.raffle.kind}").humanize %></span>         
        <span class="raffle-value-title"><%= t(:price) %></span>
        <span class="raffle-value"> <%= number_to_currency(package.price, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %></span>       
        <%= link_to backoffice_raffles_ticket_path(package.raffle), class: 'raffle-button' do %>
          <button class="raffle-button"><%= t(:select) %></button>
        <% end %>
  <% end %>
</div>