<%= stylesheet_link_tag 'raffle-third-parties-cart/index.css' %>

<div class="main-container">
  <a class="back-button" href="<%= backoffice_financial_dashboard_index_path %>">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="white"
      class="bi bi-arrow-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
      />
    </svg>
  </a>
  <span class="main-title"><%= t(:third_parties_payment) %></span>
  <%= form_tag backoffice_raffle_third_parties_carts_path, method: :get, class: "form-search-order" do %>
    <p><%= t(:order_search) %></p>
    <div class="container-form-input">
      <%= text_field_tag :hashid, @order&.hashid, class: 'input-search-order' %>
      <%= submit_tag t('datagrid.form.search'), class: 'button-apply' %>
    </div>
  <% end %>
  <% if @order.present? %>
    <div class="container-raffles-parties">
      <% @order.products.includes(:raffle).uniq.each do |product| %>
        <div class="card-raffle-cart">
          <img
            class="img-raffle-parties"
            src="<%= product.raffle.path %>"
            alt="<%= t(:raffle_image) %>"
          />
          <div class="container-raffle-cart">
            <div class="container-raffle-top">
              <span class="small-text"><%= t(:id) %> </span>
              <span class="text-bold"><%= product.raffle.hashid %></span>
            </div>
            <div class="container-raffle-bottom">
              <span class="small-text"><%= t(:raffle_status) %></span>
              <span class="text-bold raffle-status status-waiting"><%= product.raffle.status %></span>
            </div>
          </div>
          <div class="container-raffle-cart">
            <div class="container-raffle-top">
              <span class="small-text"><%= t(:raffle_name) %></span>
              <span class="text-bold"><%= product.raffle.title %></span>
            </div>
            <div class="container-raffle-bottom">
              <span class="small-text"><%= t(:order_status) %></span>
              <div class="raffle-status status-waiting"><%= @order.status %></div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="cart-details">
        <div class="detail-container">
          <span class="cart-detail__text"> <%= t(:order_owner) %> </span>
          <span class="cart-detail__text-bold"> <%= @order.user.username %> </span>
        </div>
        <div class="detail-container">
          <span class="cart-detail__text"> <%= t(:available_balance) %> </span>
          <span class="cart-detail__text-bold"> <%= number_to_currency(current_user.available_balance).gsub('USD ', '$ ') %> </span>
        </div>
        <div class="detail-container">
          <span class="cart-detail__text"> <%= t(:quantity) %> </span>
          <span class="cart-detail__text-bold"> <%= @order.order_items.size %> </span>
        </div>
        <div class="detail-container">
          <span class="cart-detail__text"> <%= t(:total) %> </span>
          <span class="cart-detail__text-bold"> <%= number_to_currency(@order.total).gsub('USD ', '$ ') %> </span>
        </div>
        <div class="detail-container">
          <span class="cart-detail__text"> <%= t(:cashback) %> </span>
          <span class="cart-detail__text-bold"> <%= number_to_currency(@order.total/10).gsub('USD ', '$ ') %> </span>
        </div>
        <button class="btn-checkout">
          <%= link_to t(:make_payment), backoffice_raffle_third_parties_checkout_path(order_id: @order.hashid), method: :post %>
        </button>
      </div>
    </div>
  <% end %>
</div>
