<div class="container-cards">
  <%= render 'backoffice/admin/dashboard/container_cards/bitcoin_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/ethereum_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/usdt_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/usd_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/course_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/package_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/publicity_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/cripto_card' %>
</div>
