<div class="container-cards">
  <%= render 'backoffice/admin/dashboard/container_cards/bitcoin_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/pools_total_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/pools_total_plus_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/total_balance_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/course_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/package_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/publicity_card' %>
  <%= render 'backoffice/admin/dashboard/container_cards/cripto_card' %>
</div>
