<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'charts' %>
<%= stylesheet_link_tag 'click-tok-theme/admin-dashboard' %>

<div class="container-dashboard-admin">
  <%= render 'container_cards' %>
  <%= render 'container_graphs' %>
  <%= render 'container_cards_bottom' %>
</div>
