<%= javascript_include_tag 'charts' %>

<div class="container">
<div class="row"  id="dashboard">
    <div class="left-panel">
        <%=  link_to shop_index_path, class: 'item1'  do%>
            <%= image_tag 'icons/loja1.png', class: 'img img-responsive' %>
            Loja    
        <% end%>

        
        <a href="#"
        class="item2"
        sponsor-link="<%= new_user_registration_url(sponsor: current_user.username) %>"
        id="sponsor-link"
        title='<%= t(:copied_sponsor_link) %>'
        message='<%= t(:copied_sponsor_link_message) %>'>
        <%= image_tag 'icons/link1.png', class: 'img img-responsive' %>
        
            <%= t(:sponsor_link) %>
       
    
        </a>
           
       

        <%=  link_to '#', class: 'item3'  do%>
            <%= image_tag 'icons/clicks1.png', class: 'img img-responsive' %>
            Pack Click Cash
        <% end%>

        <%=  link_to backoffice_banners_path, class: 'item4'  do%>
            <%= image_tag 'icons/publicidade1.png', class: 'img img-responsive' %>
            Ver Publicidade
        <% end%>

        <%=  link_to '#', class: 'item5'  do%>
            <%= image_tag 'icons/CHARMAIN1.png', class: 'img img-responsive' %>
            Título de Liderança
        <% end%>

        <%=  link_to backoffice_unilevel_index_path(user: current_user), class: 'item6'  do%>
            <%= image_tag 'icons/rede1.png', class: 'img img-responsive' %>
            Rede
        <% end%>

        <%=  link_to '#', class: 'item7'  do%>
            <%= image_tag 'icons/indicados1.png', class: 'img img-responsive' %>
            Meus Indicados
        <% end%>

        <%=  link_to '#', class: 'item8'  do%>
            <%= image_tag 'icons/ativo1.png', class: 'img img-responsive' %>
            Member
        <% end%>

        <%=  link_to '#', class: 'item9'  do%>
            <%= image_tag 'icons/inativo1.png', class: 'img img-responsive' %>
            Basic
        <% end%>

        <%=  link_to '#', class: 'item10'  do%>
            <%= image_tag 'icons/ativo1.png', class: 'img img-responsive' %>
            Click
        <% end%>

        <%=  link_to '#', class: 'item11'  do%>
            <%= image_tag 'icons/inativo1.png', class: 'img img-responsive' %>
            Executive
        <% end%>

        <%=  link_to new_backoffice_deposit_path, class: 'item12'  do%>
            <% if current_user.active? %>
                <%= image_tag 'icons/ativo11.png', class: 'img img-responsive' %>
            <% else %>
                <%= image_tag 'icons/ativo21.png', class: 'img img-responsive' %>
            <% end %>
            <%= t(:account_status) %>

        <% end%>

        <%=  link_to backoffice_admin_orders_path, class: 'item13'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.orders') %>
        <% end%>

        <%=  link_to backoffice_admin_credits_debit_path(:find_user), class: 'item14'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.credits_debits') %>
            
        <% end%>

        <%=  link_to backoffice_admin_financial_transactions_path, class: 'item15'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.financial_transactions') %>
            
        <% end%>
        <%=  link_to backoffice_admin_withdrawals_path, class: 'item16'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.manage_withdrawals') %>
            
        <% end%>

    </div>

    <div class="right-panel">
        <%=  link_to new_backoffice_withdrawal_path, class: 'item1'  do%>
            <%= image_tag 'icons/retirada1.png', class: 'img img-responsive' %>
            <%= t('defaults.new_withdraw') %>
        <% end%>

        <%=  link_to backoffice_balance_transferences_path, class: 'item2'  do%>
            <%= image_tag 'icons/troca1.png', class: 'img img-responsive' %>
            <%= t('defaults.balance_transferences') %>
        <% end%>

        <%=  link_to backoffice_bonus_contracts_path, class: 'item3'  do%>
            <%= image_tag 'icons/relatorio1.png', class: 'img img-responsive' %>
            <%= t('defaults.unilevel') %>
        <% end%>

        <%=  link_to backoffice_financial_transactions_path, class: 'item4'  do%>
            <%= image_tag 'icons/saldo1.png', class: 'img img-responsive' %>
            <%= available_balane(current_user) %>
            Saldo Disponível
            
        <% end%>

        <%=  link_to backoffice_financial_transactions_path, class: 'item5'  do%>
            <%= image_tag 'icons/saldo11.png', class: 'img img-responsive' %>
            <%= blocked_balance(current_user) if ENV['ENABLED_BLOCKED_BALANCE'] == 'true' %>
            Saldo Bloqueado
            
        <% end%>

        <%=  link_to backoffice_financial_transactions_path, class: 'item6'  do%>
            <%= image_tag 'icons/troca11.png', class: 'img img-responsive' %>
            <%= order_payment_balance(current_user) %>
            Saldo Transferência
            
        <% end%>

        <%=  link_to '#', class: 'item7'  do%>
            <%= image_tag 'icons/relatorio_11.png', class: 'img img-responsive' %>
            Histórico Financeiro
        <% end%>

        <%=  link_to '#', class: 'item8'  do%>
            Relatório de saque
            <% current_user.withdrawals.last(10).each do |w| %>
                <%= w.create_at %>
            <% end%>
        <% end%>

        <%=  link_to backoffice_order_payments_path, class: 'item9'  do%>
            <%= image_tag 'icons/fatura1.png', class: 'img img-responsive' %>
            <%= t('defaults.order_payment') %>
        <% end%>

        <%=  link_to '#', class: 'item10'  do%>
            <%= image_tag 'icons/suporte1.png', class: 'img img-responsive' %>
            Suporte
        <% end%>

        <%=  link_to backoffice_downloads_path, class: 'item11'  do%>
            <%= image_tag 'icons/apoio1.png', class: 'img img-responsive' %>
            <%= t(:download_support_material) %>
        <% end%>

        <%=  link_to new_backoffice_admin_expense_path, class: 'item16'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.expenses') %>
            
        <% end%>
        <%=  link_to backoffice_admin_bonus_contracts_path, class: 'item17'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.unilevel') %>
            
        <% end%>
        <%=  link_to backoffice_admin_financial_reports_path, class: 'item18'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.financial_reports') %>
            
        <% end%>
        
        <%=  link_to backoffice_support_users_path, class: 'item19'  do%>
            <i class="fas fa-user-shield"></i> <%= t('defaults.users') %>
           
        <% end%>         

      
    </div>
</div>
</div>