<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('defaults.bonus_contracts') %></h4>
  </div>
</div>

<%= render 'filters' %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover m-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= Score.human_attribute_name(:order) %></th>
                  <th><%= Score.human_attribute_name(:amount) %></th>
                  <th><%= Score.human_attribute_name(:pool_points) %></th>
                  <th><%= Score.human_attribute_name(:contract_balance) %></th>
                  <th><%= Score.human_attribute_name(:in_date) %></th>
                  <th><%= Score.human_attribute_name(:expire_at) %></th>
                  <th><%= Score.human_attribute_name(:status) %></th>
                  <th><%= Score.human_attribute_name(:processed_at) %></th>
                </tr>
              </thead>
              <tbody>
                <% if @bonus_contracts.any? %>
                  <% @bonus_contracts.each do |bonus_contract| %>
                    <% order = bonus_contract.try(:order) %>
                    <tr>
                      <td> <%= link_to(bonus_contract.hashid, backoffice_bonus_contract_path(bonus_contract)) %> </td>
                      <td> <%= link_to(order.try(:hashid), backoffice_order_path(order)) if order %> </td>
                      <td> <%= number_to_currency(order.total) %> </td>
                      <td> <%= bonus_contract.cent_amount %></td>
                      <td> <%= number_to_currency(bonus_contract.calculate_remaining_balance.to_i) %></td>
                      <td> <%= l(bonus_contract.try(:created_at), format: :short) %></td>
                      <td> <%= l(bonus_contract.expire_at, format: :long) if bonus_contract.expire_at %></td>
                      <td> <%= bonus_contract_status(bonus_contract) %></td>
                      <td> <%= l(bonus_contract.paid_at, format: :long) if bonus_contract.paid_at %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="50" class="text-center"><%= t('helpers.no_data') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @bonus_contracts if @bonus_contracts.any? %>
        </div>
      </div>
    </div>
  </div>
</div>
