<%= stylesheet_link_tag 'click-tok-theme/cart' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffles_carts/show' %>
  <div class="raffle-tickets-header-container">
    <%= link_to raffles_backoffice_stores_path, class: 'back-button' do %>
      <svg xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16" >
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    <% end %>
    <h4 class="raffle-tickets--page-title"><%= t(:cart) %></h4>
  </div>
<%= form_tag backoffice_raffles_checkout_path do |f| %>
  <div class="cart-raffles-container">
    <% cart_price = 0 %>
    <% @current_raffles_cart.products.includes(:raffle).uniq.each do |product| %>
      <% order_items = product.order_items.includes(:raffle_ticket).where(order: @current_raffles_cart) %>
      <div class="cart-item">
        <div class="cart-courses__item__image" style="display: flex; flex-direction: column;">
          <span title="<%= product.name %>" class="raffle-cart-name" >
            <%= product.name %>
          </span>
          <div class="cart-courses__id" style="width: auto;">
            <span class="cart-courses__item__id">ID: <b><%= product.raffle.hashid %></b></span>
          </div>
          <%= image_tag(product.raffle.path, style: "margin-left: 0;") %>
        </div>
        <div class="middle-container">
          <h5 class="numbers-title">
            <%= t(:numbers_selected) %>
          </h5>
          <div class="ticket-container">
            <% order_items.includes(raffle_ticket: :raffle).each do |order_item| %>
              <div class="ticket-number">
                <%= raffle_ticket_number_format(order_item.raffle_ticket) %>
                <%= link_to '✖', backoffice_raffles_carts_path(order_item_id: order_item.id), method: :delete, class: 'remove-ticket' %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="cart-courses__item__value">
          <%
          raffle_price = product.price * order_items.size
          cart_price = cart_price + raffle_price
          %>
          <span><%= format_currency(raffle_price) %></span>
        </div>
      </div>
    <% end %>
  </div>
    <div class="cart-courses__item__value total-price">
      <span class="total-text"><%= t(:total) %>: </span>
      <span><%= format_currency(cart_price) %></span>
    </div>
  <div class="payment-method">
    <div class="cart-courses__title">
      <span>
        <%= t(:payment_method) %>
      </span>
    </div>
    <div class="ch-payment-buttons-area">
      <% if current_user.orders.completed.includes(order_items: :product).where(order_items: { products: { kind: :deposit }}).any? %>
      <div class="btn btn-tab" onclick="showBalanceInput()">
        <%= image_tag('icons/troca1.png', class: 'icons') %>
        <%= t(:balance) %>
      </div>
      <% end %>
      <div class="btn btn-tab" onclick="showPromotionalBalanceInput()">
        <%= image_tag('icons/troca1.png', class: 'icons') %>
        <%= t(:promotional_balance) %>
      </div>
      <% if ActiveModel::Type::Boolean.new.cast(ENV['PAGSTAR_ACTIVE']) %>
        <div class="btn btn-tab" onclick="showPixInput()">
          <%= image_tag('icons/pix-p.svg', class: 'icons') %>
          <%= t(:pix) %>
        </div>
      <% end %>
      <div class="btn btn-tab" onclick="showBitCoinInput()">
        <%= image_tag('icons/bitcoin.svg', class: 'icons') %>
        <%= t(:btc) %>
      </div>
      <input type="hidden" name="payment_method" id="payment_method" value=''>
    </div>
    <% if current_user.document_cpf.blank? && current_user.name.blank? %>
      <div class="container-inputs-raffle">
        <div class="container-input-raffle">
          <label class="label-input-raffle">
            <%= t(:document_id) %>
          </label>
          <div class="input-raffle-field">
            <input class="input-raffle cpf-mask" type="text" name="document_id" id="document_id" value='<%= current_user.document_cpf %>'>
          </div>
        </div>
        <div class="container-input-raffle">
          <label class="label-input-raffle">
            <%= t(:name) %>
          </label>
          <div class="input-raffle-field">
            <input class="input-raffle" type="text" name="user_name" id="user_name" value='<%= current_user.name %>'>
          </div>
        </div>
      </div>
    <% end %>
    <div class="ch-buy-action-button">
      <%= button_tag t(:checkout), class: 'login', data: { disable_with: '<i class="fas fa-spinner fa-spin"></i>'  } %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'click-tok-theme/cart' %>
<%= javascript_include_tag 'click-tok-theme/active-btn-tabs' %>
