<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title"><%= t('.title') %></h4>
    <p class="text-muted page-title-alt"><%= t('.subtitle') %></p>
  </div>
</div>

<%= render 'filters', q: q %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <table class="table table-bordered table-hover m-0">

            <thead>
              <tr>
                <th>#</th>
                <th><%= FinancialEntry.human_attribute_name(:description) %></th>
                <th><%= FinancialEntry.human_attribute_name(:from) %></th>
                <th><%= FinancialEntry.human_attribute_name(:to) %></th>
                <th><%= FinancialEntry.human_attribute_name(:type) %></th>
                <th><%= sort_link(q, :amount_cents, FinancialEntry.human_attribute_name(:amount)) %></th>
                <th><%= sort_link(q, :created_at, FinancialEntry.human_attribute_name(:created_at), default_order: :desc) %></th>
              </tr>
            </thead>
            <tbody>
              <% financial_entries.each do |financial_entry| %>
                <tr>
                  <th><%= financial_entry.id %></th>
                  <th><%= financial_entry.description %></th>
                  <th><%= financial_entry.from_user.try(:username) %></th>
                  <th><%= financial_entry.to_user.try(:username) %></th>
                  <td><%= t financial_entry.kind %></td>
                  <td><%= number_to_currency financial_entry.amount %></td>
                  <td><%= l financial_entry.created_at, format: :short %></td>
                </tr>
              <% end %>
              <% if financial_entries.empty? %>
                <tr>
                  <td colspan="7" class="text-center"><%= t('.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate financial_entries %>

        </div>
      </div>
    </div>
  </div>
</div>
