<%= simple_form_for([:backoffice, :admin, @ticket],
                    validate: true,
                    html: { class: 'form-horizontal',
                            multipart: true }) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="m-b-20">
  	  	<%= f.label t('attributes.user') %><br>
  	  	<%= f.select :attendant_user_id,
  	  	             User.where.not(id: current_user.id).order(:name).map { |user| [user.name, user.id] },
																												  	              { class: 'form-control input-sm' } %>
	  	</div>
  	</div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="m-b-20">
  	  	<%= f.label t('attributes.subject') %><br>
  	  	 <%= f.select :subject_id,
                      Subject.where(active:  true).map { |subject| [subject.name, subject.id] },
                            				  								 { class: 'form-control input-sm' } %>
	  	</div>
  	</div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="m-b-10">
  	  	<%= f.label t('attributes.title') %><br>
  	  	<%= f.input :title, label: false %>
	  	</div>
  	</div>
  </div>
	<div class="row">
		<div class="col-lg-12">
      <div class="m-b-20">
				<%= f.input :body, as: :text, label: false, class: '' %>
			</div>
      <%= f.file_field :files, multiple: true, direct_upload: true %>
		</div>
	</div>
	<br><br>	
  <%= f.submit class: 'btn btn-default', style: "background-color: #81C868 !important; border-color: #81C868 !important",
               data: { disable_with: disable_spinner.html_safe } %>
  <%= link_to backoffice_admin_tickets_path, class: 'btn btn-primary waves-effect waves-light' do %>
    <%= t('views.backoffice.admin.tickets.index.return_to_tickets') %>
  <% end %>
<% end %>
