<%= simple_form_for([:backoffice, :admin, @ticket, @interaction],
                    validate: true,
                    html: { class: 'form-horizontal',
                            multipart: true }) do |f| %>

    <div class="row">
      <div class="col-lg-2 m-b-15">
          <%= f.select :status, Ticket.statuses.keys.map { |key| [t(key), key] },
                                                         { class: 'form-control input-sm' } %>
      </div>
    </div>
    <br>                        
    <div class="row">
      <div class="col-lg-12 m-b-20">
        <%= f.input :body, as: :text, label: false %>
        <%= f.file_field :files, multiple: true %>
      </div>
    </div>
    <br>
    <%= f.submit t('views.backoffice.admin.tickets.show.interaction.new'),
                 class: 'btn btn-success',
                 data: { disable_with: disable_spinner.html_safe } %>
<% end %>
