<tr>
  <td><%= ticket.id %></td>
  <td><%= t("defaults.#{ticket.subject.name.downcase.gsub(/\s/, '_')}") %></td>
  <td><%= ticket.user.username %></td>
  <% if ticket.status == 'waiting' %>
    <td class="support-report-status-aguar">
  <% elsif ticket.status == 'answered' %>
    <td class="support-report-status-resp">
  <% else %>
    <td class="support-report-status-fin">
  <% end %>
    <span><%= t("views.backoffice.tickets.index.status.#{ticket.status}") %></span>
  </td>
  <td><%= l(ticket.created_at, format: '%B %d, %Y' ) %></td>
  <td><%= l(ticket.finished_at, format: '%B %d, %Y' ) if ticket.finished_at%></td>
  <td>
    <%= link_to backoffice_admin_ticket_path(ticket), class: 'action-edit' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
    <% end %>
    <%= link_to(backoffice_admin_ticket_path(ticket),
                class: 'action-remove',
                method: :delete,
                data: { confirm: t('defaults.confirm_removal') }
                ) do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewbox="0 0 16 16">
        <path
          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
      </svg>
    <% end %>
  </td>
</tr>
