<div class="row">
    <div class="col-sm-12 m-b-23">
        <h4 class="page-title">Aprovação de documentos</h4>
    </div>
</div>

<div class="card-box">
  <div class="row">
    <%= form_tag backoffice_support_documents_validation_index_path, method: :get do %>
    <div class="col-md-4 form-group">
      <label for="">Username:</label>
      <%= select_tag(:document_verification_status, options_for_select(User.document_verification_statuses.keys.map {|k| [t(k), k]}, params[:document_verification_status]), include_blank: t('all'), :onchange => "this.form.submit();", class: 'form-control') %>
    </div>
    <div class="col-md-12 m-b-30">
      <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Username</th>
        <th>Status</th>
        <th>Última Alteração de Documento</th>
      </tr>
    </thead>
    <tbody>
      <% @non_verified_accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= link_to_user account, target: '_blank' %></td>
        <td><%= t account.document_verification_status %></td>
        <td><%= account.document_verification_updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @non_verified_accounts %>
</div>
