<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title"><%= t('.title') %></h4>
    <p class="text-muted page-title-alt"><%= t('.subtitle') %></p>
  </div>
</div>

<% if binary_node.present? %>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <td><strong><%= t('.left_pv') %></strong></td>
          <td><%= binary_node.left_pv %></td>
        </tr>
        <tr>
          <td><strong><%= t('.right_pv') %></strong></td>
          <td><%= binary_node.right_pv %></td>
        </tr>
        <tr>
          <td><strong><%= t('.username') %></strong></td>
          <td><%= current_user.username %> (<%= t current_user.career_kind %>)</td>
        </tr>
        <tr>
          <td><strong><%= t('.sponsor') %></strong></td>
          <td><%= current_user.sponsor && current_user.sponsor.username %></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <% if current_user.binary_node.present? %>
        <!-- Controls -->
        <div class="row">
          <div class="col-md-6">
            <button data-binary-tree-top class="btn btn-icon waves-effect btn-default waves-light">
              <i class="fa fa-angle-double-up"></i>
            </button>
            <button data-binary-tree-parent class="btn btn-icon waves-effect waves-light btn-primary">
              <i class="fa fa-angle-up"></i>
            </button>
          </div>
          <div class="col-md-6">
            <div class="input-group" data-binary-tree-search>
              <span class="input-group-btn">
                <button type="button" class="btn waves-effect waves-light btn-default"><i class="fa fa-search"></i></button>
              </span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
        <!-- Binary Tree -->
        <div class="row">
          <div class="col-lg-12">
            <div id="binary-tree" data-binary-tree style="min-height: 400px"></div>
          </div>
        </div>
        <!-- Careers -->
        <div class="row">
          <div class="col-lg-12">
            <div class="friend-list text-center">
              <% Career.find_each do |career| %>
                <div class="career-legend m-l-10 m-r-10">
                  <%= cl_image_tag(career.thumbnail, class: 'img-circle thumb-md') %>
                  <h5><%= career.name %></h5>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="alert alert-warning">
          <%= t('.no_binary_node') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>

  window.user_binary_node_id = <%= user_binary_node_id %>;

</script>
