<%= link_to :back, class: 'btn btn-primary btn-sm' do %>
  &larr; Voltar
<% end %>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= @subscription.car_model.name %> - <%= @subscription.plate %></h4>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box m-b-20 card-body">
            <h5 class="card-title">Tipo de Mensalidade</h5>
            <p class="card-text"><%= @subscription.car_model.club_motors_fee.name %> - (<%= @subscription.car_model.car_brand.name %>) <%= @subscription.car_model.name %></p>
            <a href="#" class="btn btn-success"><%= number_to_currency @subscription.calculate_price_cents / 1e2 %>/mês</a>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card-box clearfix">
      <%= simple_form_for @subscription, url: backoffice_club_motors_vehicle_path(@subscription) do |f| %>
        <%= f.input :chassis, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :cnpj_cpf, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :owner_name, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :manufacture_year, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :model_year, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :fuel, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.fuels.map {|k,v| [t(k), k]}, disabled: true %>
        <%= f.input :mileage, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :renavam, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :gearbox, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.gearboxes.map {|k,v| [t(k), k]}, disabled: true %>
        <%= f.input :taxi, wrapper_html: { class: 'col-sm-3' }, collection: [['Sim', true], ['Não', false]], disabled: true %>
        <%= f.input :mercosul_code, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.mercosul_codes.map {|k,v| [t(k), k]}, disabled: true %>
        <%= f.input :color, wrapper_html: { class: 'col-sm-3' }, disabled: true %>
        <%= f.input :color_type, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.color_types.map {|k,v| [t(k), k]}, disabled: true %>
        <%= f.input :origin, wrapper_html: { class: 'col-sm-3' }, collection: ClubMotorsSubscription.origins.map {|k,v| [t(k), k]}, disabled: true %>

      <% end %>
    </div>
  </div>
</div>