<%= form_for([:backoffice, :admin, @banner], html: { role: 'form' }) do |f| %>
  <div class="text-left m-t-30">
    <table class="table table-striped">
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label :link %></strong></td>
        <td><%= f.text_field :link, class: 'form-control', placeholder: t(:link) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label :image %></strong></td>
        <td><%= f.attachinary_file_field :image, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label :banner_store %></strong></td>
        <td>
          <%= f.collection_select :banner_store_id, BannerStore.active, :id, :title, {prompt: t(:select_store) }, { class: 'form-control' } %>
        </td>
      </tr>
      <tr>
        <td style="vertical-align: middle; text-align: center;">
          <%= f.label :active %>
        </td>
        <td> <%= f.check_box :active %></td>
      </tr>
    </table>
    <%= f.submit class: 'btn btn-primary pull-right' %>
    <%= link_to t('new'), [:new, :backoffice, :admin, :banner], class: 'btn btn-primary' if params[:action] == 'edit' %>
    <%= link_to t('see_all'), [:backoffice, :admin, :banners], class: 'btn btn-primary' %>
    <br>
  </div>
<% end %>
