<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<%= render 'backoffice/sim_cards/filters' %>

<% if @consultant %>
<div class="row">
  <div class="col-sm-12">
    <%= form_tag '' do %>
      <div class="form-row align-items-center">
        <div class="col-sm-6">
          <%= text_field_tag :sim_card_iccid, '', class: 'form-control',
                                                  placeholder: SimCard.human_attribute_name(:iccid).to_s.downcase,
                                                  id: 'iccid' %>
          <%= hidden_field_tag :username, params[:q].try(:fetch, :username_eq), name: 'sim_cards[username]' %>
        </div>
        <div class="col-auto my-1">
          <%= submit_tag t('helpers.submit.sim_card_transfer'), class: 'btn btn-primary',
                                                                id: 'send-iccids',
                                                                disabled: true %>
        </div>
      </div>
      <div class="form-row">
        <ul id="iccids-hidden">
        </ul>
      </div>
    <% end %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-sm-12" style="margin-top: 10px;">
    <ul id="iccids">
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <p><strong><%= t('defaults.user_sim_cards') %>: </strong> &nbsp;&nbsp; <%= link_to @consultant.try(:username), '' %></p>
        <p><strong> <%= t('attributes.quantity') %>: &nbsp;&nbsp;</strong><%= @consultant_sim_cards.size %> </p>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
          <table class="table table-striped table-bordered m-0">
            <h2>
            <thead>
              <tr>
                <th> # </th>
                <th> <%= SimCard.human_attribute_name(:iccid) %> </th>
                <th> <%= SimCard.human_attribute_name(:status) %> </th>
                <th> <%= SimCard.human_attribute_name(:phone_number) %> </th>
              </tr>
            </thead>
            <tbody id="sim-cards">
              <% @consultant_sim_cards.each do |sim_card| %>
                <tr class="added" id='<%= sim_card.hashid %>'>
                  <td> <%= sim_card.hashid %> </td>
                  <td> <%= sim_card.iccid %> </td>
                  <td> <%= t("attributes.#{sim_card.status}") %> </td>
                  <td> <%= hide_last_four_digits(sim_card.phone_number) if sim_card.phone_number %> </td>
                </tr>
              <% end %>
              <% if @consultant_sim_cards.empty? %>
                <tr>
                  <td colspan="10" class="text-center"><%= t('views.backoffice.orders.index.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
          <%= paginate(@consultant_sim_cards) if @consultant_sim_cards.any? %>
        </div>
      </div>
    </div>
  </div>
</div>
