<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
  			<h3 class="panel-title"><%= t(:filters) %></h3>
  		</div>
      <div class="panel-body">
        <%= search_form_for @q, url: backoffice_admin_point_qualifications_path do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-1">
                <%= f.radio_button :source_leg_eq, Score.source_legs[:left], checked: true %>
                <strong> <%= t('defaults.source_leg_left') %> </strong>
              </div>
              <div class="col-md-1">
                <%= f.radio_button :source_leg_eq, Score.source_legs[:right] %>
                <strong> <%= t('defaults.source_leg_right') %> </strong>
              </div>
              <div class="col-md-2">
                <%= f.label t('attributes.from') %>
                <%= f.search_field :created_at_gteq, class: 'form-control input-sm',
                                                     data: { provide: 'datepicker' } %>
              </div>
              <div class="col-md-2">
                <%= f.label t('attributes.until') %>
                <%= f.search_field :created_at_lteq, class: 'form-control input-sm',
                                                     data: { provide: 'datepicker' } %>
              </div>
              <div class="col-md-1">
                <strong> <%= t('attributes.username') %> </strong>
                <%= f.search_field :user_username_eq, class: 'form-control input-sm' %>
              </div>
            </div>
          </div>
          <%= f.submit t('datagrid.form.search'), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
