<!-- Right Sidebar -->
<div class="side-bar right-bar nicescroll">
    <h4 class="text-center"><%= t('cart.title') %></h4>
    <div class="nicescroll">
      <ul class="list-group order-items-list">
        <% current_order.order_items.each do |order_item| %>
        <li class="list-group-item">
          <%= link_to backoffice_product_path(order_item.product) do %>
            <div class="avatar">
              <%= cl_image_tag order_item.product.thumbnail %>
            </div>
            <span class="name"><%= order_item.product.name %></span>
            <span class="pull-right"><strong>x <%= order_item.quantity %></strong></span>
          <% end %>
        </li>
        <% end %>

        <li class="list-group-item">
          <%= link_to t('cart.see_cart'), backoffice_cart_path, class: "btn btn-primary btn-block" %>
        </li>
      </ul>
    </div>
</div>
<!-- /Right-bar -->
