<div class="admin-dashboard__card" id="total_balance_card">
  <span class="card__total-balance"><%= t(:total_balance) %></span>
  <div class="card__container-bottom">
    <div class="card__currency">
      <%= image_tag('admin-dashboard/btc.svg') %>
      <%= t(:btc_bitcoin) %>
    </div>
    <span class="card__balance"><%= number_to_currency(@index.total_balance, unit: 'BTC', precision: 8) %></span>
    <span class="card__botom-value"><%= number_to_currency(@index.total_balance_dollar, unit: 'USD', precision: 2) %></span>
  </div>
</div>
