<p><%= t(:dear_associate) %>, <%= @user.email %></p>

<br>

<p><%= t('success_withdrawal', value: number_to_currency(@withdrawal.gross_amount_cents), wallet: @user.wallet_address) %></p>

<br>
<span>
  <%= t(:financial_department_footer, company_name: ENV['COMPANY_NAME']).html_safe %>
</span>
<br>

<p><%= link_to t('withdrawals_history'), backoffice_withdrawals_url(locale: @locale) %></p>
