<p><%= t(:dear_associate) %>, <%= @user.email %></p>

<br>

<p><%= t('rejected_withdrawal', support_email: ENV['SUPPORT_EMAIL']) %></p>
<p><%= t(:reason) %>: <%= @withdrawal.note %></p>
<br>
<span>
  <%= t(:financial_department_footer, company_name: SystemConfiguration.company_name).html_safe %>
</span>
<br>

<p><%= link_to t('withdrawals_history'), backoffice_withdrawals_url(locale: params[:locale]), class: 'btn-email-green' %></p>
