<p><%= t(:dear_associate) %>, <%= @user.email %></p>

<br>

<p><%= t('waiting_withdrawal', value: number_to_currency(@withdrawal.gross_amount_cents), hashid: @withdrawal.hashid, net_value: number_to_currency(@withdrawal.net_amount_cents)).html_safe %></p>

<br>

<p>
  <%= t('can_confirm_withdraw') %>
  <%= link_to t('here'), edit_backoffice_withdrawal_url(@withdrawal, locale: @locale) %>
</p>

<br>
<span style="color:#808080;">
  <%= t(:financial_department_footer, company_name: ENV['COMPANY_NAME']).html_safe %>
</span>
<br>

<p><%= link_to t('withdrawals_history'), backoffice_withdrawals_url(locale: @locale) %></p>
