<p><%= t(:dear_associate)%>, <%= @user.name %></p>

<br>

<p><%= t(:waiting_email_reativation, email: @email.body) %></p>

<br>

<p>
  <%= t(:can_confirm_email_change) %>
  <%= link_to t('here'), edit_users_email_url(@email, locale: @locale, path: :email) %>
</p>

<br>
<p><%= t(:support_director_footer, company_name: SystemConfiguration.company_name).html_safe %></p>
<br>

<p><%= link_to t('users.emails.edit.emails_list'), users_emails_url(locale: @locale) %></p>
