<%= stylesheet_link_tag 'click-tok-theme/team_dashboard' %>
<%= stylesheet_link_tag 'click-tok-theme/financial_dashboard' %>
<%= stylesheet_link_tag 'click-tok-theme/orders' %>
<div>
  <div class="page">
    <a class="back-button" href="/backoffice/dashboard?locale=en">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </a>
    <div class="f-balance-area">
      <div class="balance-title t-break-line">
      <%= link_to backoffice_direct_nominees_list_index_path, class:'text-white' do %>
        <%= t(:my) %>
        <span><%= t(:community) %></span>
        <% end %>
      </div>

      <div class="balance-value">
        <%= @unilevel_nodes.count %>
      </div>
    </div>
    <%= form_tag(backoffice_team_dashboard_index_path, method: :get) do %>
      <div class="login-fields t-fw">
        <div class="field-icon">
          <%= image_tag('icons/search.svg') %>
        </div>
        <%= text_field_tag(:q, params[:q], class:"input-description") %>
      </div>
    <% end %>
    <div class="t-team-owner-avatar">
      <div class="t-owner-avatar" style="background-color: <%= "#{@user.active? ? expensive_product_active(@user).order_items.first.product.details : '#34EF00' }"%>">
        <div>
          <% if @user.avatar.try(:path).present? %>
            <%= cl_image_tag(@user.avatar.try(:path), { class: 'icons user-icon' }) %>
          <% else %>
            <%= image_tag 'icons/user.svg', class: 'icons user-icon' %>
          <% end %>
        </div>
      </div>
      <br>
      <span class="text-center"><%= @user.name.presence || t(:guest) %></span>
    </div>

    <div class="t-team-network-avatar">
      <% direct_children(@unilevel_nodes).each do |child| %>
        <div class="t-teste">
          <div class="t-align" style="background-color: <%= "#{child.user.active? ? expensive_product_active(child.user).order_items.first.product.details : '#34EF00' }"%>">
            <%= link_to backoffice_team_dashboard_index_path(user: child.user) do %>
              <% if child.user.avatar.try(:path).present? %>
                <%= cl_image_tag(child.user.avatar.try(:path), { class: 'icons user-icon' }) %>
              <% else %>
                <%= image_tag 'icons/user.svg', class: 'icons user-icon' %>
              <% end %>
            <% end %>
          </div>
          <span class="text-center"><%= (child.user.name.presence || t(:guest)).truncate(12) %></span>
        </div>
      <% end %>
    </div>
    <% nodes_per_depth = @unilevel_nodes.group_by(&:ancestry_depth) %>
    <% total_nodes = nodes_per_depth.values.size  %>
    <% first_generation_nodes_size = nodes_per_depth[@current_node.depth + 1].try(:size).to_f  %>

    <% nodes_per_depth.slice(*nodes_per_depth.keys[0..4]).each do |depth, nodes| %>
      <div class="f-balance-area">
        <div class="balance-title t-break-line">
          <%= t(:total) %>
          <span><%= depth - @current_node.depth %> <%= t(:generation) %></span>
        </div>

        <div class="balance-value">
          <%= nodes.size %>
        </div>
      </div>
    <% end %>
  </div>
</div>
