const login_register_ajax = () => {  

  const getCurrentPage = () => {
  const page = window.location.pathname.split('/')[2];
  if(page) return page;
  else return 'raffles_tickets';  
  console.log(page);
}

const pageActionSwitch = () => {
  page = getCurrentPage();
  const actionSwitch = {
    products: () => {
      const container = document.querySelector('.store--products__content');
      const selectedProduct = document.querySelector('.store--products-item.selected-card');
      const selectedProductNumber = selectedProduct != undefined ? selectedProduct.dataset.product : false;        
      container.innerHTML = '';
      container.insertAdjacentHTML('beforeend',`<%= j render 'backoffice/products/index_product_list' if @products.present? %>`);

      if(selectedProductNumber){        
        const buyButton = document.querySelector(`.product-${selectedProductNumber} .store--products-item--price--buy-button`);
        buyButton.click();
      }
    },
    raffles_tickets: () => {
      const paymentButton = document.querySelector("#payment-ticket-button");
      if(paymentButton){
        paymentButton.dataset.logged = true;      
        paymentButton.click();       
      }
    }
  }

  if(page in actionSwitch) return actionSwitch[page]();
}

  const displayError = () => {
    const errorElement = document.querySelector("#error-msg");
    errorElement.innerHTML = '';
    errorElement.insertAdjacentHTML('afterbegin',
      `<div class='alert alert-danger alert-dismissible'>
        <%= @error %>
        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>`);
  }

  const renderAJAX = (containerSelector, partial, partialSelector, position = 'afterbegin') => {
    const container = document.querySelector(containerSelector);
    document.querySelector(partialSelector).remove();        
    container.insertAdjacentHTML(position, partial);
  }

  if (<%= @user.present? %>) {
    pageActionSwitch();   
    renderAJAX('.main-app', '<%= j render 'layouts/top_bar' %>', 'header');
    renderAJAX('.main-app', '<%= j render 'layouts/shared/footer' %>', '.bottom-menu', 'beforeend');
    publicLoginRegister.closeModalHandler();  
  } else {
    displayError();
  }
}
