<%= form_for([:backoffice, @course], url: path, html: { role: 'form', class: "form-add-courses" }) do |f| %>
<div class="container-select-img-course">
  <label for="cover-course-img" class="cover-course-img_label">
    <div class="cover-course-img_label">
      <% if @course.thumb.present? %>
        <img src="<%= @course.path %>" alt="" class="cover-course-img_label">
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-image" viewbox="0 0 16 16">
          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
        </svg>
      <% end %>
    </div>
    <%= f.file_field :thumb, as: :file, label: false, id: "cover-course-img", input_html: { accept: 'image/*' } %>
  </label>
  <span class="size-course-img"><%= t(:ideal_thumb_size) %></span>
</div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course1.svg') %>
    </div>
    <%= f.text_field :title, class: 'input-description', placeholder: t(:title) %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course2.svg') %>
    </div>
    <%= select_tag :categories_ids, options_for_select(categorizations_title_for_select, selected: f.object.categorizations.map(&:id)),
                              class: 'input-description',
                              multiple: true, class: "input-description", select2: 'true', data: { placeholder: t(:categorizations) } %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course3.svg') %>
    </div>
    <%= f.text_field :short_description, class: 'input-description', placeholder: t(:short_description) %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course4.svg') %>
    </div>
    <%= f.text_area :description, class: 'input-description', rows: '1', placeholder: "What the student will learn" %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course3.svg') %>
    </div>
    <%= f.text_area :content, class: 'input-description', rows: '1', placeholder: "This course includes" %>
  </div>

  <div class="title-mid-course"><%= t(:parameterization) %></div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course6.svg') %>
    </div>
     <%= f.select :language, options_for_select(language_options, selected: f.object.language), {include_blank: 'Select language'}, { class: 'input-description'  } %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course7.svg') %>
    </div>
    <%= f.select :country_of_operation,
                               options_for_select(country_options, selected: f.object.country_of_operation),
                               {},
                               { multiple: true, class: "input-description", select2: 'true', data: { placeholder: t('countries_of_operation') } } %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course9.svg') %>
    </div>
    <%= f.select :days_to_cashback,
                 options_for_enum(@course, :days_to_cashback),
                 { include_blank: t('days_to_cashback') },
                 { class: "input-description" } %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course11.svg') %>
    </div>
    <%= text_field_tag :'product[price]', @course.price, class: 'input-description', placeholder: t(:price) %>
  </div>
  <div class="login-fields user-field">
    <div class="field-icon">
      <%= image_tag('courses/add-course12.svg') %>
    </div>
    <%= text_field_tag :'product[network_commission_percentage]', @course.network_commission_percentage, class: 'input-description', placeholder: t(:network_commission) %>
  </div>
  <span class="subtitle-input">Min: <%= ENV['MIN_NETWORK_COMMISION'] %>%</span>
  <div class="sale-summary-course">
    <h4 class="title-cover-course"><%= t(:sale_summary) %></h4>
    <span><%= t(:sale_value) %>: <strong>0,00</strong></span>
    <span><%= t(:network_commission) %>: <strong>0,00</strong></span>
    <span><%= t(:you_will_receive_per_sale) %>: <strong>0,00</strong></span>
    <%= f.submit t(:create), class: 'btn-create-course' %>
  </div>
<% end %>
