<%= stylesheet_link_tag 'click-tok-theme/add-courses' %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container-new-course">
  <div class="top-new-courses">
    <a href="#" class="btn-return">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-left" viewbox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </a>
    <span><%= t(:add_course) %></span>
  </div>
  <div class="cover-course">
    <span class="title-cover-course"><%= t(:thumb) %></span>
    <%= form_for([:backoffice, @course], url: backoffice_taught_courses_path, method: :post, html: { role: 'form', class: "form-add-courses" }) do |f| %>
    <div class="container-select-img-course">
      <label for="cover-course-img" class="cover-course-img_label">
        <div class="cover-course-img_label">
          <% if @course.thumb.present? %>
            <img src="<%= @course.path %>" alt="" class="cover-course-img_label">
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-image" viewbox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
            </svg>
          <% end %>
        </div>
        <%= f.file_field :thumb, as: :file, label: false, id: "cover-course-img", input_html: { accept: 'image/*' } %>
      </label>
      <span class="size-course-img"><%= t(:ideal_thumb_size) %></span>
    </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course1.svg') %>
        </div>
        <%= f.text_field :title, class: 'input-description', placeholder: t(:title) %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course2.svg') %>
        </div>
        <%= select_tag :categories, options_for_select(categorizations_title_for_select),
                                  class: 'input-description',
                                  multiple: true, class: "input-description", select2: 'true', data: { placeholder: t(:categorizations) } %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course3.svg') %>
        </div>
        <%= f.text_field :short_description, class: 'input-description', placeholder: t(:short_description) %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course4.svg') %>
        </div>
        <%= f.text_area :description, class: 'input-description', rows: '1', placeholder: "What the student will learn" %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course3.svg') %>
        </div>
        <%= f.text_area :content, class: 'input-description', rows: '1', placeholder: "This course includes" %>
      </div>

      <div class="title-mid-course">Parametrização</div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course6.svg') %>
        </div>
         <%= f.select :language, options_for_select(language_options), {include_blank: 'Select language'}, { class: 'input-description'  } %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course7.svg') %>
        </div>
        <%= f.select :country_of_operation,
                                   options_for_select(country_options),
                                   {},
                                   { multiple: true, class: "input-description", select2: 'true', data: { placeholder: t('countries_of_operation') } } %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course9.svg') %>
        </div>
        <%= f.select :days_to_cashback,
                     options_for_enum(@course, :days_to_cashback),
                     { include_blank: t('days_to_cashback') },
                     { class: "input-description" } %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course11.svg') %>
        </div>
        <%= text_field_tag :price, nil, class: 'input-description', placeholder: t(:price) %>
      </div>
      <div class="login-fields user-field">
        <div class="field-icon">
          <%= image_tag('courses/add-course12.svg') %>
        </div>
        <%= text_field_tag :network_commission, nil, class: 'input-description', placeholder: t(:network_commission) %>
      </div>
      <span class="subtitle-input">Min: 22%</span>
      <div class="sale-summary-course">
        <h4 class="title-cover-course">Sale summary</h4>
        <span>Valor de venda: <strong>0,00</strong></span>
        <span>Comissão de Rede: <strong>0,00</strong></span>
        <span>Você receberá por venda: <strong>0,00</strong></span>
        <%= f.submit t(:create), class: 'btn-create-course' %>
      </div>
    <% end %>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<%= javascript_include_tag('utilities/select2') %>
