<%= form_for([:backoffice, @banner], html: { role: 'form' }) do |f| %>
  <div class="text-left m-t-30">
    <table class="table table-striped">
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label :country_of_operation %></strong></td>
        <td><%= f.text_field :country_of_operation, class: 'form-control', placeholder: t(:country_of_operation) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label :title %></strong></td>
        <td><%= f.text_field :title, class: 'form-control', placeholder: t(:title) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'> <%= f.label :image %></strong></td>
        <td><%= f.attachinary_file_field :image, class: 'form-control' %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label :description %></strong></td>
        <td><%= f.text_field :description, class: 'form-control', placeholder: t(:description) %></td>
      </tr>
      <tr>
        <td class="table-valign"><strong class='cell'><%= f.label :link %></strong></td>
        <td><%= f.text_field :link, class: 'form-control', placeholder: t(:link) %></td>
      </tr>
    </table>
    <%= f.submit class: 'btn btn-primary pull-right' %>
    <br>
  </div>
<% end %>
