<%= stylesheet_link_tag 'click-tok-theme/orders' %>

<div class="page">
  <div class="is-page-title">
    <span class="title">
      <%= t(:tasks_history) %>
    </span>
    <span class="title">
      <%= t(:filter) %>
    </span>
  </div>

  <% @banners_clicks.each do |banner_click| %>
    <div class="th-history-list">
      <div class="th-history-task-title wr-title">
        <span class="th-history-task-id">
          <%= banner_click.id %>
        </span>
        <span>
          <%= t(:campaign) %> <%= banner_click.banner_id %>
          </span>
      </div>
      <div class="th-history-task-status">
        <div class="th-history-task-date">
          <%= banner_click.created_at.strftime('%d/%m/%y') %>
        </div>
        <div class="wr-align">
          <div class="th-history-task-status-action task-history-sucess">
            <%= t(:completed) %>
          </div>
          <div class="wr-amount">
            <%= format_cent_amount_value(banner_click.financial_transaction) if banner_click.financial_transaction %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
