<section class="container" >
  <div class="row">
    <div class="banner-principal">
      <%= image_tag 'logo-white.png', class: 'img img-responsive' %>
      
      <div class="banner-buttons">
        <%=  link_to '#', class: 'banner-buttons-link' do%>
         <i class="fas fa-share-alt"></i>    
        <% end%>
        <a href="" class="banner-button">Comprar</a>
      </div> 
    </div>
  </div>

  <div class="row" id="carousels">
    <div class="owl-carousel carousel" >
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>
      <% sample_advertisement.each do |advertisement| %>
        <div class="item">
          <%= advertisement_image_link(advertisement) %>
          <div class="banner-buttons2">
            <%=  link_to '#', class: 'banner-buttons-link' do%>
              <i class="fas fa-share-alt"></i>    
            <% end%>
            <a href="" class="banner-button">Comprar</a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="owl-carousel carousel" >
      <% sample_advertisement.each do |advertisement| %>
        <div class="item">
          <%= advertisement_image_link(advertisement) %>
        </div>
      <% end %>
    </div>

    <div class="owl-carousel carousel" >
      <% sample_advertisement.each do |advertisement| %>
        <div class="item">
          <%= advertisement_image_link(advertisement) %>
        </div>
      <% end %>
    </div>

    <div class="owl-carousel carousel" >
      <% sample_advertisement.each do |advertisement| %>
        <div class="item">
          <%= advertisement_image_link(advertisement) %>
        </div>
      <% end %>
    </div>

    <div class="owl-carousel carousel" >
      <% sample_advertisement.each do |advertisement| %>
        <div class="item">
          <%= advertisement_image_link(advertisement) %>
        </div>
      <% end %>
    </div>

  </div>


  <div class="row">
    <div class="modal fade bd-example-modal-lg"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true"
         id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h1> <%= t('defaults.congratulations') %> </h1>
          <p> <%= t('defaults.daily_task_successfull') %> </p>
          <%= image_tag 'logo-white.png' %>
        </div>
      </div>
    </div>
  </div>

</section>



