<section class="container">
  <div class="row" style="display: none;">
    <div class="col-sm-12">
      <div> <%= t('defaults.banners_clicked_today') %>:
        <span id="banners-clicked-today-quantity">
          <%= current_user.banners_clicked_today_quantity %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= render partial: 'banner_main',
                 locals: { banner: @banners.first } %>
    </div>
  </div>
  <div class="row" id="carousels">
    <% @banners.each_slice(8) do |banners| %>
      <div class="owl-carousel carousel" >
        <%= render @banners %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= render partial: 'congratulations_modal' %>
  </div>
</section>
