<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <%= datagrid_form_for @grid, :method => :get, :url => backoffice_admin_career_histories_path %>

          <%= paginate(@grid.assets) %>
          <%= datagrid_table @grid %>
          <%= paginate(@grid.assets) %>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
      $('.date_filter').prop("type", "date");
  });
</script>
