<%= stylesheet_link_tag 'click-tok-theme/courses' %>
<%= stylesheet_link_tag 'click-tok-theme/add-courses' %>
<%= stylesheet_link_tag 'click-tok-theme/my-courses' %>

<div class="container-my-courses">
  <div class="top-new-courses">
    <a class="back-button" href="/backoffice/financial_dashboard?locale=en">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </a>
  </div>
  <div class="container-mid-my-courses">
    <span><%= @course.title %></span>
    <div class="course">
      <div class="id-course">
        <span>ID</span>
        <span><%= @course.hashid %></span>
      </div>
      <%= image_tag(course_thumb(@course), class: 'img-course') %>
      <p class="course-description"><%= @course.short_description %></p>
    </div>
  </div>
  <div class="container-add-lessons">
    <span><%= t(:edit_lesson) %></span>
    <%= render 'form' %>
  </div>
</div>
