<%= stylesheet_link_tag 'click-tok-theme/raffles/winners' %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<%= render 'backoffice/shared/back_and_title', back_path: raffles_backoffice_stores_path,  page_title: t(:winners) %>
<div class="winners-card-container">
  <% @raffles.each do |raffle| %>
    <ul class="card-item">
      <li>
        <span class="draw-date"><%= raffle.draw_date %></span>
        <span class="draw-number">Nº<%= raffle.id %></span>
        <p class="avatar-container">
          <img src="<%= raffle.winner.avatar.try(:fullpath) %>" class="avatar-image" />
        </p>
        <span class="winners-name"><% raffle.winner.name %></span>
      </li>
      <li>
        <a class="draw-link" href="https://www.powerball.com/" target="_blank">Powerball - <%= raffle.draw_date.strftime("%b %d, %Y") %></a>
        <ul class="result-ticket-list">
          <% raffle.lotto_numbers.each do |number| %>
            <li class="has-arrow"><b><%= number %></b></li>
          <% end %>
        </ul>
        <span class="wining-ticket-number"><b><%= raffle.lotto_numbers_combination %></b><i class="fa-solid fa-trophy"></i></span>
      </li>
      <li>
        <p class="product-container">
          <%= image_tag(raffle.path, class: 'product-image') %>
        </p>
        <h3 class="raffle-name"><% raffle.product.name %></h3>
      </li>
    </ul>
  <% end%>
</div>
