<%= stylesheet_link_tag 'click-tok-theme/raffles/winners' %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<div class="raffle-tickets-header-container">
  <%= link_to raffles_backoffice_stores_path, class: 'raffle-tickets-return-button' do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
  <% end %>
  <h4 class="raffle-tickets--page-title"><%= t(:winners) %></h4>
</div>
<div class="winners-card-container">
  <% 7.times do %>
    <ul class="card-item">
      <li>
        <span class="draw-date">10/07/<i>20</i>22</span>
        <span class="draw-number">Nº039</span>
        <p class="avatar-container">
          <img src="https://i.pravatar.cc/300" class="avatar-image" />
        </p>
        <span class="winners-name">João Jubileu da Silva Sauro</span>
      </li>
      <li>
        <!--<span>Clique para ir ao site</span>-->
        <a class="draw-link" href="https://www.powerball.com/" target="_blank">Powerball - jun 29, 2022</a>
        <ul class="result-ticket-list">
          <li class="has-arrow">0<b>2</b></li>
          <li class="has-arrow">0<b>9</b></li>
          <li class="has-arrow">3<b>1</b></li>
          <li>38</li>
          <li>45</li>
          <li>49</li>
        </ul>
        <span class="wining-ticket-number"><b>2</b><b>9</b><b>1</b><i class="fa-solid fa-trophy"></i></span>
      </li>
      <li>
        <p class="product-container">
          <%= image_tag('https://res.cloudinary.com/admoney-online/image/upload/v1652290292/ileudsxeqedxm598tabd.png', class: 'product-image') %>
        </p>
        <h3 class="raffle-name">Moto PPK</h3>
      </li>
    </ul>
  <% end%>
</div>
