<%= simple_form_for(form, url: url, method: method) do |f| %>
<div class="row">
  <%= f.input :document_cpf, wrapper_html: { class: 'col-md-6' }, input_html: { class: 'cpf-mask' } %>
  <div class="col-md-1">
    <h4>ou</h4>
  </div>
  <%= f.input :car_plate, wrapper_html: { class: 'col-md-5' }, input_html: { class: 'car-plate-mask' } %>
</div>

  <% if form.user.present? %>
    <p class="alert alert-info">
      <%= form.user.name %>
    </p>
  <% end %>

  <%= f.submit 'Procurar Cliente', class: 'btn btn-default', name: 'search_user' %>
  <div class="m-b-30"></div>

  <h4 class="m-t-0 header-title">
    <b>Informações da OS</b>
  </h4>
  <%= f.input :os_number, label: 'Número da OS' %>
  <div class="row">
    <%= f.input :gross_sales_str, label: 'Venda Bruta (Produtos)', input_html: { data: {number: true, input: true, autonumeric: { aSep: '.', aDec: ',' }} }, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :net_sales_str, label: 'Venda Líquida (Produtos)', input_html: { data: {number: true, input: true, autonumeric: { aSep: '.', aDec: ',' }} }, wrapper_html: { class: 'col-md-6' } %>
  </div>
  <div class="row">
    <%= f.input :gross_service_str, label: 'Venda Bruta (Serviços)', input_html: { data: {number: true, input: true, autonumeric: { aSep: '.', aDec: ',' }} }, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :net_service_str, label: 'Venda Líquida (Serviços)', input_html: { data: {number: true, input: true, autonumeric: { aSep: '.', aDec: ',' }} }, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <ul class="list-unstyled w-list m-b-30">
    <li><h5>Lucro:</h5> R$ <%= form.profit %> </li>
    <li><h5>Total de PVVs:</h5> <%= form.total_score %> </li>
  </ul>

<%= f.submit 'Calcular', class: 'btn btn-default', name: 'calculate' %>
<%= f.submit 'Salvar', class: 'btn btn-primary pull-right', data: { confirm: 'Tem certeza que deseja salvar? Esta operação é irreversível.' } if form.valid? %>
<% end %>
