<div class="panel panel-border panel-custom">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(:filters) %></h3>
  </div>
  <div class="panel-body">
    <%= search_form_for @q, url: backoffice_generation_scores_path do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <%= f.label t('attributes.from') %>
            <%= f.search_field :created_at_gteq, class: 'form-control input-sm',
                                                 data: { provide: 'datepicker' } %>
          </div>
          <div class="col-md-4">
            <%= f.label t('attributes.until') %>
            <%= f.search_field :created_at_lteq, class: 'form-control input-sm',
                                                 data: { provide: 'datepicker' } %>
          </div>
          <div class="col-md-4">
            <%= t('activerecord.attributes.score.score_type') %>
            <%= f.select :score_type_id_in, ScoreType.unilevel.pluck(:name, :id),
                                            { include_blank: t('all') },
                                            { class: 'form-control input-sm', multiple: true } %>
          </div>
        </div>
      </div>
      <%= f.submit t('datagrid.form.search'), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
