<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Instalação #<%= product_setup.hashid %></h4>
    <br>
  </div>
</div>
<div>
  <div class="col-sm-8">
    <div class="card-box">
      <h4 class="m-t-0 header-title">
        <b>Informações do proprietário</b>
      </h4>
          <table class="table table-striped" style="word-break: break-word;">
            <tr>
              <td><strong><%= ProductSetup.human_attribute_name(:name) %>:</strong></td>
              <td><%= product_setup.name %></td>
            </tr>
            <tr>
              <td><strong><%= ProductSetup.human_attribute_name(:email) %>:</strong></td>
              <td><%= product_setup.email %></td>
            </tr>
            <tr>
              <td><strong><%= ProductSetup.human_attribute_name(:document_cpf) %>:</strong></td>
              <td><%= product_setup.document_cpf %></td>
            </tr>
            <tr>
              <td><strong><%= ProductSetup.human_attribute_name(:phone) %>:</strong></td>
              <td><%= product_setup.phone %></td>
            </tr>
          </table>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Informações do carro</b>
      </h4>
      <table class="table table-striped" style="word-break: break-word;">
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:car_brand) %>:</strong></td>
          <td><%= product_setup.car_brand %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:car_year) %>:</strong></td>
          <td><%= product_setup.car_year %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:car_model) %>:</strong></td>
          <td><%= product_setup.car_model %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:car_mileage) %>:</strong></td>
          <td><%= product_setup.car_mileage %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:car_plate) %>:</strong></td>
          <td><%= product_setup.car_plate %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:product_model) %>:</strong></td>
          <td><%= product_setup.product_model %></td>
        </tr>
        <tr>
          <td><strong><%= ProductSetup.human_attribute_name(:product_serial) %>:</strong></td>
          <td><%= product_setup.product_serial %></td>
        </tr>
      </table>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Imagens</b>
      </h4>

      <% if product_setup.checkin.present? %>
        <%= cl_image_tag product_setup.checkin.path, { size: '150x150', class: 'm-b-20' } %>
      <% end %>

      <% if product_setup.checkout.present? %>
        <%= cl_image_tag product_setup.checkout.path, { size: '150x150', class: 'm-b-20' } %>
      <% end %>

      <% if product_setup.installation.present? %>
        <%= cl_image_tag product_setup.installation.path, { size: '150x150', class: 'm-b-20' } %>
      <% end %>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card-box">
      <div class="row">
        <h4 class="m-t-0 header-title">
          <b>Análise</b>
        </h4>

        <% unless product_setup.approved? %>
          <%= form_tag(backoffice_admin_product_setup_path(id: product_setup.id), method: :put) do %>
            <div class="form-group">
              <label for="">Status:</label>
              <%= select_tag :status, options_for_select(ProductSetup.statuses.map {|k, _| [t(k), k]}, product_setup.status), class: 'form-control', include_blank: true %>
            </div>
            <div class="form-group">
              <label for="">Mensagem:</label>
              <%= text_field_tag :status_message, nil, class: 'form-control', value: product_setup.status_message %>
            </div>
            <%= submit_tag 'Atualizar', class: 'btn btn-danger pull-left' %>
          <% end %>
        <% else %>
          <div class="label label-success">Aprovado - <%= l(product_setup.status_updated_at, format: :short) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
