<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= t('views.backoffice.careers.index.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <div class="m-b-20">
            <%= link_to new_backoffice_admin_career_path, class: 'btn btn-primary waves-effect waves-light' do %>
              <i class="md md-add"></i> <%= t('views.backoffice.careers.index.new_career') %>
            <% end %>
          </div>

          <table class="table table-bordered m-0">

            <thead>
              <tr>
                <th>#</th>
                <th><%= Career.human_attribute_name(:name) %></th>
                <th><%= Career.human_attribute_name(:qualifying_score) %></th>
                <th><%= Career.human_attribute_name(:requalification_score) %></th>
                <th><%= Career.human_attribute_name(:unilevel_qualifying_career_id) %></th>
                <th><%= Career.human_attribute_name(:unilevel_qualifying_career_count) %></th>
                <th><%= Career.human_attribute_name(:lineage_score) %></th>
                <th><%= Career.human_attribute_name(:bonus) %></th>
                <th><%= Career.human_attribute_name(:binary_limit) %></th>
                <th><%= Career.human_attribute_name(:binary_percentage) %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @careers.each do |career| %>
                <tr>
                  <th><%= career.id %></th>
                  <td><%= career.name %></td>
                  <td><%= career.qualifying_score %></td>
                  <td><%= career.requalification_score %></td>
                  <td><%= career.unilevel_qualifying_career.try(:name) %></td>
                  <td><%= career.unilevel_qualifying_career_count %></td>
                  <td><%= career.lineage_score %></td>
                  <td><%= career.bonus %></td>
                  <td><%= career.binary_limit %></td>
                  <td><%= career.binary_percentage %>%</td>
                  <td>
                    <%= link_to edit_backoffice_admin_career_path(career), class: 'action-edit' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to(
                      backoffice_admin_career_path(career),
                      class: 'action-remove',
                      method: :delete,
                      data: { confirm: t('defaults.confirm_removal') }
                      ) do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @careers.empty? %>
                <tr>
                  <td colspan="5" class="text-center"><%= t('views.backoffice.careers.index.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
