<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('views.backoffice.orders.index.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <table class="table table-bordered m-0">

            <thead>
              <tr>
                <th>#</th>
                <th><%= Order.human_attribute_name(:total) %></th>
                <th><%= Order.human_attribute_name(:status) %></th>
                <th><%= Order.human_attribute_name(:paid_at) %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <th><%= order.id %></th>
                  <td><%= number_to_currency order.total %></td>
                  <td><%= t "defaults.#{order.status}" %></td>
                  <td><%= l(order.paid_at, format: :short) if order.paid_at.present? %></td>
                  <td>
                    <%= link_to backoffice_order_path(order) do %>
                      <i class="icon-eye"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @orders.empty? %>
                <tr>
                  <td colspan="7" class="text-center"><%= t('views.backoffice.orders.index.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
