<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('views.backoffice.orders.index.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <table class="table table-striped table-bordered m-0">

            <thead>
              <tr>
                <th>#</th>
                <th><%= Order.human_attribute_name(:total) %></th>
                <th><%= Order.human_attribute_name(:type) %></th>
                <th><%= Order.human_attribute_name(:status) %></th>
                <th><%= Order.human_attribute_name(:expire_at) %></th>
                <th><%= Order.human_attribute_name(:paid_at) %></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <th><%= order.hashid %></th>
                  <td><%= number_to_currency order.total %></td>
                  <td>
                    <%= order.type && t(order.type) %>
                  </td>
                  <td><%= t "defaults.#{order.status}" %></td>
                  <td><%= l(order.expire_at, format: :short) if order.expire_at.present? %></td>
                  <td><%= l(order.paid_at, format: :short) if order.paid_at.present? %></td>
                  <td>
                    <%= link_to 'Detalhes', backoffice_order_path(order) %>
                  </td>
                  <td>
                    <% if !order.completed? && !order.expired? %>
                      <%= link_to 'Boleto', order.current_transaction.boleto_url, target: '_blank' if order.current_transaction %>
                      <%= button_to(backoffice_order_generate_boleto_path(order), class: 'btn btn-primary btn-xs', method: :post, data: { disable_with: 'Gerando boleto...' }) do %>
                        <i class="fas fa-file m-r-5"></i> Gerar Boleto
                      <% end if order.current_transaction.blank? %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @orders.empty? %>
                <tr>
                  <td colspan="8" class="text-center"><%= t('views.backoffice.orders.index.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
