<%= stylesheet_link_tag 'click-tok-theme/orders_page' %>
<%= stylesheet_link_tag 'click-tok-theme/orders/index' %>
<%= javascript_include_tag 'click-tok-theme/orders/index', defer: true %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<%= render 'backoffice/shared/back_and_title',back_path: backoffice_financial_dashboard_index_path ,page_title: t('defaults.my_orders') %>
<div class="order-page">
  <div class="order-filter-container">
    <button class="order-filter-button">
      <i class="fa-solid fa-filter"></i>
      <%= t(:filter) %>
    </button>
    <div class="order-filter-dropdown">
      <%= link_to t(:all), backoffice_orders_path %>
      <% (Order.statuses.keys - ['cart']).each do |k| %>
        <%= link_to t(k), backoffice_orders_path(status: k) %>
      <% end %>
    </div>
  </div>
  <div class="order-list">
    <% @orders.includes([:products]).each do |order| %>
      <div class="order-card-item">
        <div class="order-date">
          <span><i><%= order.hashid %></i> - <%= order.created_at.strftime('%d %b').upcase %></span>
          <span><%= t(order.payment_type).upcase %> - <b class="<%= order.status %>"><%= t(order.status).upcase %></b></span>
        </div>
        <div class="order-products">
          <% order.products.uniq.each do |item| %>
            <div class="product-item">
              <div class="product-left">
                <%= link_to item.name, order_product_path(item),  class: "product-title" %>
                <div class="image-and-info-container">
                  <%= link_to order_product_path(item), class:'product-image-container' do %>
                    <%= image_tag(item.main_photo_path, class: 'product-image') %>
                  <% end %>
                  <ul class="product-info">
                    <li>
                      <%= t("backoffice.orders.index.product_description.#{item.kind}", data: order_product_info_by_kind(order, item)) %>
                    </li>
                    <li>
                      <%= t("backoffice.orders.index.product_status.#{get_product_statuses(item)}")%>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="order-last-container">
          <span class="order-total-price"><%= format_currency(order.total) %></span>
          <%= link_to t('backoffice.orders.index.see_order'), backoffice_order_path(order), class: 'see-order-button' if order.order_items.any? %>
        </div>
      </div>
    <% end %>
    <%= paginate @orders %>    
  </div>
