<%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css',
                        integrity: 'sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU',
                        crossorigin: 'anonymous' %>
<%= stylesheet_link_tag 'click-tok-theme/app' %>
<div class="main-box">
  <div class="back-button-container">
    <a class="back-button" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
    </a>
  </div>
  <div class="d-flex flex-column align-items-center">
        <% if @order.payment_type.in?(['btc', 'pix']) %>
        <div class="box-payment">
          <div class='row text-center'>
            <div class='col-md-12'>
              <h5 class="purple">
                <% if @order.btc? %>
                  <%= t('backoffice.payment_transactions.show.transfer_note_html', value: format_digital_currency(@order.payment_transaction.amount)) %>
                <% elsif @order.pix? %>
                  <%= t('backoffice.payment_transactions.show.transfer_note_pix_html', value: format_whitelabel_currency(@order.payment_transaction.amount)) %>
                <% end %>
              </h5>
              <% if @order.btc? %>
                <h6 class='text-click pink'>
                  <i class="fas fa-exclamation-triangle"></i>
                  <%= t('backoffice.payment_transactions.show.transfer_rate_warning_html') %>
                </h6>
              <% end %>
            </div>
          </div>
          <div class='row text-center'>
            <span class="text-center">
              <% if @order.btc? %>
                <%= render_qr_code_img(@order.payment_transaction.wallet_address) if @order.payment_transaction.wallet_address.present? %>
              <% elsif @order.pix? %>
                <%= image_tag(@order.payment_transaction.qr_code_url) %>
              <% end %>
            </span> <br>
            <% if @order.btc? %>
              <span class="purple text-center" id="wallet-address"><%= @order.payment_transaction.provider_response['wallet_address'] %></span>
            <% elsif @order.pix? %>
              <span class="purple text-center" id="wallet-address"><%= @order.payment_transaction.provider_response['pix_key'] %></span>
            <% end %>
          </div>
          <div class="row text-center">
            <div class="">
              <% if @order.btc? %>
                <%= copier_button(@order.payment_transaction.provider_response['wallet_address'], '#wallet-address') %>
              <% elsif @order.pix? %>
                <%= copier_button(@order.payment_transaction.provider_response['pix_key'], '#wallet-address') %>
              <% end %>
            </div>
          </div>
          <br>
          <% if @order.payment_type.in?(['btc', 'pix']) %>
            <div class="row text-center">
              <% btc = (@order.created_at + 5.hours) - Time.now %>
              <% pix = (@order.created_at + 1.hours) - Time.now %>
              <% order = @order.btc? ?  btc : pix %>
              <h6 class="">
                <% if order > 0 %>
                  <%= t(:order_expire_warning, time: seconds_to_hms(order)) %>
                <% elsif @order.payment_type.in?(['btc', 'pix']) && order <= 0 %>
                  <%= t(:order_expired) %>
                <% end %>
              </h6>
            </div>
          <% end %>
        </div>
      <% end %>
    <div class="card-box">
      <div class="box-top">
        <div class="request-box">
          <div class="request-strip">
          <p><strong><%= t(:request_number) %></strong></p>
          </div>
          <div class="content-box">
            <span class="pull-right request-number" style="float: right;"> <%= @order.hashid %></span>
          </div>
        </div>
        <div class="request-box">
          <div class="package-strip">
            <p><strong><%= t(:package_value) %></strong></p>
          </div>
          <div class="content-box">
            <span class="request-number">R$<%= number_to_currency(@order.total, unit: '') %></span>
            <br>
            <% if ENV['CURRENT_DIGITAL_CURRENCY'].present? && @order.payment_type.in?(['btc'])%>
              <%= format_digital_currency(@order.payment_transaction.amount) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row m-t-30">
        <% if @order.shipping > 0 %>
          <div class="col-md-12">
            <div class="col-md-1">
              <h3> <%= Order.human_attribute_name(:shipping) %> </h3>
            </div>
            <div class="col-md-11">
              <h3> <%= number_to_currency(@order.shipping,
                                        unit: ENV['CURRENT_CURRENCY']) %> </h3>
            </div>
          </div>
        <% end %>
      </div>
      <% if SystemConfiguration.whitelabel? %>
        <%= render 'backoffice/shared/ticket_numbers', orders: @order %>
      <% end %>
    </div>
  </div>
</div>