<%= simple_form_for(form, url: url, as: :credit_debit_form, method: method, validate: true, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :username, as: :hidden %>
  <%= f.input :document_cpf, as: :hidden %>
  <div class="checkbox">
    <%= f.collection_radio_buttons(
      :credit,
      [[true, t('credit')], [false, t('debit')]],
      :first,
      :last
    ) %>
  </div>
  <%= f.input :amount %>
  <%= f.input :note, as: :text %>
  <%= f.input :master_password %>
  <%= f.button :button, t("defaults.#{method}"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving...".html_safe } %>
<% end %>
<%= javascript_include_tag('amount_cleasing') %>
