<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card-box">
      <div>
        <h4><%= t('users.emails.edit.emails_list') %></h4>
        <hr>
        <div class="text-left m-t-30">
          <table class="table table-striped">
            <% @emails.each do |email| %>
              <tr>
                <td><%= email.body %></td>
                <td><%= I18n.t(email.status, scope: [:activerecord, :attributes, :email, :status]) %></td>
                <td>
                  <% if email.inactive? %>
                    <%= link_to t(:make_default), [:users, email, email: { status: :pending }], method: :put, class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
