<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('defaults.my_vouchers') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped table-bordered table-hover m-0">
            <thead>
              <tr>
                <th> <%= Voucher.human_attribute_name(:voucher_code) %> </th>
                <th> <%= Voucher.human_attribute_name(:status) %> </th>
                <th> <%= Voucher.human_attribute_name(:voucher_order) %> </th>
                <th> <%= Voucher.human_attribute_name(:order_kind) %> </th>
                <th> <%= Voucher.human_attribute_name(:voucher_use_date) %> </th>
                <th width="1"></th>
              </tr>
            </thead>
            <tbody>
              <% vouchers.each do |voucher| %>
                <tr>
                  <th><%= voucher.code %></th>
                  <th><%= voucher.used? ? 'Sim' : 'Não' %></th>
                  <th><%= voucher.order.hashid if voucher.order %></th>
                  <th><%= t(voucher.invoice_type) if voucher.invoice_type %></th>
                  <th><%= l(voucher.used_at, format: :short) if voucher.used_at %></th>
                  <th></th>
                </tr>
              <% end %>
              <% if vouchers.empty? %>
                <tr>
                  <td colspan="6" class="text-center">Você não adquiriu vouchers ainda.</td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
