<% product_number = 0 %>
<% @products.each do |product| %>
  <% if product.free? %>
    <% next if user_signed_in? && free_product_purchased? %>
    <div class="store--products-item free product-<%= product_number %>" data-product="<%= product_number %>">
      <div class="store--products-item--header" style="background: <%= product.details %>">
        <%= product.name %>
      </div>
      <ul class="store--products-item--content">
        <li class="store--products-item--task">
          <span class="store--products-item--task--number">
            <%= t('backoffice.products.activate') %>
          </span>
          <span class="store--products-item--task--title">
            <%= t('backoffice.products.win') %>
          </span>
        </li>
        <li class="store--products-item--border"></li>
        <li class="store--products-item--earnings">
          <span class="store--products-item--earnings--number">
            <%= format_currency(SharedHelper::FREE_PRODUCT_BONUS_AMOUNT) %>
          </span>
          <span class="store--products-item--earnings--campaign">
            <%= t('backoffice.products.balance_adcash') %>
          </span>
        </li>
        <li class="store--products-item--price">
          <span class="store--products-item--price--number">
            <%= t(:free) %>
          </span>
          <% if user_signed_in? %>
            <%= link_to activate_free_backoffice_cart_path,
                      class: 'store--products-item--price--buy-button',
                      method: :post, remote: true do %>
              <%= t('backoffice.products.activate_button') %>
            <% end %>
          <% else %>
            <span class="store--products-item--price--buy-button" onclick="publicLoginRegister.buyAdcashHandler('product-<%= product_number %>')">
              <%= t('backoffice.products.activate_button') %>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="store--products-item product-<%= product_number %>" data-product="<%= product_number %>">
      <div class="store--products-item--header" style="background: <%= product.details %>">
        <%= product.name %>
      </div>
      <ul class="store--products-item--content">
        <li class="store--products-item--task spaced">
          <span class="store--products-item--task--number store--products-item--earnings--number">
            <%= calc_product_credit(product) %>
          </span>
          <span class="store--products-item--task--title">
            <%= t('backoffice.products.adcash_credit') %>
          </span>
        </li>
        <li class="store--products-item--border"></li>
        <li class="store--products-item--earnings">
          <span class="store--products-item--earnings--number">
            <%= format_currency(product.earnings_per_campaign / 100.0) %>
          </span>
          <span class="store--products-item--earnings--campaign">
            <%= t(:earnings_by_campaign) %>
          </span>
          <span class="store--products-item--earnings--campaign small">
            <%= product.task_per_day %>
            <%= t(:tasks_per_day) %>
          </span>
        </li>
        <li class="store--products-item--price">
          <span class="store--products-item--price--number">
            <%= format_currency(product.price) %>
          </span>
          <% if user_signed_in? %>
            <%= link_to backoffice_order_items_path(product: {id: product.hashid}),
                      class: 'store--products-item--price--buy-button',
                      method: :post do %>
              <%= t(:buy) %>
            <% end %>
          <% else %>
            <span class="store--products-item--price--buy-button" onclick="publicLoginRegister.buyAdcashHandler('product-<%= product_number %>')">
              <%= t(:buy) %>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>
  <% product_number = product_number + 1 %>
<% end %>
