
<div class="col-md-3 m-t-10">
  <div class="product-item">
    <%= link_to backoffice_product_path(product) do %>
      <%= cl_image_tag(product.main_photo_path) %>
    <% end %>
  </div>
  <div class="product-buttons2">
  
      <%= link_to backoffice_order_items_path(product: {id: product.hashid}),
                  
                  method: :post,
                  class: 'product-btn2' do %>
        <%= number_to_currency product.price %><span><%= t('helpers.submit.buy') %></span>
      <% end %>

      <%= link_to backoffice_product_path(product),
                  class: 'banner-buttons-link' do %>
        <i class="fas fa-search-plus"></i>
      <% end %>
      <%= link_to backoffice_order_items_path(product: {id: product.hashid}),
                  class: 'banner-buttons-link',
                   method: :post do %>
        <i class="fas fa-cart-plus"></i>
      <% end %>&nbsp;&nbsp;

    </div>
</div>
