<%= stylesheet_link_tag 'click-tok-theme/store' %>
<%= javascript_include_tag 'click-tok-theme/shop' %>
<div class="page">
  <div class="products-list">
    <% @products.each do |product| %>
        <div class="box">
          <div class="header-box" style="background: <%= product.details %>"></div>
          <div class="content-box">
          <div class="product-title">
             <%= product.name %>
          </div>
          <div class="content-mid">
            <div class="product-task">
            <span class="product-task-amount"> <%= product.task_per_day %></span>
              <%= t(:tasks_per_day) %>
            </div>
            <div class="product-desc">
            <span class="product-task-amount">
                <%= number_to_currency(product.earnings_per_campaign / 100.0, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %>
              </span>
              <%= t(:earnings_by_campaign) %>
            </div>
          </div>

          <div class="product-price">
            <span><%= product.price.zero? ? t(:free) : number_to_currency(product.price, precision: 0).gsub('USD ', '$') %></span>
            <%= link_to backoffice_order_items_path(product: {id: product.hashid}), class: ' btn-buy',
                     method: :post do %>
                     <%= t(:buy) %>
            <% end %>
           </div>

          </div>
        </div>
    <% end %>
  </div>
</div>
