<%= stylesheet_link_tag 'click-tok-theme/store' %>
<%= javascript_include_tag 'click-tok-theme/shop' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<div class="store-content">
  <h3 class="page-title">Adcash</h3>
  <%= render 'backoffice/stores/menu' %>
  <%= render 'backoffice/stores/banner',  badge_pretext_image: 'stores/banner-badge.svg',
                      date: '13/04/2022',
                      description: 'Short description',
                      pretext: 'Últimos Numeros',
                      price: '$20.00',
                      product_image: 'stores/banner-badge.svg',
                      title: 'Nome de um produto' %>
  <div class="store--products__content">
    <% @products.each do |product| %>
      <div class="store--products-item">
        <div class="store--products-item--header">
          <%= product.name %>
        </div>
        <div class="content-box">
          <div class="product-title">
            
          </div>
          <div class="content-mid">
            <div class="product-task">
              <span class="product-task-amount"> <%= product.task_per_day %></span>
              <%= t(:tasks_per_day) %>
            </div>
            <div class="product-desc">
              <span class="product-task-amount">
                <%= number_to_currency(product.earnings_per_campaign / 100.0, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %>
              </span>
              <%= t(:earnings_by_campaign) %>
            </div>
          </div>
          <div class="product-price">
            <span><%= product.price.zero? ? t(:free) : number_to_currency(product.price, precision: 0).gsub('USD ', '$') %></span>
            <%= link_to backoffice_order_items_path(product: {id: product.hashid}), class: 'btn-buy',
                     method: :post do %>
              <%= t(:buy) %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
