<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/adcash/index' %>
<div class="store-content">
  <h3 class="page-title">Adcash</h3>
  <%= render 'backoffice/stores/menu' %>
  <%= render 'backoffice/stores/banner',  badge_pretext_image: 'stores/banner-badge.svg',
                      date: '13/04/2022',
                      description: 'Short description',
                      pretext: 'Últimos Numeros',
                      price: '$20.00',
                      product_image: 'stores/banner-badge.svg',
                      title: 'Nome de um produto' %>
  <div class="store--products__content">
    <% @products.each do |product| %>
      <div class="store--products-item">
        <div class="store--products-item--header" style="background: <%= product.details %>">
          <%= product.name %>
        </div>
        <ul class="store--products-item--content">
          <li class="store--products-item--task">
            <span class="store--products-item--task--number">
              <%= product.task_per_day %>
            </span>
            <span class="store--products-item--task--title">
              <%= t(:tasks_per_day) %>
            </span>
          </li>
          <li class="store--products-item--border"></li>
          <li class="store--products-item--earnings">
            <span class="store--products-item--earnings--number">
              <%= number_to_currency(product.earnings_per_campaign / 100.0, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %>
            </span>
            <span class="store--products-item--earnings--campaign">
              <%= t(:earnings_by_campaign) %>
            </span>
          </li>
          <li class="store--products-item--price">
            <span class="store--products-item--price--number">
              <%= product.price.zero? ? t(:free) : number_to_currency(product.price, precision: 0).gsub('USD ', '$') %>
            </span>
            <%= link_to backoffice_order_items_path(product: {id: product.hashid}),
                  class: 'store--products-item--price--buy-button',
                  method: :post do %>
              <%= t(:buy) %>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
