<%= stylesheet_link_tag 'click-tok-theme/stores/shared/index' %>
<%= stylesheet_link_tag 'click-tok-theme/stores/adcash/index' %>
<div class="store-content">
  <%= render 'backoffice/stores/menu' %>
  <%= render 'backoffice/stores/banner', banner: @banner %>
  <div class="store--products__content <%= I18n.locale.downcase %>">
    <%= render 'index_product_list' %>
  </div>
</div>
