<%= stylesheet_link_tag 'click-tok-theme/store' %>

<div class="products-list">
  <% @products.each do |product| %>
      <div class="item <%= product.id.odd? ? 'f-options-box-r': 'f-options-box-l' %>">
        <div class="box" style='background-color: <%= product.details %>'>
          <div class="product-title">
             <%= product.name %>
          </div>

          <div class="product-task">
            <%= t(:tasks_per_day) %>
            <span class="product-task-amount"> <%= product.task_per_day %></span>
          </div>

          <div class="product-desc">
            <%= t(:earnings_by_campaign) %>
            <span class="product-task-amount">
              <%= product.grace_period %>
            </span>
          </div>

          <div class="product-price">
            <span><%= number_to_currency product.price %></span>
          </div>
        </div>

        <%= link_to backoffice_order_items_path(product: {id: product.hashid}),
                     method: :post do %>
           <div class="buy">
             <button>
               <%= t(:buy) %>
             </button>
           </div>
        <% end %>
      </div>
    <% end %>
</div>
