<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= title @product.name %></h4>
  </div>
</div>

<div class="row">

   <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
     <div class="product-detail" style="display: flex;">
       <div class="sp-loading">
          <%= image_tag 'sp-loading.gif' %>
          <br><%= t('defaults.loading') %>
       </div>

         <div class="sp-wrap">

           <div class="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="item">
                  <a href="<%= product.main_photo_path %>">
                    <%= cl_image_tag(product.main_photo_path, { size: '150x150' }) %>
                  </a>
                </div>
                <% product.photos.each do |cl| %>
                  <div class="item">
                    <a href="<%= url_for(cl) %>">
                      <%= cl_image_tag(url_for(cl), { size: '150x150' }) %>
                    </a>
                  </div>
                <% end %>
              </div>
           </div>

         </div>
      </div>
   </div>

   <div class="col-md-7 col-sm-7 col-xs-12 col-lg-7">
      <div class="product-detail">
         <h3><b><%= product.name %></b></h3>

         <h2><b><%= number_to_currency product.price %></b></h2>
         <h4>PONTUAÇÃO: <%= product.binary_score %></h4>

         <div class="m-t-30">
           <%= simple_form_for @product, url: backoffice_order_items_path, method: :post do |f| %>
             <%= f.input :id, as: :hidden %>
             <button type="submit" class="btn btn-primary waves-effect waves-light">
               <span class="btn-label"><i class="fa fa-shopping-cart"></i></span><%= t('views.backoffice.products.show.buy') %>
             </button>
            <% end %>
         </div>

         <hr>

          <div class="row">
            <div class="col-md-6">
              <h4><b><%= t('views.backoffice.products.show.specifications') %></b></h4>
              <div class="table-responsive m-t-20">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="400"><%= t('attributes.quantity') %></td>
                      <td><%= product.quantity %></td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('binary_score') %></td>
                      <td><%= product.binary_score %></td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('advance_score') %></td>
                      <td><%= product.advance_score %></td>
                    </tr>
                    <tr>
                      <td width="400">Sku</td>
                      <td><%= product.sku %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <h4><b><%= t('views.backoffice.products.show.description') %></b></h4>
              <p class="text-muted"><%= simple_format(product.description) %></p>
              <% description(product.short_description || product.description) %>
            </div>
          </div>
       </div>
   </div>

</div>
<!-- end row -->

<script type="text/javascript">
    // wait for images to load
    window.onload = function() {
      $('.sp-wrap').smoothproducts();
    };
</script>
