<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= title @product.name %></h4>
  </div>
</div>

<div class="row">

   <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 product-detail">
     <div class="">
       <div class="col-md-12 img-large mb-5">
        <%= cl_image_tag(@product.main_photo_id, { size: '100%', class: "border-1" }) %>
       </div>
       <div class="col-md-12">

          <% @product.photos.each do |cl| %>
            <div class="col-xs-4 img-small mb-5 border-1">
                <%= cl_image_tag(cl.public_id, { size: '150x150' }) %>
            </div>
          <% end %>

        </div>
        
       
 
      </div>
   </div>

   <div class="col-md-7 col-sm-7 col-xs-12 col-lg-7">
      <div class="product-detail">
         <h3><b><%= @product.name %></b></h3>

         <h2><b><%= number_to_currency @product.price %></b></h2>
         <h4>PONTUAÇÃO: <%= @product.binary_score %></h4>

         <div class="m-t-30">
            <%= simple_form_for @product, url: backoffice_order_items_path, method: :post do |f| %>
              <%= f.input :id, as: :hidden %>
              <button type="submit" class="btn btn-primary waves-effect waves-light">
                <span class="btn-label"><i class="fa fa-shopping-cart"></i></span><%= t('views.backoffice.products.show.buy') %>
              </button>
            <% end %>
         </div>

         <hr>

          <div class="row">
            <div class="col-md-6">
              <h4><b><%= t('views.backoffice.products.show.specifications') %></b></h4>
              <div class="table-responsive m-t-20">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="400">Quantidade</td>
                      <td><%= @product.quantity %></td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('weight') %></td>
                      <td><%= @product.weight %> kg</td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('height') %></td>
                      <td><%= @product.height %> cm</td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('width') %></td>
                      <td><%= @product.width %> cm</td>
                    </tr>
                    <tr>
                      <td><%= Product.human_attribute_name('length') %></td>
                      <td><%= @product.length %> cm</td>
                    </tr>
                    <tr>
                      <td width="400">Sku</td>
                      <td><%= @product.sku %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <h4><b><%= t('views.backoffice.products.show.description') %></b></h4>
              <p class="text-muted"><%= simple_format(@product.description) %></p>
              <% description(@product.short_description || @product.description) %>
            </div>
          </div>
       </div>
   </div>

   <div class="col-sm-8">
       <div class="product-right-info">

       </div>
   </div>

</div>
<!-- end row -->

<div class="row m-t-30">
</div>



<script type="text/javascript">
    // wait for images to load
    window.onload = function() {
      $('.sp-wrap').smoothproducts();
    };

    $(function(){
      let imgSmall = $('.img-small img');
      let imgLarge = $('.img-large img');
      imgSmall.click(function(){
        imgLarge.attr('src', $(this).attr('src')).fadeIn();
      });
    });
</script>
