<!-- Page-Title -->
<div class="row col-sm-12 product-detail">
    <div class="col-md-6">
        <div class="product-detail-main-image">
          <a href="<%= url_for(product.main_photo.try(:path)) %>">
            <%= cl_image_tag(product.main_photo_path, class: 'img img-responsive') %>
          </a>
        </div>
        <div class="product-detail-image">
          <a href=<%= product.main_photo_path %>>
            <%= cl_image_tag(product.main_photo_path) %>
          </a>
          <% product.photos.each do |photo| %>
            <a href=<%= url_for(photo) %>>
              <%= cl_image_tag(url_for(photo)) %>
            </a>
          <% end %>
        </div>
    </div>
    <div class="col-md-6">
      <div class="product-detail-text">
        <fieldset>
          <h3><b><%= product.name %></b></h3>
        </fieldset>
        <fieldset>
          <p>
            <%= product.details %>
          </p>
        </fieldset>
        <div class="product-detail-price">
          <fieldset>
            <p><%= number_to_currency product.price %></p>
          </fieldset>
          <fieldset>
            <p><%= t('defaults.score').upcase %>: <%= product.binary_score %></p>
          </fieldset>
          <div class="product-detail-btn">
            <%= simple_form_for @product, url: backoffice_order_items_path, method: :post do |f| %>
              <%= f.input :id, as: :hidden %>
              <button type="submit" class="btn ">
                <%= t('views.backoffice.products.show.buy') %>
                <span class="btn-label"><i class="fa fa-shopping-cart"></i></span>
              </button>
            <% end %>
          </div>
        </div>
        <div class="product-detail-payment">
          <p><%= t('payment_types') %></p>
          <%= image_tag 'icons/cartão-credito-e-debito.png'%>
          <%= image_tag 'icons/boleto.png'%>
          <%= image_tag 'icons/pix.png'%>
          <%= image_tag 'icons/btc.png'%>
        </div>
        <div class="product-detail-sercure">
          <p><%= t('buy_safe') %></p>
          <%= image_tag 'icons/protegido-site-seguro.png'%>
          <%= image_tag 'icons/compra-segura.png'%>
        </div>
      </div>
  </div>
  <div class="row col-sm-12">
    <ul  id="myTab" role="tablist">
      <li class="product-detail-btn">
        <button class="btn  " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
          <%= t('attributes.description') %>
        </button>
      </li>
      <li class="product-detail-btn">
        <button class="btn  " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
          <%= t('details') %>
        </button>
      </li>
      <li class="product-detail-btn">
        <%= simple_form_for @product, url: backoffice_order_items_path, method: :post do |f| %>
          <%= f.input :id, as: :hidden %>
          <button type="submit" class="btn ">
            <%= t('views.backoffice.products.show.buy') %>
            <span class="btn-label"><i class="fa fa-shopping-cart"></i></span>
          </button>
        <% end %>
      </li>
      <li class="product-detail-btn">
        <button type="submit" class="btn  ">
          <%= link_to t('back_to_store'), shop_index_path  %>
          <span class="btn-label"><i class="fas fa-store"></i></span>
        </button>
      </li>
      <li>
        <%= social_share_button_tag(@product.name) %>
      </li>
    </ul>
    <div id="myTabContent">
      <div id="myTabContent1">
        <p><%= t('most_sold') %></p>
        <% most_sold_products(6).each do |product| %>
          <a href="#{url_for(product.main_photo)}">
            <%= cl_image_tag(product.main_photo_path) %>
            <%= number_to_currency(product.price) %>
          </a>
        <% end %>
      </div>
      <div class="tab-content" id="myTabContent2">
        <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= @product.product_descriptions.each_with_index do |description, index| %>
            <div class="description<%= description.position %>">
              <% break if description.position == Product::MAXIMUM_NUMBER_OF_PRODUCT_DESCRIPTIONS %>
              <%= cl_image_tag(url_for(description.photo)) if description.photo %>
              <%= cl_image_tag(url_for(@product.product_descriptions[index + 1].photo)) if @product.product_descriptions[index + 1] &&
                                                                                           @product.product_descriptions[index + 1].photo &&
                                                                                           description.position == Product::MAXIMUM_NUMBER_OF_PRODUCT_DESCRIPTIONS - 1 %>

              <div>
                <p> <%= description.description if description.description if description.description %> </p>
                <p> <%= @product.product_descriptions[index + 1].description if @product.product_descriptions[index + 1] &&
                                                                   @product.product_descriptions[index + 1].photo &&
                                                                   description.position == Product::MAXIMUM_NUMBER_OF_PRODUCT_DESCRIPTIONS - 1 %> </p>

              </div>
  </div>
          <% end %>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="col-md-6">
            <h4><b><%= t('views.backoffice.products.show.specifications') %></b></h4>
            <div class="table-responsive m-t-20">
              <table class="table">
                <tbody>
                  <tr>
                    <td width="400"><%= t('attributes.quantity') %></td>
                    <td><%= product.quantity %></td>
                  </tr>
                  <tr>
                    <td><%= t('defaults.details') %></td>
                    <td><%= product.details %></td>
                  </tr>
                  <tr>
                    <td><%= Product.human_attribute_name('binary_score') %></td>
                    <td><%= product.binary_score %></td>
                  </tr>
                  <tr>
                    <td><%= Product.human_attribute_name('advance_score') %></td>
                    <td><%= product.advance_score %></td>
                  </tr>
                  <tr>
                    <td width="400">Sku</td>
                    <td><%= product.sku %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
