<%= simple_form_for(form, url: url, method: method) do |f| %>
  <%= f.input :name %>

  <div class="row">
    <%= f.input :document_cpf, wrapper_html: { class: 'col-md-6' }, input_html: { class: 'cpf-mask' } %>
    <%= f.input :phone, wrapper_html: { class: 'col-md-6' }, input_html: { class: 'phone-mask' } %>
  </div>

  <%= f.input :email %>

  <h4 class="m-t-0 header-title">
    <b>Informações do veículo</b>
  </h4>
  <div class="row">
    <%= f.input :car_brand, wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :car_model, wrapper_html: { class: 'col-md-6' } %>
  </div>
  <div class="row">
    <%= f.input :car_year, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :car_mileage, wrapper_html: { class: 'col-md-4' } %>
    <%= f.input :car_plate, wrapper_html: { class: 'col-md-4' } %>
  </div>

  <h4 class="m-t-0 header-title">
    <b>Informações do H-Max</b>
  </h4>
  <div class="row">
    <%= f.input :product_model, collection: Product.where('binary_score > 0'), wrapper_html: { class: 'col-md-6' } %>
    <%= f.input :product_serial, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <hr>  
  <div class="row">
    <div class="col-md-6">
      <label>Foto do Check-in:</label>
      <%= f.input :cached_checkin_data, as: :hidden %>
      <%= f.input :checkin, as: :file, label: false %>
    </div>
    <div class="col-md-6">
      <label>Foto do Check-out:</label>
      <%= f.input :cached_checkout_data, as: :hidden %>
      <%= f.input :checkout, as: :file, label: false %>
    </div>
  </div>
  <hr>  
  <div class="row">
    <div class="col-md-6">
      <label>Foto do Scanner-in:</label>
      <%= f.input :cached_scanner_in_data, as: :hidden %>
      <%= f.input :scanner_in, as: :file, label: false %>
    </div>
    <div class="col-md-6">
      <label>Foto do Scanner-out:</label>
      <%= f.input :cached_scanner_out_data, as: :hidden %>
      <%= f.input :scanner_out, as: :file, label: false %>
    </div>
  </div>
  <hr>  
  <label>Foto da Instalação:</label>
    <%= f.input :cached_installation_data, as: :hidden %>
    <%= f.input :installation, as: :file, label: false %>
  <hr>  

  <%= f.submit 'Salvar', class: 'btn btn-primary' %>
<% end %>
