<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Instalação #<%= product_setup.hashid %></h4>
    <br>
  </div>
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">
        <b>Informações do proprietário</b>
      </h4>
      <div class="row">
        <div class="col-md-6">
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:name) %>:</strong> <span class="m-l-15"><%= product_setup.name %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:email) %>:</strong> <span class="m-l-15"><%= product_setup.email %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:document_cpf) %>:</strong> <span class="m-l-15"><%= product_setup.document_cpf %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:phone) %>:</strong> <span class="m-l-15"><%= product_setup.phone %></span></p>
        </div>
      </div>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Informações do produto instalado</b>
      </h4>

      <div class="row">
        <div class="col-md-6">
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:product_name) %>:</strong> <span class="m-l-15"><%= product_setup.product_name %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:product_serial) %>:</strong> <span class="m-l-15"><%= product_setup.product_serial %></span></p>
        </div>
      </div>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Informações do carro</b>
      </h4>
      <div class="row">
        <div class="col-md-6">
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:car_brand) %>:</strong> <span class="m-l-15"><%= product_setup.car_brand %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:car_year) %>:</strong> <span class="m-l-15"><%= product_setup.car_year %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:car_model) %>:</strong> <span class="m-l-15"><%= product_setup.car_model %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:car_mileage) %>:</strong> <span class="m-l-15"><%= product_setup.car_mileage %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:car_plate) %>:</strong> <span class="m-l-15"><%= product_setup.car_plate %></span></p>
        </div>
      </div>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Informações da análise</b>
      </h4>

      <div class="row">
        <div class="col-md-6">
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:status) %>:</strong> <span class="m-l-15"><%= t product_setup.status %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:status_message) %>:</strong> <span class="m-l-15"><%= product_setup.status_message %></span></p>
          <p class="text-muted font-13"><strong><%= ProductSetup.human_attribute_name(:status_updated_at) %>:</strong> <span class="m-l-15"><%= product_setup.status_updated_at %></span></p>
        </div>
      </div>

      <br>

      <h4 class="m-t-0 header-title">
        <b>Imagens</b>
      </h4>

      <table class="table-bordered">
        <tr>
          <td>Checkin</td>
          <td>
            <% if product_setup.checkin.present? %>
              <%= link_to product_setup.checkin_url(:original) do %>
                <%= image_tag product_setup.checkin_url(:thumbnail) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Checkout</td>
          <td>
            <% if product_setup.checkout.present? %>
              <%= link_to product_setup.checkout_url(:original) do %>
                <%= image_tag product_setup.checkout_url(:thumbnail) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Scanner In</td>
          <td>
            <% if product_setup.scanner_in.present? %>
              <%= link_to product_setup.scanner_in_url(:original) do %>
                <%= image_tag product_setup.scanner_in_url(:thumbnail) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Scanner Out</td>
          <td>
            <% if product_setup.scanner_out.present? %>
              <%= link_to product_setup.scanner_out_url(:original) do %>
                <%= image_tag product_setup.scanner_out_url(:thumbnail) %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Instalação</td>
          <td>
            <% if product_setup.installation.present? %>
              <%= link_to product_setup.installation_url(:original) do %>
                <%= image_tag product_setup.installation_url(:thumbnail) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
