<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement' %>
<%= javascript_include_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement.js', defer: true %>
<section class="modal-regulation">
  <button class="modal-close-button">✕</button>
  <div class="modal-regulation-header">
    <% if SystemConfiguration.whitelabel? %>
      <%= image_tag('white-label-logo.png', class: 'modal-regulation-image') %>
    <% else %>
      <%= image_tag('logo.png', class: 'modal-regulation-image') %>
    <% end %>
    <h4 class="modal-regulation-title"><%= t(:draw_regulation) %></h4>
  </div>
  <article class="modal-regulation-text">
    <% partial_img_path = "click-tok-theme/stores/raffles/raffles_tickets/agreement" %>
    <%= t(:raffles_agreement_contract_html, img1_path: image_path(partial_img_path + '1.png'),
                                            img2_path: image_path(partial_img_path + '2.png'),
                                            img3_path: image_path(partial_img_path + '3.png'),
                                            img4_path: image_path(partial_img_path + '4.png'),
                                            company_name: SystemConfiguration.company_name,
                                            raffle_license_number: SystemConfiguration.raffle_license_number) %>
  </article>
</section>
