<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffle_tickets' %>
<%= javascript_include_tag 'click-tok-theme/stores/raffles/raffles_tickets.js', defer: true %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>

<script>
//document.body.insertAdjacentHTML( 'afterbegin', '<div id="myID">...</div>' );

// fetch(window.location.pathname + '/tickets')
// .then(response => response.json())
// .then(tickets => console.log(tickets))
// .catch(error => console.log(error))
</script>
<div class="raffle-tickets-container">
  <div class="raffle-tickets-header-container">
    <%= link_to raffles_backoffice_stores_path, class: 'raffle-tickets-return-button' do%>
      <svg xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16" >
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    <% end %>
    <h4 class="raffle-tickets--page-title"><%= t(:raffles) %></h4>
    <button class="raffle-tickets--regulation-button">
      <i class="fa-solid fa-file-lines"></i>
      Regulamento do sorteio
    </button>
  </div>
  <%= render 'backoffice/stores/banner', banner: @banner %>
  <div class="raffle-tickets-display-container">
    <div class="raffle-tickts-image-container">
      <%= image_tag(@raffle.path, class: 'raffle-tickets-image') %>
    </div>
    <div class="raffle-tickets-info-container">
      <h1 class="raffle-tickets-title"><%= @raffle.title %></h1>
      <p class="raffle-tickets-description">
        <%= @raffle.description %>
      </p>
      <button class="raffle-tickets-read-more">
        Ler Mais
      </button>
      <ul class="raffle-tickets-info--footer">
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Livre</span>
          <span class="footer--item--number">100</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Reservado</span>
          <span class="footer--item--number">20</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Pago</span>
          <span class="footer--item--number">80</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="raffle-tickets-selected-container">
    <div class="raffle-tickets-selected-header">
      <span class="raffle-tickets-selected-title">
        Números selecionados
      </span>
      <button class="raffle-tickets-selected-clear-button">
        <i class="fa-regular fa-trash-can"></i>
        Limpar
      </button>
    </div>
    <ul class="raffle-tickets-numbers-list selected-tickets-container">
      <li class="raffle-tickets-numbers-list-item message">
        <b>Escolha um número</b>
      </li>
    </ul>
  </div>
  <div class>
    <%= form_for(@raffle,
               url: backoffice_raffles_tickets_path,
               method: :post,
               html: {class: 'raffle-tickets-buy-form'}) do |f| %>
      <div class="raffle-tickets-form-button-container">
        <i class="fa-solid fa-cart-plus cart-icon"><b class="cart-icon-number"></b></i>
        <%= f.submit 'Ir para pagamento', class: 'raffle-tickets-form-button' %>
      </div>
    <% end %>
    <div class="raffle-tickets-filters">
      <div class="raffle-tickets-filters--form">
        <div class="raffle-ticktes-search-inputs">
          <button class="raffle-tickets-form-button__random">            
            <span class="random-ticket">
            <i class="fa-solid fa-shuffle"></i>
              Aleatório
            </span>
          </button>
          <div class="raffle-tickets-search-numbers-container">
            <input class="raffle-tickets-field search-ticket" type="number" placeholder="Numero">
            <span class="raffle-tickets-form-button add-searched disabled"><span><i class="fa-solid fa-plus"></i> Adicionar</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="raffle-tickets-numbers-container">
      <ul class="raffle-tickets-numbers-list tickets-container ticket-list">
      </ul>
    </div>
  </div>
