<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffle_tickets' %>
<%= javascript_include_tag 'raffles/raffles-tickets', defer: true %>
<div class="raffle-tickets-container">
  <div class="raffle-tickets-header-container">
    <%= link_to raffles_backoffice_stores_path, class: 'raffle-tickets-return-button' do%>
      <svg xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16" >
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    <% end %>
    <h4 class="raffle-tickets--page-title"><%= t(:raffles) %></h4>
    <button class="raffle-tickets--regulation-button">
      Regulamento do sorteio
    </button>
  </div>
  <%= render 'backoffice/stores/banner', banner: @banner %>
  <div class="raffle-tickets-display-container">
    <div class="raffle-tickts-image-container">
      <%= image_tag(@raffle.path, class: 'raffle-tickets-image') %>
    </div>
    <div class="raffle-tickets-info-container">
      <h1 class="raffle-tickets-title"><%= @raffle.title %></h1>
      <p class="raffle-tickets-description">
        <%= @raffle.description%>
      </p>
      <button class="raffle-tickets-read-more">
        Ler Mais
      </button>
      <ul class="raffle-tickets-info--footer">
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Livre</span>
          <span class="footer--item--number">100</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Reservado</span>
          <span class="footer--item--number">20</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info">Pago</span>
          <span class="footer--item--number">80</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="raffle-tickets-selected-container">
    <div class="raffle-tickets-selected-header">
      <span class="raffle-tickets-selected-title">
        Números selecionados
      </span>
      <button class="raffle-tickets-selected-clear-button">
        Limpar
      </button>
    </div>
    <ul class="raffle-tickets-numbers-list">
      <li class="raffle-tickets-numbers-list-item raffle-tickets-selected-number">
        <b>001</b>
      </li>
      <li class="raffle-tickets-numbers-list-item raffle-tickets-selected-number">
        <b>002</b>
      </li>
      <li class="raffle-tickets-numbers-list-item raffle-tickets-selected-number">
        <b>003</b>
      </li>
    </ul>
  </div>
  <%= form_for(@raffle,
               url: backoffice_raffles_tickets_path,
               method: :post,
               html: {class: 'raffle-tickets-buy-form'}) do |f| %>
    <%= f.submit 'Ir para pagamento', class: 'raffle-tickets-form-button' %>
  <% end %>
  <div class="raffle-tickets-filters">
    <form class="raffle-tickets-random-form raffle-tickets-filters--form">
      <label class="raffle-tickets-random-title" for="select-number">Selecionar números aleatórios</label>
      <div class="raffle-ticktes-random-inputs">
        <input class="raffle-tickets-field" id="select-number" type="text" placeholder="Numero">
        <button class="raffle-tickets-form-button" type="submit">Aplicar</button>
      </div>
    </form>
    <form class="raffle-tickets-search-form raffle-tickets-filters--form">
      <input class="raffle-tickets-field" type="text" placeholder="Numero">
      <button class="raffle-tickets-form-button" type="submit">Pesquisar</button>
    </form>
  </div>
  <div class="raffle-tickets-numbers-container">
    <ul class="raffle-tickets-numbers-list">
      <%
      i = 000      
      555.times do
      if (i < 10)
        number = '00' + i.to_s
      elsif(i < 100)
        number = '0' + i.to_s
      else
        number = i
      end
      %>
      <li class="raffle-tickets-numbers-list-item">
        <b><%=number%></b>
      </li>
      <% 
    i += 1
    end 
    %>
    </ul>
  </div>
</div>
