<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffles_tickets/show' %>
<%= javascript_include_tag 'click-tok-theme/stores/raffles/raffles_tickets/show.js', defer: true %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<%= render 'agreement' %>
<%= render 'backoffice/shared/login_register' %>
<div class="raffle-tickets-container">
  <div class="raffle-tickets-header-container">
    <%= link_to raffles_backoffice_stores_path, class: 'raffle-tickets-return-button' do %>
      <svg xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>
    <% end %>
    <h4 class="raffle-tickets--page-title"><%= t(:raffles) %></h4>
    <button class="raffle-tickets--regulation-button regulation-button">
      <i class="fa-solid fa-file-lines"></i>
      <%= t(:draw_regulation) %>
    </button>
  </div> 
  <div class="raffle-tickets-display-container">
    <div class="raffle-tickts-image-container">
      <%= image_tag(@raffle.path, class: 'raffle-tickets-image') %>
    </div>
    <div class="raffle-tickets-info-container">
      <h1 class="raffle-tickets-title"><%= @raffle.title %></h1>
      <span class="raffle-tickets-price"><%= format_currency(@raffle.price) %></span>
      <p class="raffle-tickets-description">
        <%= @raffle.description %>
      </p>
      <button class="raffle-tickets-read-more">
        <%# <%= t(:read_more) %>
      </button>
      <ul class="raffle-tickets-info--footer">
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info"><%= t(:available) %></span>
          <span data-filter="available" class="footer--item--number filter-button available">...</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info"><%= t(:reserved) %></span>
          <span data-filter="reserved" class="footer--item--number filter-button reserved">...</span>
        </li>
        <li class="raffle-tickets-info--footer--item">
          <span class="footer--item--info"><%= t(:purchased) %></span>
          <span data-filter="purched" class="footer--item--number filter-button purched">...</span>
        </li>
      </ul>
    </div>
  </div>
  <%= render 'select_bar' %>    
  <div class="raffle-tickets-numbers-container">
  <span class="footer--item--number filter-tag"></span>
    <ul class="raffle-tickets-numbers-list tickets-container ticket-list">
    </ul>
  </div>
</div>
