<!-- Top Bar Start -->
<div class="topbar">

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <!-- <a href="index.html" class="logo">
        <i class="icon-magnet icon-c-logo"></i>
        <%= image_tag('logo.png') %>
      </a> -->
      <!-- Image Logo here -->
      <a href="/" class="logo">
        <i class="icon-c-logo"> <%= image_tag('logo_sm.png', height: 42) %> </i>
        <span><%= image_tag('logo.png', height: 40) %></span>
      </a>
    </div>
  </div>

  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="">
        <ul class="nav navbar-nav navbar-left pull-left">
          <li>
            <%= link_to shop_index_path do %>
              <i class="fa fa-home"></i> <%= t('shop') %>
            <% end %>
          </li>
          <li>
            <%= link_to t('login'), new_user_session_path %>
          </li>
          <li>
            <%= link_to t('signup'), new_user_registration_path %>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right pull-right">
          <% if user_masquerade? %>
          <li>
              <%= link_to "Voltar para conta", back_masquerade_path(current_user), class: 'btn btn-danger' %>
          </li>
          <% end %>
          <li>
            <a href="?locale=en" class="flag">
              <%= image_tag('countries/us.svg') %>
            </a>
          </li>
          <li>
            <a href="?locale=es" class="flag">
              <%= image_tag('countries/es.svg') %>
            </a>
          </li>
          <li>
            <a href="?locale=pt-BR" class="flag">
              <%= image_tag('countries/br.svg') %>
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- Top Bar End -->
