<ul class="list-unstyled topnav-menu float-right mb-0">
  <li class="dropdown notification-list">
      <a class="navbar-toggle nav-link">
          <div class="lines">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </a>
  </li>

  <li class="notification-list">
    <% link_to t('defaults.indication_warning', sponsor: params[:sponsor]), '#' if sponsor_from_username(params).present? %>
  </li>

  <li class="notification-list">
    <%= link_to shop_index_path(sponsor: params[:sponsor]), class: 'nav-link' do %>
      <i class="fa fa-home"></i> <%= t('shop') %>
    <% end %>
  </li>

  <li class="notification-list">
    <%= link_to t('login'), new_user_session_path(sponsor: params[:sponsor]),
                            class: 'nav-link' %>
  </li>

  <li class="notification-list">
    <%= link_to t('signup'), new_user_registration_path(sponsor: params[:sponsor]),
                             class: 'nav-link' %>
  </li>

  <li class="notification-list">
    <a href="?locale=en" class="nav-link waves-effect waves-effect flag">
      <%= image_tag('countries/us.svg', height: 18) %>
    </a>
  </li>

  <li class="notification-list">
    <a href="?locale=es" class="nav-link waves-effect waves-effect flag">
      <%= image_tag('countries/es.svg', height: 18) %>
    </a>
  </li>

  <li class="notification-list">
    <a href="?locale=pt-BR" class="nav-link waves-effect waves-effect flag">
      <%= image_tag('countries/br.svg', height: 18) %>
    </a>
  </li>

</ul>

<div class="logo-box">
  <a href="/" class="logo text-center">
    <span class="logo-lg">
      <%= image_tag('logo.png', height: 35) %>
    </span>
    <span class="logo-sm">
      <%= image_tag('logo.png', height: 24) %>
    </span>
  </a>
</div>
