<%= content_for :body_class, 'login-page' %>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class="text-center">
    <%= image_tag 'logo.png' %>
  </div>
  <br>
  <div class=" card-box">
    <div class="panel-heading">
      <h3 class="text-center"><%= title 'Mudar sua senha' %></h3>
    </div>

    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, label: "Nova senha", required: true, autofocus: true, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirmar sua nova senha", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Mudar minha senha" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
