<%= content_for :body_class, 'login-page' %>
<br><br><br><br><br>
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page" id="wrapper-page-login">
  <div class="text-center register-logo">
    <%= image_tag 'logo.png' %>
  </div>
  <br>
  <div class=" card-box">
    <div class="panel-heading">
      <h3><%= t('.title') %></h3>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t('.get_password_reset_link') %>
        </div>
        <hr>
        <%= render "users/shared/links" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= render "users/shared/flags" %>
    </div>
  </div>
</div>


<style media="screen">
  label, .help-block {
    color: white;
  }
</style>
