<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-border panel-custom">
      <div class="panel-heading">
  			<h3 class="panel-title"><%= t(:filters) %></h3>
  		</div>
      <div class="panel-body">
        <%= search_form_for @q, url: backoffice_admin_user_versions_path do |f| %>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2">
                <%= f.label t('attributes.username') %>
                <%= f.search_field :username_eq, class: 'form-control input-sm' %>
              </div>
            </div>
          </div>
          <%= f.submit t('datagrid.form.search'), class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th> <%= t('attributes.active') %> </th>
                    <th> <%= t('attributes.active_until') if ENV['ENABLED_ACTIVATION'] == 'true' %> </th>
                    <th> <%= t('attributes.updated_at') %> </th>
                  </tr>
                </thead>
                <tbody>
                  <% @user_versions.each do |version| %>
                    <% active = version.try(:reify).try(:active) || version.try(:active) %>
                    <% active_until = version.try(:reify).try(:active_until) || version.try(:active_until) %>
                    <% updated_at = version.try(:created_at) || version.try(:update_at) %>
                    <tr>
                      <td> <%= t(active) %></td>
                      <td> <%= l(active_until, format: '%m/%d/%Y') if active_until && ENV['ENABLED_ACTIVATION'] == 'true' %> </td>
                      <td> <%= l(updated_at, format: '%m/%d/%Y') if updated_at %> </td>
                    </tr>
                  <% end %>
                  <% if @user_versions.empty? %>
                    <tr class='text-center'> <td colspan='100'> <%= t('defaults.no_data') %> </td> </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
