<%= stylesheet_link_tag 'click-tok-theme/financial_dashboard' %>

<div>
  <div class="page">
    <div class="f-balance-area">
      <div class="balance-title">
        <%= t(:available_balance) %>
      </div>

      <div class="balance-value">
        <%= number_to_currency current_user.financial_transactions.sum(&:cent_amount) %>
      </div>
    </div>

    <%= link_to new_backoffice_withdrawal_path do %>
      <div class="f-withdraw-area">
        <%= t(:withdrawal) %>
      </div>
    <% end %>

    <div class="products-list">
      <div class="f-options-box f-options-box-l">
        <div class="f-box-title">
          <%= t(:withdrawal_report) %>
        </div>
        <div class="f-box-icon">
          <%= link_to backoffice_withdrawals_path do %>
            <%= image_tag 'icons/withdrawal.svg' %>
          <% end %>
        </div>
      </div>

      <div class="f-options-box f-options-box-r">
        <div class="f-box-title">
          <%= t(:earnings_report) %>
        </div>
        <div class="f-box-icon">
          <%= link_to backoffice_financial_transactions_path do %>
            <%= image_tag 'icons/gains.svg' %>
          <% end %>
        </div>
      </div>

      <div class="f-options-box f-options-box-l">
        <div class="f-box-title">
          <%= t('defaults.my_orders') %>
        </div>
        <div class="f-box-icon">
          <%= link_to backoffice_orders_path do %>
            <%= image_tag 'icons/orders.svg' %>
          <% end %>
        </div>
      </div>

      <div class="f-options-box f-options-box-r">
        <div class="f-box-title">
          <%= t(:my_wallet) %>
        </div>
        <div class="f-box-icon">
          <%= link_to edit_backoffice_bank_account_path(current_user) do %>
            <%= image_tag 'icons/wallet.svg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
