<%= javascript_include_tag 'charts' %>

 <div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="md md-attach-money text-primary"></i>
            <h2 class="m-0 text-dark counter font-600"><%= Order.where.not(status: Order.statuses[:cart]).or(Order.where.not(status: Order.statuses[:cancelled])).today.count %></h2>
            <div class="text-muted m-t-5"><%= t('views.dashboard.admin.today_orders') %></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="md md-add-shopping-cart text-pink"></i>
            <h2 class="m-0 text-dark counter font-600"><%= Order.where.not(status: Order.statuses[:cart]).count %></h2>
            <div class="text-muted m-t-5"><%= t('views.dashboard.admin.total_orders') %></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="md md-store-mall-directory text-info"></i>
            <h2 class="m-0 text-dark counter font-600"><%= Product.active.count %></h2>
            <div class="text-muted m-t-5"><%= t('views.dashboard.admin.active_products') %></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="widget-panel widget-style-2 bg-white">
            <i class="md md-account-child text-custom"></i>
            <h2 class="m-0 text-dark counter font-600"><%= User.count %></h2>
            <div class="text-muted m-t-5"><%= t('views.dashboard.admin.total_users') %></div>
        </div>
    </div>
 </div> <!-- end row -->

 <div class="row">
   <div class="col-md-6">
     <div class="card-box">
       <h4>Histórico de Pedidos</h4>
       <%= column_chart Order.where('created_at >= ?', 10.days.ago.beginning_of_day).group_by_day(:created_at).count %>
     </div>
   </div>
   <div class="col-md-6">
     <div class="card-box">
       <h4>Histórico de Usuários</h4>
       <%= area_chart User.where('created_at >= ?', 10.days.ago.beginning_of_day).group_by_day(:created_at).count %>
     </div>
   </div>
 </div>

 <div class="row">
  	<div class="col-lg-6">
  		<div class="card-box">
        <%= link_to 'Ver todos', backoffice_admin_orders_path, class: 'pull-right btn btn-default btn-sm waves-effect waves-light' %>
  			<h4 class="text-dark header-title m-t-0">Últimos Pedidos</h4>

  			<div class="table-responsive">
          <table class="table table-actions-bar">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Order Date</th>
                  <th>Order Number</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% last_orders.each do |last_order| %>
                <tr>
                  <td><%= link_to_user last_order.user %></td>
                  <td><%= l last_order.created_at, format: :short %></td>
                  <td><%= link_to "\##{last_order.id}", backoffice_admin_order_path(last_order) %></td>
                  <td><%= number_to_currency last_order.total %></td>
                </tr>
                <% end %>
              </tbody>
          </table>
        </div>

  		</div>
  	</div> <!-- end col -->


  </div>
