<br>
<div class="row linhaHome">
  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Status da Conta</span>
      </div>
      <% if current_user.active? %>
        <div class="dashboard-card__value label-default">Ativo</div>
      <% else %>
        <div class="dashboard-card__value label-danger">Inativo</div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>PV Carreira</span>
      </div>
      <div class="dashboard-card__value label-success"><%= number_with_delimiter current_user.unilevel_score_count %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Pacote</span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_trail).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Título</span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_career).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Próximo Título</span>
      </div>
      <div class="dashboard-card__value label-info">
        <%= current_user.next_career_kind.try(:name) %>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Saques</span>
      </div>
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <table class="table table-bordered table-highlight">
            <thead class="table-highlight__head">
              <tr>
                <th>Data</th>
                <th>Status</th>
                <th>Valor</th>
              </tr>
            </thead>
            <% last_withdrawals.each do |withdraw| %>
              <tr>
                <td><%= l withdraw.created_at, format: :short %></td>
                <td><%= t withdraw.status %></td>
                <td><%= number_to_currency withdraw.gross_amount_cents %></td>
              </tr>
            <% end %>
            <% if last_withdrawals.blank? %>
              <tr>
                <td colspan="3" class="text-center"><%= t('no_data') %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Últimos Qualificados</span>
      </div>
      <div class="dashboard-card-box__container inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
        <% last_qualifications.each do |qualification| %>
        <div class="inbox-item">
          <p class="inbox-item-author"><%= qualification.user.username %></p>
          <p class="inbox-item-text"><%= qualification.old_career ? t(qualification.old_career) : 'Cliente' %>
            <i class="fa fa-arrow-right"></i> <%= t qualification.new_career %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Últimas Postagens</span>
      </div>
      <div class="dashboard-card-box__containe">
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="support-material">
      <div class="support-material__left-box">
        Download Material de apoio
      </div>

      <div class="support-material__right-box">
          <ul class="support-material__download-list">

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/presentation.jpg' %>
                </div>
                <div>Apresentação do negócio</div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/video.jpg' %>
                </div>
                <div>Mais Voz</div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/paper.jpg' %>
                </div>
                <div>Contrato de Adesão</div>
              </a>
            </li>

          </ul>
      </div>
    </div>
  </div>
</div>
