<style media="screen">
  #pie-chart {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart2 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart3 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart4 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart5 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-refresh {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fix-right-a {
    margin-right: 5px;
  }
  .donut-legend > div {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .donut-legend > div:last-child {
    margin-right: 0;
  }
  .donut-legend > div > i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: -3px;
    vertical-align: middle;
    border-radius: 1px;
  }
</style>
<br>
<div class="row linhaHome">
  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:account_status) %></span>
      </div>
      <% if current_user.active? %>
        <div class="dashboard-card__value label-default"><%= t(:active) %></div>
      <% else %>
        <div class="dashboard-card__value label-danger"><%= t(:inactive) %></div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('defaults.point_qualifications') %></span>
      </div>
      <div class="dashboard-card__value label-success"><%= number_with_delimiter current_user.binary_node.shortter_leg_accumulated_score %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('binary_qualified') %></span>
      </div>
      <div class="dashboard-card__value label-success">
        <% if current_user.binary_qualified? %>
          <%= t('qualified') %>
        <% else %>
          <%= t('unqualified') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:course) %></span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_trail).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_career).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:next) + ' ' + t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-info">
        <%= current_user.next_career_kind.try(:name) %>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:account_earnings_limit) %>
        <div id="account_earnings_limit">
        </div>
      </label>

      <div id="pie-chart">
      </div>
      <div id="legend1" class="donut-legend"></div>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:balance) %>
        <div id="balance">
        </div>
      </label>

      <div id="pie-chart2">
      </div>
      <div id="legend2" class="donut-legend"></div>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <strong class="text-black">
          <%= t(:total_bonus) %>
          <div id="total_bonus">
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= t(:gross_bonus) %>
              <div id="gross_bonus">
              </div>
            </div>
            <div class="col-md-6">
              <%= t(:chargebacks) %>
              <div id="chargebacks">
              </div>
            </div>
          </div>

        </strong>
      </label>

      <div id="pie-chart3">
      </div>
      <div id="legend3" class="donut-legend"></div>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:unilevel_affiliates_count) %>
        <div id="unilevel_affiliates_count">
        </div>
      </label>

      <div id="pie-chart4">
      </div>
      <div id="legend4" class="donut-legend"></div>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:binary_affiliates_count) %>
        <div id="binary_affiliates_count">
        </div>
      </label>

      <div id="pie-chart5">
      </div>
      <div id="legend5" class="donut-legend"></div>
    </div>


  </div>
  <div class="col-md-2">
    <div id="pie-refresh" class="panel text-center" class="none-background" style="background-color: rgba(245, 245, 245, 0.0);border: none;">
      <br><br><br><br><br><br><br>
      <div class="panel-body">
        <a href="#" class="btn btn-info btn-lg bt-toggle" value="backoffice/dashboard/user_data.json">
          <i class="fa fa-refresh"></i> <%= t(:refresh) %>
        </a>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
      <span class="text-white"><%= t(:withdrawal) %></span>
      </div>
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <table class="table table-bordered table-highlight">
            <thead class="table-highlight__head">
              <tr>
                <th><%= t(:datae) %></th>
                <th><%= t(:status) %></th>
                <th><%= t(:value) %></th>
              </tr>
            </thead>
            <% last_withdrawals.each do |withdraw| %>
              <tr>
                <td><%= l withdraw.created_at, format: :short %></td>
                <td><%= t withdraw.status %></td>
                <td><%= number_to_currency withdraw.gross_amount_cents %></td>
              </tr>
            <% end %>
            <% if last_withdrawals.blank? %>
              <tr>
                <td colspan="3" class="text-center"><%= t('no_data') %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_qualifications) %></span>
      </div>
      <div class="dashboard-card-box__container inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
        <% last_qualifications.each do |qualification| %>
        <div class="inbox-item">
          <p class="inbox-item-author"><%= qualification.user.username %></p>
          <p class="inbox-item-text"><%= qualification.old_career ? t(qualification.old_career) : 'Cliente' %>
            <i class="fa fa-arrow-right"></i> <%= t qualification.new_career %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_posts) %></span>
      </div>
      <div class="dashboard-card-box__containe">
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="support-material">
      <div class="support-material__left-box">
        <%= link_to t(:download_support_material), backoffice_downloads_path %>
      </div>

      <div class="support-material__right-box">
          <ul class="support-material__download-list">

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/presentation.jpg' %>
                </div>
                <div><%= t(:business_presentation) %></div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/video.jpg' %>
                </div>
                <div> <%= ENV['COMPANY_NAME'] %> </div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/paper.jpg' %>
                </div>
                <div><%= t(:adhesion_contract) %></div>
              </a>
            </li>

          </ul>
      </div>
    </div>
  </div>
</div>
<div id="locale" value="<%= params[:locale] %>">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>

<script type="text/javascript">
  const pieCharts = ["", "2", "3", "4", "5"]
  const locale = $("#locale").attr('value');
  const account_earnings_limit = $('#account_earnings_limit');
  const balance = $('#balance');
  const total_bonus = $('#total_bonus');
  const gross_bonus = $('#gross_bonus');
  const chargebacks = $('#chargebacks');
  const unilevel_affiliates_count = $('#unilevel_affiliates_count');
  const binary_affiliates_count = $('#binary_affiliates_count');

  $(document).on('click', '.bt-toggle', {}, function(e) {
    charts_cleaner();
    $('.donut-legend').empty();
    getInstance();
  });

  function charts_cleaner() {
    pieCharts.forEach(function(item, _, _) {
      $('#pie-chart' + item).empty();
    })
    account_earnings_limit.empty();
    balance.empty();
    total_bonus.empty();
    gross_bonus.empty();
    chargebacks.empty();
    unilevel_affiliates_count.empty();
    binary_affiliates_count.empty();
    return false;
  };


  async function getInstance() {
    let path = '/backoffice/dashboard/user_data.json?locale=' + locale
    try {
      let response = await fetch(path);
      if (response.ok) {
        let instances = await response.json();
        let user_data = JSON.parse(JSON.stringify(instances.data))
        let labels = JSON.parse(JSON.stringify(instances.labels))
        let bonus = user_data.bonus
        let earnings = user_data.earnings
        let balances = user_data.balances
        let unilevel_counts = user_data.unilevel_counts
        let binary_count = user_data.binary_count

        account_earnings_limit.append("<strong>" + earnings.account_earnings_limit + "</strong>").addClass('btn-info');
        balance.append(balances.balance).addClass('btn-success');
        total_bonus.append(bonus.total_bonus).addClass('btn-warning');
        gross_bonus.append(bonus.gross_bonus).addClass('btn-success');
        chargebacks.append(bonus.chargebacks).addClass('btn-danger');
        unilevel_affiliates_count.append(unilevel_counts.unilevel_affiliates_count).addClass('btn-primary');
        binary_affiliates_count.append(binary_count.binary_affiliates_count).addClass('btn-white');
        var browsersChart = Morris.Donut({
          element: 'pie-chart',
          colors: ["#00a65a", "#555299"],
          data: [
            {label: labels.receivable_amount, value: earnings.receivable_amount},
            {label: labels.received_amount, value: earnings.received_amount}
          ]
        });


        browsersChart.options.data.forEach(function(label, i){
          var legendItem = $('<div class="fix-right-a"></div>').text(label['label'] + " ( " +label['value'] + " )").prepend('<i>&nbsp;</i>');

            legendItem.find('i').css('backgroundColor', browsersChart.options.colors[i]);
            $('#legend1').append(legendItem)
            $('#legend1').addClass('text-center')
          })


        let browsersChart2 = Morris.Donut({
          element: 'pie-chart2',
          colors: ["#00a65a", "#d9534f"],
          data: [
            {label: labels.available_balance, value: balances.available_balance},
            {label: labels.blocked_balance, value: balances.blocked_balance},
          ]
        });

        browsersChart2.options.data.forEach(function(label, i){
          var legendItem = $('<div class="fix-right-a"></div>').text(label['label'] + " ( " +label['value'] + " )").prepend('<i>&nbsp;</i>');

            legendItem.find('i').css('backgroundColor', browsersChart2.options.colors[i]);
            $('#legend2').append(legendItem)
            $('#legend2').addClass('text-center')
          })

        let browsersChart3 = Morris.Donut({
          element: 'pie-chart3',
          colors: ["#00a65a", "#292b2c", "#3c8dbc", "#5bc0de", "#a3a3a3", "#d9534f"],
          data: [
            {label: labels.binary_bonus, value: bonus.binary_bonus},
            {label: labels.matching_bonus, value: bonus.matching_bonus},
            {label: labels.pool_trade_bonus, value: bonus.pool_trade_bonus},
            {label: labels.residual_bonus, value: bonus.residual_bonus},
            {label: labels.direct_commission_bonus, value: bonus.direct_commission_bonus},
            {label: labels.chargebacks, value: bonus.chargebacks}
          ]
        });

        browsersChart3.options.data.forEach(function(label, i){
          var legendItem = $('<div class="fix-right-a"></div>').text(label['label'] + " ( " +label['value'] + " )").prepend('<i>&nbsp;</i>');

            legendItem.find('i').css('backgroundColor', browsersChart3.options.colors[i]);
            $('#legend3').append(legendItem)
            $('#legend3').addClass('text-center')
          })

        let browsersChart4 = Morris.Donut({
          element: 'pie-chart4',
          colors: ["#3c8dbc", "#dd4b39", "#555299"],
          data: [
            {label: labels.unilevel_affiliates_actives_count, value: unilevel_counts.unilevel_affiliates_actives_count},
            {label: labels.unilevel_affiliates_inactives_count, value: unilevel_counts.unilevel_affiliates_inactives_count}
          ]
        });

        browsersChart4.options.data.forEach(function(label, i){
          var legendItem = $('<div class="fix-right-a"></div>').text(label['label'] + " ( " +label['value'] + " )").prepend('<i>&nbsp;</i>');

            legendItem.find('i').css('backgroundColor', browsersChart4.options.colors[i]);
            $('#legend4').append(legendItem)
            $('#legend4').addClass('text-center')
          })

      let browsersChart5 = Morris.Donut({
          element: 'pie-chart5',
          colors: ["#00a65a", "#f39c12"],
          data: [
            {label: labels.binary_affiliates_left_count, value: binary_count.binary_affiliates_left_count},
            {label: labels.binary_affiliates_right_count, value: binary_count.binary_affiliates_right_count}
          ]
        });

        browsersChart5.options.data.forEach(function(label, i){
          var legendItem = $('<div class="fix-right-a"></div>').text(label['label'] + " ( " +label['value'] + " )").prepend('<i>&nbsp;</i>');

          legendItem.find('i').css('backgroundColor', browsersChart5.options.colors[i]);
          $('#legend5').append(legendItem)
          $('#legend5').addClass('text-center')
        });


        return instances;
      }
      throw new Error('Request failed!');
    }
    catch(error) {
      console.log(error);
    }
  }

  $(document).ready(function(){
    getInstance();
  });

</script>
