<div class="alert alert-welcome">
  <span><i class="md md-person-outline"></i> Olá, <%= current_user.name %></span>
  <span>Seja Bem vindo!</span>
</div>

<div class="row linhaHome">
  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Status do Binário</span>
      </div>
      <% if current_user.binary_qualified? %>
        <div class="dashboard-card__value label-default">Qualificado</div>
      <% else %>
        <div class="dashboard-card__value label-danger">Desqualificado</div>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Status da Conta</span>
      </div>
      <% if current_user.active? %>
        <div class="dashboard-card__value label-default">Ativo</div>
      <% else %>
        <div class="dashboard-card__value label-danger">Inativo</div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>PV Carreira</span>
      </div>
      <div class="dashboard-card__value label-success"><%= number_with_delimiter current_user.unilevel_pva_count %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Título</span>
      </div>
      <div class="dashboard-card__value label-warning"><%= current_user.career_kind || '---' %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span>Próximo Título</span>
      </div>
      <div class="dashboard-card__value label-info"><%= current_user.next_career_kind %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Saques</span>
      </div>
        <div class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <table class="table table-bordered table-highlight">
            <thead class="table-highlight__head">
              <tr>
                <th>Data</th>
                <th>Status</th>
                <th>Valor</th>
              </tr>
            </thead>
            <% last_withdrawals.each do |withdraw| %>
              <tr>
                <td><%= l withdraw.created_at, format: :short %></td>
                <td><%= t withdraw.status %></td>
                <td><%= number_to_currency withdraw.gross_amount %></td>
              </tr>
            <% end %>
            <% if last_withdrawals.blank? %>
              <tr>
                <td colspan="3" class="text-center"><%= t('no_data') %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Últimos Qualificados</span>
      </div>
      <div class="dashboard-card-box__container inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
        <% last_qualifications.each do |qualification| %>
        <div class="inbox-item">
          <p class="inbox-item-author"><%= qualification.user.username %></p>
          <p class="inbox-item-text"><%= t qualification.old_career %> <i class="fa fa-arrow-right"></i> <%= t qualification.new_career %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span>Últimas Postagens</span>
      </div>
      <div class="dashboard-card-box__containe">
        <div class="inbox-widget nicescroll mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffuturemotorsoficial&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="support-material">
      <div class="support-material__left-box">
        Download Material de apoio
      </div>

      <div class="support-material__right-box">
          <ul class="support-material__download-list">

            <li>
              <a href="https://drive.google.com/file/d/1FGskK8g3dzsH4GCqHGWnDSMmW1mgXyZW/view" target="blank">
                <div>
                  <%= image_tag 'download-list/paper.jpg' %>
                </div>
                <div>manual do negócio</div>
              </a>
            </li>

            <li>
              <a href="https://drive.google.com/file/d/1Zk3lFa365aTo6S4CTGMCkkxuyHK-xB--/view" target="blank">
                <div>
                  <%= image_tag 'download-list/paper.jpg' %>
                </div>
                <div>Plano de Compensação</div>
              </a>
            </li>


            <li>
              <a href="https://drive.google.com/open?id=1FGskK8g3dzsH4GCqHGWnDSMmW1mgXyZW" target="blank">
                <div>
                  <%= image_tag 'download-list/presentation.jpg' %>
                </div>
                <div>Apresentação do negócio</div>
              </a>
            </li>


            <li>
              <a href="https://youtu.be/BDu_fUOtodQ" target="blank">
                <div>
                  <%= image_tag 'download-list/video.jpg' %>
                </div>
                <div>Instalação do H-max</div>
              </a>
            </li>
            <li>
              <a href="https://youtu.be/RYAupehqGmE" target="blank">
                <div>
                  <%= image_tag 'download-list/video.jpg' %>
                </div>
                <div>h-max inovacão tecnológica</div>
              </a>
            </li>
          </ul>
      </div>

    </div>
  </div>
</div>
