<style media="screen">
  #pie-chart {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart2 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart3 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart4 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart5 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-chart6 {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #pie-refresh {
    max-height: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fix-right-a {
    margin-right: 5px;
  }
  .donut-legend > div {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .donut-legend > div:last-child {
    margin-right: 0;
  }
  .donut-legend > div > i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    margin-top: -3px;
    vertical-align: middle;
    border-radius: 1px;
  }
</style>
<br>
<div class="row linhaHome">
  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:account_status) %></span>
      </div>
      <% if current_user.active? %>
        <div class="dashboard-card__value label-default"><%= t(:active) %></div>
      <% else %>
        <div class="dashboard-card__value label-danger"><%= t(:inactive) %></div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('defaults.point_qualifications') %></span>
      </div>
      <div class="dashboard-card__value label-success"><%= number_with_delimiter current_user.binary_node.shortter_leg_accumulated_score %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('binary_qualified') %></span>
      </div>
      <div class="dashboard-card__value label-success">
        <% if current_user.binary_qualified? %>
          <%= t('qualified') %>
        <% else %>
          <%= t('unqualified') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:course) %></span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_trail).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-warning">
        <%= current_user.try(:current_career).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:next) + ' ' + t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-info">
        <%= current_user.next_career_kind.try(:name) %>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:account_earnings_limit) %>
        <div id="account_earnings_limit">
        </div>
      </label>

      <div id="pie-chart">
      </div>
      <div id="legend1" class="donut-legend"></div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:balance) %>
        <div id="balance">
        </div>
      </label>

      <div id="pie-chart2">
      </div>
      <div id="legend2" class="donut-legend"></div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <strong class="text-black">
          <%= t(:total_bonus) %>
          <div id="total_bonus">
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= t(:gross_bonus) %>
              <div id="gross_bonus">
              </div>
            </div>
            <div class="col-md-6">
              <%= t(:chargebacks) %>
              <div id="chargebacks">
              </div>
            </div>
          </div>

        </strong>
      </label>

      <div id="pie-chart3">
      </div>
      <div id="legend3" class="donut-legend"></div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:unilevel_affiliates_count) %>
        <div id="unilevel_affiliates_count">
        </div>
      </label>

      <div id="pie-chart4">
      </div>
      <div id="legend4" class="donut-legend"></div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card" class="none-background">
      <label class="dashboard-card__label">
        <%= t(:binary_affiliates_count) %>
        <div id="binary_affiliates_count">
        </div>
      </label>

      <div id="pie-chart5">
      </div>
      <div id="legend5" class="donut-legend"></div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>


  </div>
  <div class="col-md-2">
    <div class="card">
      <label class="dashboard-card__label">
        <%= t(:binary_score) %>
        <div id="binary_score">

        </div>
      </label>
      <div id="pie-chart6">

      </div>
      <div id="legend6" class="donut-legend">

      </div>
      <span href="#" class="btn btn-white bt-toggle" value="backoffice/dashboard/user_data.json">
        <i class="fa fa-refresh"></i>
      </span>
    </div>
  </div>

</div><br><br>

<div class="row">
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
      <span class="text-white"><%= t(:withdrawal) %></span>
      </div>
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <table class="table table-bordered table-highlight">
            <thead class="table-highlight__head">
              <tr>
                <th><%= t(:datae) %></th>
                <th><%= t(:status) %></th>
                <th><%= t(:value) %></th>
              </tr>
            </thead>
            <% last_withdrawals.each do |withdraw| %>
              <tr>
                <td><%= l withdraw.created_at, format: :short %></td>
                <td><%= t withdraw.status %></td>
                <td><%= number_to_currency withdraw.gross_amount_cents %></td>
              </tr>
            <% end %>
            <% if last_withdrawals.blank? %>
              <tr>
                <td colspan="3" class="text-center"><%= t('no_data') %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_qualifications) %></span>
      </div>
      <div class="dashboard-card-box__container inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
        <% last_qualifications.each do |qualification| %>
        <div class="inbox-item">
          <p class="inbox-item-author"><%= qualification.user.username %></p>
          <p class="inbox-item-text"><%= qualification.old_career ? t(qualification.old_career) : 'Cliente' %>
            <i class="fa fa-arrow-right"></i> <%= t qualification.new_career %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_posts) %></span>
      </div>
      <div class="dashboard-card-box__containe">
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="support-material">
      <div class="support-material__left-box">
        <%= link_to t(:download_support_material), backoffice_downloads_path %>
      </div>

      <div class="support-material__right-box">
          <ul class="support-material__download-list">

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/presentation.jpg' %>
                </div>
                <div><%= t(:business_presentation) %></div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/video.jpg' %>
                </div>
                <div> <%= ENV['COMPANY_NAME'] %> </div>
              </a>
            </li>

            <li style="padding-right: 24px;">
              <a href="#" target="blank">
                <div>
                  <%= image_tag 'download-list/paper.jpg' %>
                </div>
                <div><%= t(:adhesion_contract) %></div>
              </a>
            </li>

          </ul>
      </div>
    </div>
  </div>
</div>
<div id="locale" value="<%= params[:locale] %>">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>

<%= javascript_include_tag 'dashboards/user_dashboard', 'data-turbolinks-track': 'reload' %>
