<div class="row linhaHome">
  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:account_status) %></span>
      </div>
      <% if current_user.active? %>
        <div class="dashboard-card__value label-default"><%= t(:active) %></div>
      <% else %>
        <div class="dashboard-card__value label-inactive"><%= t(:inactive) %></div>
      <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('defaults.point_qualifications') %></span>
      </div>
      <div class="dashboard-card__value label-default"><%= number_with_delimiter current_user.binary_node.shortter_leg_accumulated_score.to_i %></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t('binary_qualified') %></span>
      </div>
        <% if current_user.binary_qualified? %>
          <div class="dashboard-card__value label-default"> <%= t('qualified') %> </div>
        <% else %>
          <div class="dashboard-card__value label-inactive"> <%= t('unqualified') %> </div>
        <% end %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-default">
        <%= current_user.try(:current_career).try(:name) %>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="dashboard-card">
      <div class="dashboard-card__label">
        <span><%= t(:next) + ' ' + t(:career) %></span>
      </div>
      <div class="dashboard-card__value label-default">
        <%= current_user.next_career_kind.try(:name) %>
      </div>
    </div>
  </div>
</div><br><br>

<div class="row">
  <div class="col-md-4">
    <div class="card card-placeholder">
      <label class="dashboard-card__label">
        <%= t(:total_bonus) %>
        <div id="total_bonus"></div>
      </label>
      <div class="card-body">
        <div id="bonus">
        </div>
        <div id="legend_bonus" class="donut-legend"></div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <%= t(:gross_bonus) %>
          <div id="gross_bonus">
          </div>
        </div>
        <div class="col-md-6">
          <%= t(:chargebacks) %>
          <div id="chargebacks">
          </div>
        </div>
      </div>
      <span href="#" class="btn btn-white bt-toggle " head="total_bonus" group="bonus" object="binary, direct_commission, matching, pool_trade, residual, chargebacks" colors="#FFD878, #BF8049, #001d6e, #0020CF, #808080, #d9534f" subheads="gross_bonus, chargebacks" path="bonus_data" amount_sign="&#36;">
        <i class="fa fa-refresh"></i>
      </span>
    </div>


  </div>
  <div class="col-md-8">
      <div class="card-box card card-placeholder">
        <div class="card-body">
                  <h5 class="mt-0"><%= t(:account_earnings_limit) %><span><span id="account_earnings_limit" style="display: block; float: right;"></span></span></h5>
                  <div class="progress progress-lg" id='earnings'>
                  </div>
                  <div id="legend_earnings" class="progressbar-legend">

                  </div>

                  <h5 class="mt-3"><%= t(:balance) %><span style="display: block; float: right;"><span id="balance"></span></span></h5>
                  <div class="progress progress-lg" id="balances"></div>
                  <div id="legend_balances" class="progressbar-legend"></div>

                  <h5 class="mt-3"><%= t(:unilevel_affiliates_count) %><span style="display: block; float: right;"><span id="unilevel_affiliates_count"></span></span></h5>
                  <div class="progress progress-lg" id="unilevel_counts">
                  </div>
                  <div id="legend_unilevel_counts" class="progressbar-legend"></div>

                  <h5 class="mt-3"><%= t(:binary_affiliates_count) %><span style="display: block; float: right;"><span id="binary_affiliates_count"></span></span></h5>
                  <div class="progress progress-lg" id="binary_count"></div>
                  <div id="legend_binary_count" class="progressbar-legend"></div>

                  <h5 class="mt-3"><%= t(:binary_scores) %><span style="display: block; float: right;"><span id="binary_score"></span></span></h5>
                  <div class="progress progress-lg" id="binary_scores">
                  </div>
                  <div id="legend_binary_scores" class="progressbar-legend"></div>

                </div>
                  <span href="#" class="btn btn-white btn-block bt-bars card-footer">
                    <i class="fa fa-refresh"></i>
                  </span>
      </div>  <!-- end card-box-->
  </div> <!-- end col -->
</div><br><br>

<div class="row">
  <div class="col-md-5">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
      <span class="text-white"><%= t(:withdrawal) %></span>
      </div>
        <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
          <table class="table table-bordered table-highlight">
            <thead class="table-highlight__head">
              <tr>
                <th><%= t(:data) %></th>
                <th><%= t(:status) %></th>
                <th><%= t('attributes.amount') %></th>
              </tr>
            </thead>
            <% last_withdrawals.each do |withdraw| %>
              <tr>
                <td><%= l withdraw.created_at, format: :short %></td>
                <td><%= t withdraw.status %></td>
                <td><%= number_to_currency withdraw.gross_amount_cents %></td>
              </tr>
            <% end %>
            <% if last_withdrawals.blank? %>
              <tr>
                <td colspan="3" class="text-center"><%= t('no_data') %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_qualifications) %></span>
      </div>
      <div class="inbox-widget mx-box" tabindex="5000" style="overflow: hidden; outline: none;">
        <table class="table table-bordered table-highlight">
          <thead class="table-highlight__head">
            <tr>
              <th><%= t('attributes.user') %></th>
              <th><%= t('attributes.career') %></th>
            </tr>
          </thead>
          <% last_qualifications.each do |qualification| %>
            <tr>
              <td><%= qualification.try(:user).try(:username) %></td>
              <td><%= image_tag(qualification.try(:career_trail).try(:career).image_path, size: 30) %> &nbsp <%= qualification.try(:career_trail).try(:career).try(:name) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="dashboard-card-box">
      <div class="dashboard-card-box__title">
        <span class="text-white"><%= t(:last_posts) %></span>
      </div>
      <div class="dashboard-card-box__containe">
        <div class="inbox-widget mx-box text-center" tabindex="5000">
          <div class="fb-page"
               data-href="<%= ENV['FACEBOOK_URL'] %>"
               data-tabs="timeline"
               data-width="500"
               data-height="430"
               data-small-header="true"
               data-adapt-container-width="true"
               data-hide-cover="false"
               data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Empireasy-105134351026289/"
                        class="fb-xfbml-parse-ignore">
              <a href="<%= ENV['FACEBOOK_URL'] %>"><%= ENV['COMPANY_NAME'] %></a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="support-material">
      <div class="support-material-div col-md-2 col-md-offset-3">
        <a href="#" target="blank">
          <%= image_tag 'download-list/presentation.jpg' %>&nbsp; <%= t(:business_presentation) %>
        </a>
      </div>

      <div class="support-material-div col-md-2">
        <a href="#" target="blank">
          <%= image_tag 'download-list/paper.jpg' %>&nbsp; <%= t(:adhesion_contract) %>
        </a>
      </div>

      <div class="support-material-div col-md-2">
        <a href="#" target="blank">
          <%= image_tag 'download-list/video.jpg' %>&nbsp; <%= ENV['COMPANY_NAME'] %>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="locale" value="<%= params[:locale] %>"></div>
<div id="fb-root"></div>

<script async defer crossorigin="anonymous"
                    src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0&appId=1005612036250425&autoLogAppEvents=1">
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.0/morris.min.js"></script>


<%= javascript_include_tag 'dashboards/user_dashboard', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'dashboards/progress-bar', 'data-turbolinks-track': 'reload' %>
