<%= javascript_include_tag 'charts' %>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css"
    />
<%= stylesheet_link_tag 'click-tok-theme/dashboard' %>

<script>

  document.addEventListener( 'DOMContentLoaded', function () {
  	new Splide( '#image-slider', {
  		'cover'      : true,
  		'heightRatio': 0.2,
  	} ).mount();
  } );
</script>
<div class="page">
  <div id="image-slider" class="splide">
  	<div class="splide__track">
  		<ul class="splide__list">
  			<li class="splide__slide">
  				<%= image_tag('bg-home.jpg') %>
  			</li>
  			<li class="splide__slide">
  				<%= image_tag('bg-home.jpg') %>
  			</li>
  			<li class="splide__slide">
  				<%= image_tag('bg-home.jpg') %>
  			</li>
  		</ul>
  	</div>
    <div class="t-tasks-gallery-buy-button">
      <button><%= t(:buy) %></button>
    </div>
  </div>

  <% data = [[t(:complete), 0], [t(:available), 0]] %>

  <div class="products-list mt">
    <div class="t-options-box t-options-box-l rh">
      <div class="f-box-title">
        <%= t(:available_tasks) %>
      </div>
      <div class="f-box-icon">
        <div class="t-tasks-progress">
          <%= pie_chart data, donut: true, colors: ['#EF539F', 'white'], legend: false %>
        </div>
      </div>
      <div class="f-tasks-quantity text-center">
        <%= '0/0' %>
      </div>
      <div class="f-tasks-product-title">
          <span></span>
           <!-- product name  -->
          <label><%= '' %></label>
        </div>
    </div>

    <div class="t-options-box t-options-box-r rh">
      <div class="f-box-title">
        <%= t(:tasks_history) %>
      </div>
      <div class="f-box-icon is">
        <%= image_tag('icons/report.svg', class: 'icons') %>
      </div>
    </div>

  </div>
</div>
