<%= javascript_include_tag 'charts' %>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css" />
<%= stylesheet_link_tag 'click-tok-theme/dashboard' %>

<script>

  document.addEventListener( 'DOMContentLoaded', function () {
  	new Splide( '#image-slider', {
  		'cover'      : true,
  		'heightRatio': 0.35,
      'pagination' : false,
  	} ).mount();
  } );
</script>
<div class="page">
  <div id="image-slider" class="splide">
  	<div class="splide__track">
  		<ul class="splide__list">
        <% Banner.find_each do |banner| %>
    			<li class="splide__slide">
            <%= link_to backoffice_banner_clicks_path(banner_id: banner.id),
                    method: :post,
                    remote: true do %>
              <%= image_tag(banner.image_path) %>
            <% end %>
    			</li>
  			<% end %>
  		</ul>
  	</div>
  </div>

  <% data = [[t(:complete), @banners_clicked_today_quantity], [t(:available), @total_banners_per_day - @banners_clicked_today_quantity]] %>

  <div class="products-list mt">
    <div class="t-options-box t-options-box-l rh">
      <div class="f-box-title">
        <%= t(:available_tasks) %>
      </div>
      <div class="f-box-icon">
        <div class="t-tasks-progress">
          <%= pie_chart data, donut: true, colors: ['#EF539F', 'white'], legend: false %>
        </div>
      </div>
      <div class="f-tasks-quantity text-center pink">
        <%= "#{@banners_clicked_today_quantity}/#{@total_banners_per_day}" %>
      </div>
      <div class="f-tasks-product-title">
        <span></span>
        <label class="text-center"><%= @contract.order_items.last.name if @contract.present? %></label>
      </div>
    </div>

    <div class="t-options-box t-options-box-r rh">
      <div class="f-box-title">
        <%= t(:tasks_history) %>
      </div>
      <div class="f-box-icon is">
          <%= link_to backoffice_banners_path do %>
            <%= image_tag('icons/report.svg', class: 'icons') %>
          <% end %>
      </div>
    </div>

  </div>
</div>
