<%= javascript_include_tag 'charts' %>

<div class="container">
<div class="row"  id="dashboard">
    <div class="left-panel">
      <%=  link_to shop_index_path, class: 'item1'  do%>
        <%= image_tag 'icons/loja1.png', class: 'img img-responsive' %>
        <%= t(:shop) %>
      <% end %>

      <a href="#"
         class="item2"
         sponsor-link="<%= new_user_registration_url(sponsor: current_user.username) %>"
         id="sponsor-link"
         title='<%= t(:copied_sponsor_link) %>'
         message='<%= t(:copied_sponsor_link_message) %>'>
      <%= image_tag 'icons/link1.png', class: 'img img-responsive' %>
        <%= t(:sponsor_link) %>
      </a>

      <%= link_to backoffice_adhesion_products_path, class: 'item3'  do%>
        <%= image_tag 'icons/clicks1.png', class: 'img img-responsive' %>
        Pack Click Cash
      <% end %>

      <%= link_to backoffice_banners_path, class: 'item4'  do%>
        <%= image_tag 'icons/publicidade1.png', class: 'img img-responsive' %>
        <%= t('defaults.view_publicity') %>
      <% end %>

      <%= link_to '#', class: 'item5'  do%>
        <%= image_tag 'icons/CHARMAIN1.png', class: 'img img-responsive' %>
        <%= t('defaults.leadership_career') %>
      <% end %>
 
      <%= link_to backoffice_unilevel_index_path(user: current_user), class: 'item6'  do%>
        <%= image_tag 'icons/rede1.png', class: 'img img-responsive' %>
        <%= t('defaults.net') %>
      <% end %>

      <%= link_to '#', class: 'item7'  do%>
        <%= image_tag 'icons/indicados1.png', class: 'img img-responsive' %>
        <%= t('defaults.my_indications') %>
      <% end %>

      <% Type.order(:indications_quantity).each_with_index do |type, index| %>
        <%= link_to '#', class: "item#{8 + index}"  do %>
            <%= image_tag current_user.type == type ? 'icons/ativo1.png' : 'icons/inativo1.png',
                          class: 'img img-responsive' %>
            <%= type.name %>
        <% end %>
      <% end %>

      <%= link_to '#', class: 'item12'  do%>
        <%= image_tag current_user.active? ? 'icons/ativo11.png': 'icons/ativo21.png',
                      class: 'img img-responsive' %>
        <%= t(:account_status) %>
      <% end %>
    </div>

    <div class="right-panel">
      <%= link_to new_backoffice_withdrawal_path, class: 'item1'  do%>
        <%= image_tag 'icons/retirada1.png', class: 'img img-responsive' %>
        <%= t('defaults.new_withdraw') %>
      <% end %>

      <%= link_to backoffice_balance_transferences_path, class: 'item2'  do%>
        <%= image_tag 'icons/troca1.png', class: 'img img-responsive' %>
        <%= t('defaults.balance_transferences') %>
      <% end %>

      <%= link_to backoffice_bonus_contracts_path, class: 'item3'  do%>
        <%= image_tag 'icons/relatorio1.png', class: 'img img-responsive' %>
        <%= t('defaults.unilevel') %>
      <% end %>

      <%= link_to backoffice_financial_transactions_path, class: 'item4'  do%>
        <%= image_tag 'icons/saldo1.png', class: 'img img-responsive' %>
        <%= available_balane(current_user) %>
        <%= t('attributes.available_balance') %>
      <% end %>

      <%= link_to backoffice_financial_transactions_path, class: 'item5'  do%>
        <%= image_tag 'icons/saldo11.png', class: 'img img-responsive' %>
        <%= blocked_balance(current_user) if ENV['ENABLED_BLOCKED_BALANCE'] == 'true' %>
        <%= t('attributes.blocked_balance') %>
      <% end %>

      <%=  link_to backoffice_balance_transferences_path, class: 'item6'  do%>
        <%= image_tag 'icons/troca11.png', class: 'img img-responsive' %>
        <%= order_payment_balance(current_user) %>
        <%= t('defaults.balance_transference') %>
      <% end %>

      <%= link_to backoffice_financial_transactions_path, class: 'item7'  do %>
        <%= image_tag 'icons/relatorio_11.png', class: 'img img-responsive' %>
        <%= t('defaults.financial_histories') %>
      <% end %>

      <%= link_to '#', class: 'item8' do %>
        <%= t('defaults.withdrawal_report') %>
        <table>
          <tbody>
            <% last_withdrawals.each do |w| %>
              <tr class="text-white font-16">
                <td class="text-success"> <%= l(w.created_at, format: :small) %> </td>
                <td> <%= number_to_currency(w.gross_amount_cents) %> </td>
                <td> <%= withdrawal_status_text_class(w) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table
      <% end %>

      <%= link_to backoffice_order_payments_path, class: 'item9'  do%>
        <%= image_tag 'icons/fatura1.png', class: 'img img-responsive' %>
        <%= t('defaults.order_payments') %>
      <% end %>

      <%= link_to backoffice_orders_path, class: 'item10'  do%>
        <%= image_tag 'icons/fatura1.png', class: 'img img-responsive' %>
        
          <%= t('defaults.orders') %>
      
      <% end %>

      <%= link_to backoffice_downloads_path, class: 'item11'  do%>
        <%= image_tag 'icons/apoio1.png', class: 'img img-responsive' %>
        <%= t(:download_support_material) %>
      <% end %>
    </div>
</div>
</div>
