<div class="row">
  <div class="col-lg-12">
    <div class="card-box">
      <h4 class="page-title m-b-30">Escolha seu upgrade</h4>

      <%= simple_form_for form, url: backoffice_upgrades_path, method: :post do |f| %>

      <div class="row">
        <div class="col-md-4">

          <div class="card-deck-wrapper">
            <div class="card-deck">
              <% @upgrades.each do |subscription| %>
              <div class="card-container">
                <div class="card m-b-20">
                  <%= cl_image_tag(subscription.main_photo_id, { size: '150x150' }) %>
                  <div class="card-body">
                    <h3>
                      <%= subscription.name %>
                    </h3>
                    <span>
                      <%= number_to_currency(subscription.price.to_f - current_package_price) %></span>
                  </div>
                </div>
                <%= radio_button('upgrade_form', 'subscription_id', subscription.id, checked: subscription.id == form.subscription_id.to_i) %>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <%= f.submit 'Comprar', class: 'btn btn-primary' %>

      <% end if @upgrades.present?%>

      <% if @upgrades.blank? %>
        Não há upgrade disponível para sua conta.
      <% end %>

    </div>
  </div>
</div>