<%= simple_form_for(form, url: url, method: method, validate: true, html: { class: 'form-horizontal', multipart: true }) do |f| %>
  <ul class="nav nav-tabs tabs">
    <li class="active tab">
      <a href="#info" data-toggle="tab" aria-expanded="false">
        <span class="visible-xs"><i class="fa fa-home"></i></span>
        <span class="hidden-xs">
          <%= t('views.backoffice.admin.products.basic_info') %>
        </span>
      </a>
    </li>
    <li class="tab">
      <a href="#dimensions" data-toggle="tab" aria-expanded="false">
        <span class="visible-xs"><i class="fa fa-user"></i></span>
        <span class="hidden-xs">
          <%= t('views.backoffice.admin.products.parametrization') %>
        </span>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <%= f.error_notification %>
    <div class="tab-pane active" id="info">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :name %>
          <%= f.input :description, as: :text %>
          <%= f.input :short_description %>
          <%= f.input :category_id, collection: Category.all %>
          <%= ensure_cloudinary_image(product.main_photo.path,
                                      class: 'thumb-lg') if product&.main_photo %>
          <%= f.input :main_photo, as: :file %>
          <% product.photos.each do |p| %>
            <%= ensure_cloudinary_image(p.path, class: 'thumb-lg') %>
          <% end if product %>
          <%= f.input :photos, as: :file,  input_html: { multiple: true } %>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <%= f.input :price do %>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
              <%= f.input_field :price, class: "form-control", value: form.price.to_f %>
            </div>
          <% end %>
          <%= f.input :quantity %>
          <%= f.input :sku %>
          <h3 class="m-t-20 m-b-10 text-center">
            <%= t('views.backoffice.admin.products.dimensions') %>
          </h3>
          <%= f.input :length do %>
            <div class="input-group">
              <%= f.input_field :length, class: "form-control" %>
              <span class="input-group-addon">cm</span>
            </div>
          <% end %>
          <%= f.input :width do %>
            <div class="input-group">
              <%= f.input_field :width, class: "form-control" %>
              <span class="input-group-addon">cm</span>
            </div>
          <% end %>
          <%= f.input :height, label: t('attributes.product_height') do %>
            <div class="input-group">
              <%= f.input_field :height, class: "form-control" %>
              <span class="input-group-addon">cm</span>
            </div>
          <% end %>
          <%= f.input :weight do %>
            <div class="input-group">
              <%= f.input_field :weight, class: "form-control" %>
              <span class="input-group-addon">kg</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="dimensions">
      <div class="row">
        <div class="col-md-5">
          <%= f.input :binary_score, label: t('attributes.score') %>
          <%= f.input :low_stock_alert %>
          <%= f.input :active, as: :boolean %>
          <%= f.input :virtual, as: :boolean %>
          <%= f.input :shipping, as: :boolean %>
          <%= f.input :system_taxable, as: :boolean %>
        </div>
      </div>
    </div>
  </div>
  <%= f.button :button, t("defaults.#{method}"),
               data: { disable_with: disable_spinner.html_safe } %>
<% end %>
