<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= t('views.backoffice.admin.products.index.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <div class="m-b-20">
            <%= link_to new_backoffice_admin_product_path, class: 'btn btn-primary waves-effect waves-light' do %>
              <i class="md md-add"></i> <%= t('views.backoffice.admin.products.index.new_product') %>
            <% end %>
          </div>

          <table class="table table-bordered m-0">

            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th><%= Product.human_attribute_name(:name) %></th>
                <th><%= Product.human_attribute_name(:short_description) %></th>
                <th><%= Product.human_attribute_name(:quantity) %></th>
                <th><%= Product.human_attribute_name(:price) %></th>
                <th><%= Product.human_attribute_name(:active) %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <th><%= product.id %></th>
                  <td><%= cl_image_tag(product.main_photo_id, class: 'thumb-sm') %></td>
                  <td><%= product.name %></td>
                  <td><%= product.short_description %></td>
                  <td><%= product.quantity %></td>
                  <td><%= product.price %></td>
                  <td><%= product.active %></td>
                  <td>
                    <%= link_to edit_backoffice_admin_product_path(product), class: 'action-edit' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                    <%= link_to(
                      backoffice_admin_product_path(product),
                      class: 'action-remove',
                      method: :delete,
                      data: { confirm: t('defaults.confirm_removal') }
                      ) do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% if @products.empty? %>
                <tr>
                  <td colspan="7" class="text-center"><%= t('views.backoffice.admin.products.index.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
