<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">

          <%= current_user.unilevel_node.decorate.tree.html_safe %>

          <% if unilevel.present? %>
            <table class="table table-bordered">
              <thead>
                <th>1ยบ <%= t('.generation') %></th>
                <% unilevel.each do |level| %>
                  <th><%= level[:sponsor] %></th>
                <% end %>
              </thead>
              <% max_generation.times do |i| %>
                <tr data-toggle="collapse" data-target="#accordion_<%= i %>" class="clickable">
                  <td><%= i + 2 %>ยบ <%= t('.generation') %></td>
                  <% unilevel.each do |level| %>
                    <td><%= level[:generations][i].present? ? level[:generations][i][:count] : 0 %></td>
                  <% end %>
                </tr>
                <tr id="accordion_<%= i %>" class="collapse warning">
                  <td></td>
                  <td>
                    <table class="table">
                      <thead>
                        <tr>
                          <th><%= User.human_attribute_name(:sponsor) %></th>
                          <th><%= User.human_attribute_name(:username) %></th>
                          <th><%= User.human_attribute_name(:active) %></th>
                          <th><%= User.human_attribute_name(:career_kind) %></th>
                        </tr>
                      </thead>
                      <% unilevel.each do |level| %>
                        <% level[:generations][i].present? && level[:generations][i][:sponsors].each do |s| %>
                          <tr>
                            <td><%= s[0] %></td>
                            <td><%= s[1] %></td>
                            <td><%= s[2] ? t('active') : t('inactive') %></td>
                            <td><%= s[3] && s[3].upcase %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </table>
                  </td>
                </tr>
              <% end %>
            </table>
          <% else %>
            <div class="alert alert-warning">
              <%= t('.no_binary_node') %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
