<p><%= t(:dear_associate) %>, <%= @user.name %></p>

<br>

<p><%= t(:waiting_digital_wallet_reativation, digital_wallet: @digital_wallet.address) %></p>

<br>

<p>
  <%= t(:can_confirm_digital_wallet_change) %>
  <%= link_to t('here'), edit_users_digital_wallet_url(@digital_wallet, locale: @locale, path: :email) %>
</p>

<br>
<p><%= t(:support_director_footer, company_name: ENV['COMPANY_NAME']).html_safe %></p>
<br>

<p><%= link_to t('users.digital_wallets.edit.digital_wallets_list'), users_digital_wallets_url(locale: @locale) %></p>
