<%= stylesheet_link_tag 'click-tok-theme/email' %>

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<div class="container text-center">
  <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
      <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
          height="100%"
          valign="top"
          bgcolor="">
        <h2>
          <span> <%= t('user_mailer.welcome.call', name: @user.name) %> </span>
        </h2><br>
        <div style="font-size: 16px;text-indent: 30px;">
          <p> <%= t('devise_mailer.reset_password_instructions.order_link') %> </p><br>
          <p> <%= link_to t('devise_mailer.reset_password_instructions.password_reset'),
                          edit_password_url(@resource, reset_password_token: @token), class: 'btn-email-green' %></p><br>
          <p> <%= t('devise_mailer.reset_password_instructions.order_alert').html_safe%> </p>
        </div><br>
        <span>
          <%= t('user_mailer.welcome.footer', company_name: SystemConfiguration.company_name).html_safe %>
        </span>
      </td>
    </tr>
  </table>
</div>
