<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">
<div class="container text-center">
  <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
      <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
          height="100%"
          valign="top"
          bgcolor="">
        <h3>
          <span style="text-center"> <%= t('devise_mailer.confirmation_instructions.title') %> </span>
        </h3><br>
        <div style="font-size: 16px;text-indent: 30px;">
          <p><%= t(:hello) %> <%= @resource.email %>!</p>
          <p><%= t(:mail_locked_text) %></p>
          <p><%= t(:mail_locked_ins) %></p>
          <p><%= link_to t(:mail_unlock_account), unlock_url(@resource, unlock_token: @token) %></p><br>
        <span>
          <%= t('user_mailer.welcome.footer', company_name: SystemConfiguration.company_name).html_safe %>
        </span>
      </td>
    </tr>
  </table>
</div>
