<div class="box-second">
  <div>
    <div class="panel panel-border panel-custom">
    <div class="panel-heading">
			<h3 class="panel-title"><%= t(:filters) %></h3>
		</div>
    <div class="panel-body">
      <%= search_form_for q, url: backoffice_admin_withdrawals_path do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <%= f.label t('.status') %>
              <%= f.select :status_eq, Withdrawal.statuses.map { |k, v| [t(k), v] }, { include_blank: t('all') }, { class: 'form-control input-sm' } %>
            </div>
            <div class="col-md-4">
              <%= f.label t('.created_from') %>
              <%= f.search_field :date_created_at_gteq, class: 'form-control input-sm', type: 'date' %>
            </div>
            <div class="col-md-4">
              <%= f.label t('.created_until') %>
              <%= f.search_field :date_created_at_lteq, class: 'form-control input-sm', type: 'date' %>
            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-md-4">
              <%= f.label t('email') %>
              <%= f.search_field :user_email_cont, class: 'form-control input-sm'  %>
            </div>
            <div class="col-md-4">
              <%= f.label t('user') %>
              <%= f.search_field :user_username_cont, class: 'form-control input-sm'  %>
            </div>
          </div>
        </div>
        <%= f.submit t(:search), class: 'btn btn-default' %>
      <% end %>
    </div>
    </div>
  </div>
</div>
