<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title m-b-30"><%= t('.title') %></h4>
  </div>
</div>
<%= render 'filters', q: @q %>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped table-bordered toggle-circle m-b-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th><%= User.human_attribute_name(:username) %></th>
                  <th><%= User.human_attribute_name(:email) %></th>
                  <th><%= t('digital_wallet') %></th>
                  <th><%= t('id') %></th>
                  <th><%= sort_link(@q, :gross_amount_cents, Withdrawal.human_attribute_name(:gross_amount)) %></th>
                  <th><%= sort_link(@q, :net_amount_cents, Withdrawal.human_attribute_name(:net_amount)) %></th>
                  <th><%= sort_link(@q, :status, Withdrawal.human_attribute_name(:status)) %></th>
                  <th><%= sort_link(@q, :created_at, Withdrawal.human_attribute_name(:created_at), default_order: :desc) %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @withdrawals.each do |withdraw| %>
                  <tr>
                    <th><%= withdraw.hashid %></th>
                    <th><%= link_to withdraw.user.username, backoffice_support_user_path(withdraw.user) %></th>
                    <th><%= link_to withdraw.user.email, backoffice_support_user_path(withdraw.user) %></th>
                    <th>
                      <%= link_to withdraw.user.wallet_address, '#', data: { toggle: "modal", target: "#modal-#{withdraw.hashid}" } %>
                    </th>
                    <td><%= withdraw.user.decorate.main_document %></td>
                    <td><%= number_to_currency withdraw.gross_amount_cents %></td>
                    <td><%= number_to_currency withdraw.net_amount_cents %></td>
                    <td><%= withdraw.pretty_status %></td>
                    <td><%= l withdraw.created_at, format: :long %></td>
                    <td>
                      <%= link_to backoffice_admin_withdrawals_mailer_send_email_confirmation_path(withdraw, locale: params[:locale]),
                                  method: :put,
                                  data: { confirm: t('.resend_withdrawal_confirmation_text') },
                                          class: 'btn btn-info m-r-10',
                                          toggle: 'tooltip',
                                          placement: 'top',
                                          title: t('.resend_withdrawal_confirmation') do %>
                        <i class="fas fa-paper-plane"></i>
                      <% end if withdraw.waiting? %>
                      <% if withdraw.pending? || withdraw.approved_balance? || withdraw.waiting?  %>
                        <%= link_to backoffice_admin_withdrawal_path(withdraw, status: Withdrawal.statuses[:approved]),
                                    method: :put,
                                    data: { confirm: t('.approve_withdraw'),
                                            toggle: 'tooltip',
                                            placement: 'top',
                                            title: t(:approve) },
                                    class: 'm-r-10' do %>
                          <i class="icon-like"></i>
                        <% end %>
                        <%= link_to backoffice_admin_withdrawal_path(withdraw, status: Withdrawal.statuses[:refused]),
                                    method: :put,
                                    data: { confirm: t('.refuse_withdraw'),
                                            toggle: 'tooltip',
                                            placement: 'top',
                                            title: t('.refuse') } do %>
                          <i class="icon-dislike"></i>
                        <% end %>
                      <% end %>
                    </td>

                  </tr>
                  <%= content_tag(:div, id: "modal-" + withdraw.hashid, class: 'modal fade', tabindex: '-1', role: 'dialog', aria: { labelledby: "modal-" + withdraw.hashid, hidden: true }) do %>
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title"><%= withdraw.user.wallet_address %></h4>
                        </div>
                        <div class="modal-body">
                          <%= render_qr_code_img(withdraw.user.wallet_address) %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('close') %></button>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <% if @withdrawals.empty? %>
                  <tr>
                    <td colspan="10" class="text-center"><%= t('.no_data') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <%= paginate @withdrawals %>
        </div>
      </div>
    </div>
  </div>
</div>
