<% cent_amount_sum = sum_previous_financial_transactions(@q) %>
<% @financial_transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.hashid %></td>
    <td><%= transaction.try(:financial_reason).try(:title) || transaction.note %></td>
    <td><%= transaction.spreader.try(:username) %></td>
    <% if current_user.admin? %>
      <td><%= transaction.user.username %></td>
    <% else %>
      <td><%= transaction.generation %></td>
    <% end %>
    <td><%= link_to transaction.try(:order).try(:hashid), backoffice_admin_order_path(transaction.try(:order)) if transaction.order %></td>
    <td class='<%= 'text-danger' if transaction.debit? %>'><%= format_cent_amount_value(transaction) %></td>
    <td class='<%= 'text-danger' if cent_amount_sum < 0 %>'><%= number_to_currency(cent_amount_sum) %></td>
    <% cent_amount_sum -= transaction.debit? ? -transaction.cent_amount : transaction.cent_amount %>
    <td><%= l transaction.created_at, format: :short %></td>
  </tr>
<% end %>
