<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<div class="panel panel-border panel-custom">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(:filters) %></h3>
  </div>
  <div class="panel-body">
    <%= search_form_for @q, url: backoffice_financial_transactions_path do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <%= f.label t('attributes.from') %>
            <%= f.search_field :created_at_gteq, class: 'form-control',
                                                 type: 'date' %>
          </div>
          <div class="col-md-3">
            <%= f.label t('attributes.until') %>
            <%= f.search_field :created_at_lteq, class: 'form-control',
                                                 type: 'date' %>
          </div>
          <div class="col-md-3">
            <%= f.label t('activerecord.attributes.financial_transaction.financial_reason') %>
            <%= f.select :financial_reason_id_in, detect_financial_reasons_by_current_user,
                                                  { include_blank: t('all') },
                                                  { class: 'form-control', select2: true, multiple: true } %>
          </div>
        </div>
      </div>
      <%= f.submit t('datagrid.form.search'), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag('utilities/select2') %>
