<%= stylesheet_link_tag 'click-tok-theme/orders' %>

<div class="page">
  <div class="is-page-title">
    <span class="title">
      <%= t(:earnings_report) %>
    </span>
    <span class="title">
      <%= t(:filter) %>
    </span>
  </div>
  <% cent_amount_sum = sum_previous_financial_transactions_by_empreendedor(@q) %>
  <% @financial_transactions.each do |financial_transaction| %>
    <div class="th-history-list">
      <div class="th-history-task-title wr-title">
        <span class="th-history-task-id">
          <%= format_financial_reason(financial_transaction) %> <%= t(:by) %>
          <%= financial_transaction.spreader.try(:username) %>
        </span>
        <%= financial_transaction.created_at.strftime('%d %b') %>
      </div>
      <div class="th-history-task-status">
        <div class="wr-align">
          <div class="wr-amount">
            <span><%= format_cent_amount_value(financial_transaction) %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="t"></div>
  <div class="t"></div>
</div>
