<%= stylesheet_link_tag 'ads/index' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="main-container-ads">
  <div class="title-page">
    <a class="back-button" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </a>
    <span><%= t(:my_advertisements) %></span>
  </div>
  <div class="container-ads">
    <% @ads.each do |ad| %>
      <div class="container-ad">
        <div class="container-title-ad">
          <span class="main-title-ad">
              <%= ad.title %>
          </span>
          <%= image_tag(ad.path, class: "img-ad") %>
        </div>
        <div class="container-counters-ad">
          <div class="container-counter">
            <span class="title-counter-ad"><%= t(:click_count) %></span>
            <span class="counter-ad"><%= ad.current_clicks %></span>
          </div>
        </div>
        <div class="container-counters-ad">
          <div class="container-counter">
            <span class="title-counter-ad"><%= t(:view_count) %></span>
            <span class="counter-ad"><%= ad.views %></span>
          </div>
        </div>
        <div class="container-link-ad">
          <input type="text" disabled value="<%= ad.link %>" class="input-link-ad">
          <div class="button-copy-ad" onclick="copyToClipboard(document.querySelector('.input-link-ad').value)">
            <i class="fa-solid fa-copy"></i>
          </div>
        </div>
        <div class="container-status-ad">
          <span>Status</span>
           <div class="status-ad status-ad-pending">
            Pending
          </div>
         <%# <div class="status-ad status-ad-approved">
            Approved
          </div>
          <div class="status-ad status-ad-canceled">
            Canceled
          </div>
          <div class="status-ad status-ad-expired">
            Expired
          </div>
          <div class="status-ad status-ad-blocked">
            Blocked
          </div>
          <div class="status-ad status-ad-holding">
            Holding
          </div>
          <div class="status-ad status-ad-finish">
            Finish
          </div> %>
        </div>
        <div class="container-countries-ad">
          <div type="button" class="button-countries" data-toggle="modal" data-target="#adModal<%= ad.id %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
              <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
            </svg>
            <span>
              <%= t(:countries_of_operation) %>
            </span>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="adModal<%= ad.id %>" tabindex="-1" role="dialog" aria-labelledby="adModal<%= ad.id %>Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="adModal<%= ad.id %>Label"><%= t(:countries_of_operation) %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <% ad.country_of_operation.each do |country| %>
                    <%= country %><br>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-ad-flex">
          <div class="button-pause-ad">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
            </svg>
            <span>AD</span>
           </div>
        </div>
        <%# <div class="container-ad-flex">
          <button class="button-reactive-ad">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            </svg>
            <span>AD</span>
          </button>
        </div> %>
        <div class="container-edit-ad">
          <%= link_to edit_backoffice_ad_path(ad), class: 'button-edit-ad' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
            <span>
              <%= t(:edit) %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'ads/index' %>
