<div class="page">
  <div class="credentials-box">
    <div class="change-password-top">
      <% if current_user.avatar? %>
        <label for="user_avatar">
          <%= cl_image_tag current_user.avatar.path, { size: '150x150', class: 'avatar-user' } %>
        </label>
        <div class="btns-box-top">
          <a href="#" class="btn-green">Edit profile</a>
          <a href="#" class="btn-green">Security</a>
        </div>
      <% end %>
    </div>

    <div class="box-user-form">
      <%= form_for(current_user, url: update_password_users_display_index_path, validate: true, html: { method: :put }) do |f| %>
          <div class="login-fields user-field">
            <%= f.password_field :password, autocomplete: "off", hint: t('.leave_blank'), placeholder: t(:new_password), class: "input-description" %>
          </div>
          <div class="login-fields user-field">
            <%= f.password_field :password_confirmation, placeholder: t(:new_password_confirmation), class: "input-description" %>
          </div>
          <div class="login-fields user-field">
            <%= f.password_field :current_password, placeholder: t(:password_confirmation_text), class: "input-description" %>
          </div>
          <div class="login-fields save-input user-field remove-padding">
            <%= f.submit t(:save), class: 'login' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
