<%= stylesheet_link_tag 'click-tok-theme/display' %>

<div class="page">
  <div class="ma-list">
    <ul class="ma-list-ul">
      <li class="ma-list-li">
        <%= image_tag 'icons/sponsor.svg', size: 18 %>
        <%= link_to edit_user_registration_path, class: "hyperlink" do %>
          <%= t(:update_profile) %>
        <% end %>
      </li>
      <li class="ma-list-li">
        <%= image_tag 'icons/report.svg', size: 18 %>
        <%= link_to t(:new_email), new_users_email_path, class: "hyperlink" %>
      </li>
      <li class="ma-list-li">
        <%= image_tag 'icons/locker.svg', size: 18 %>
        <%= link_to t(:change_login), edit_login_users_display_index_path, class: "hyperlink" %>
      </li>
      <li class="ma-list-li">
        <%= image_tag 'icons/locker.svg', size: 18 %>
        <%= link_to t(:change_password), edit_password_users_display_index_path, class: "hyperlink" %>
      </li>

      <li class="ma-list-li">
        <%= image_tag 'icons/logout.svg', size: 18 %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'hyperlink' do %>
          <%= t(:logout) %>
        <% end %>
      </li>
      <% if user_masquerade? %>
        <li class="ma-list-li">
          <%= image_tag 'icons/logout.svg', size: 18 %>
          <%= link_to back_masquerade_path(current_user), class: 'hyperlink hyperlink_red' do %>
            <%= t(:back_account) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="t">

  </div>
</div>
