<%= simple_form_for(form, url: url, method: method, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :order %>
  <div class="checkbox">
    <%= f.input :active_session, as: :boolean %>
  </div>
  <%= f.input :active, as: :boolean %>
  <%= f.button :button, t("defaults.#{method}"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving...".html_safe } %>
<% end %>
