<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-15">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<% total_pva = 0 %>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><%= t('attributes.username') %></th>
            <th><%= t('attributes.binary_qualified') %></th>
            <th><%= t('attributes.binary_position') %></th>
            <th><%= t('attributes.role') %></th>
            <th><%= t('attributes.career_kind') %></th>
            <th><%= t('attributes.pva_total') %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-success">
            <td><strong><%= user.username %></strong></td>
            <td><%= user.qualification %></td>
            <td><%= t user.binary_position %></td>
            <td><%= t user.role %></td>
            <td><%= t user.career_kind %></td>
            <td><%= number_with_delimiter user.pva_total %></td>
          </tr>
          <% sponsored.each do |user| %>
            <% total_pva += user.pva_total %>
            <tr>
              <td><strong><%= user.username %></strong></td>
              <td><%= user.qualification %></td>
              <td><%= t user.binary_position %></td>
              <td><%= t user.role %></td>
              <td><%= t user.career_kind %></td>
              <td><%= number_with_delimiter user.pva_total %></td>
            </tr>
          <% end %>
        </tbody>
        <tr>
          <td colspan="5"><%= t('attributes.pva_total') %>:</td>
          <td><%= number_with_delimiter total_pva %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
