<%= cloudinary_js_config %>

<%= simple_form_for(form, url: url, method: method, html: { class: 'form-horizontal' }) do |f| %>
  <div data-withdraw-simulator="true" data-fee="<%= ENV['WITHDRAWAL_FEE'] %>">
    <div class="row">
      <div class="alert alert-warning">Favor gerar nota fiscal do valor bruto, caso contrário o pedido de saque será rejeitado.</div>
      <div class="alert alert-warning">A nota deverá ser emitida para o seguinte CNPJ 26.446.378/0001-07</div>
    </div>

    <%= f.input :amount do %>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <%= f.input_field :amount, class: "form-control autonumber", value: form.amount, data: { input: true, autonumeric: { aSep: '.', aDec: ',' } } %>
      </div>
    <% end %>

    <%= f.input :fiscal_document_link, class: "form-control", value: form.fiscal_document_link %>

    <%= f.input :fiscal_document_photo, as: :file, value: form.fiscal_document_photo %>

    <ul class="list-unstyled w-list m-b-30">
      <% fee = form.amount ? form.amount.to_d - ENV['WITHDRAWAL_FEE'].to_d : 0 %>
      <li><b><%= t('.fees') %>:</b> R$ <span data-fee-text><%= fee %></span> </li>
      <li><b><%= t('.total') %>:</b> R$ <span data-total-text><%= form.amount ? form.amount.to_d - fee : 0 %></span> </li>
    </ul>

    <%= f.button :button, t("defaults.#{method}"), data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando...".html_safe } %>
  </div>
<% end %>
