<%= stylesheet_link_tag 'click-tok-theme/orders' %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<div class="page">
  <a class="back-button" href="/backoffice/financial_dashboard?locale=en">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
  <div class="card-order">
    <div class="is-page-title">
      <span class="title">
        <%= t('.title') %>
      </span>
      <div class="btn-group dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 20px;
        background: #30da03;
        border: none;">
            <%= t(:filter) %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button"><%= link_to t(:all), backoffice_withdrawals_path %></button>
          <% Withdrawal.statuses.keys.each do |k| %>
            <button class="dropdown-item" type="button"><%= link_to t(k), backoffice_withdrawals_path(status: k) %></button>
          <% end %>
        </div>
      </div>
    </div>

    <section>
      <% @withdrawals.each do |withdrawal| %>
        <div class="th-history-list">
          <div class="th-history-task-title wr-title">
            <span class="th-history-task-id">
              <%= withdrawal.hashid %>
            </span>
            <%= withdrawal.created_at.strftime('%d %b') %>
          </div>
          <div class="th-history-task-status">
            <div class="th-history-task-date">
              <%= withdrawal.updated_at.strftime('%d/%m/%y') %>
            </div>
            <div class="wr-align">
              <div class="th-history-task-status-action <%= order_status_style_class(withdrawal) %>">
                <%= t(withdrawal.status) %>
              </div>
              <div class="wr-amount">
                <small class="pink"><%= number_to_currency(-(withdrawal.gross_amount_cents - withdrawal.net_amount_cents), precision: 2) %></small>&nbsp;
                <span class="purple"><%= number_to_currency(withdrawal.net_amount_cents, precision: 2) %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <section>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @withdrawals %>
    </div>
  </div>
</div>
