<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped table-bordered toggle-circle m-b-0">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t('attributes.gross_amount') %></th>
                <th><%= t('withdrawal_fee') %></th>
                <th><%= t('attributes.net_amount') %></th>
                <th><%= t('attributes.status') %></th>
                <th><%= t('attributes.created_at') %></th>
              </tr>
            </thead>
            <tbody>
              <% @withdrawals.each do |withdraw| %>
                <tr>
                  <th><%= withdraw.hashid %></th>
                  <th><%= number_to_currency withdraw.gross_amount_cents %></th>
                  <th><%= number_to_currency (withdraw.gross_amount_cents - withdraw.net_amount_cents) %></th>
                  <th><%= number_to_currency withdraw.net_amount_cents %></th>
                  <td><%= withdraw.pretty_status %></td>
                  <td><%= l withdraw.created_at, format: :long  %></td>
                </tr>
              <% end %>
              <% if @withdrawals.empty? %>
                <tr>
                  <td colspan="7" class="text-center"><%= t('.no_data') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @withdrawals %>
        </div>
      </div>
    </div>
  </div>
</div>
