<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class=" col-sm-6">
      <div class="panel panel-default panel-border">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('.available_balance') %></h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled w-list">
            <li>
              <b><%= t('.available_balance') %>:</b>
              <%= number_to_currency(current_user.available_balance) %>
            </li>
            <li>
              <b><%= t('defaults.withdrawal_fee') %>:</b>
              <%= number_to_percentage(ENV['WITHDRAWAL_FEE'].to_f, precision: 2) %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default panel-border">
        <div class="panel-heading">
          <h3 class="panel-title"><%= User.human_attribute_name(:wallet_address) %></h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled w-list">
            <li>
              <b><%= User.human_attribute_name(:wallet_address) %>:</b>
              <%= link_to current_user.wallet_address, edit_backoffice_bank_account_path(current_user) %>
            </li>
            <p class="text-muted page-title-alt"><%= t('backoffice.bank_accounts.edit.subtitle') %></p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-20">
            <%= render partial: "form_pf" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
