<%= stylesheet_link_tag 'click-tok-theme/withdrawal' %>
<%= stylesheet_link_tag 'click-tok-theme/financial_dashboard' %>
<%= stylesheet_link_tag 'click-tok-theme/cart' %>

<%= javascript_include_tag 'click-tok-theme/bank_account' %>
<%= javascript_include_tag 'click-tok-theme/active-btn-tabs' %>
<%= javascript_include_tag 'click-tok-theme/withdraw' %>

<div class="page">
  <div class="f-balance-area">
    <div class="balance-title">
      <%= t(:available_balance) %>
    </div>

    <div class="balance-value">
      <%= number_to_currency(current_user.available_balance, unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %>
    </div>
  </div>
  <%= simple_form_for(@form, url: backoffice_withdrawals_path,
                             method: :post,
                             html: { class: 'form-horizontal' }) do |f| %>
    <div>
    <div class="w-withdraw-area">
      <div class="w-withdraw-icon">
        <%= image_tag('icons/withdrawal.svg') %>
      </div>
      <div class="w-withdraw-input">
        <%= f.input_field :amount, placeholder: t(:withdrawal_value),
                               value: @initial_amount,
                               min: @form.withdrawal_minimum,
                               max: @form.withdrawal_maximum,
                               data: { input: true,
                                       autonumeric: { aSep: '.', aDec: ',' } } %>
      </div>
    </div>
    <div class="w-withdraw-area">
      <div class="w-withdraw-icon">
        <%= image_tag('icons/locker.svg') %>
      </div>
      <div class="w-withdraw-input">
        <%= f.password_field :password, placeholder: t(:current_password) %>
      </div>
    </div>
    <div class="ch-purchase-desc">
      <div>
        <label><%= t(:mininum_withdrawal_value) %></label>
        <span><%= number_to_currency(ENV['WITHDRAWAL_MINIMUM_VALUE'], unit: ENV['CURRENT_CURRENCY'], precision: 2).gsub('USD ', '$') %></span>
      </div>
      <div>
        <label><%= t(:fee) %></label>
        <span><%= number_to_percentage(SystemConfiguration.withdrawal_fee.to_f, precision: 2) %></span>
      </div>
    </div>
    <div class="division">
      <div></div>
    </div>
    <div class="page-title">
      <%= t(:select_receive_form) %>
    </div>
    <div class="ch-payment-buttons-area">
      <!-- <div class="btn btn-tab" onclick="showPixInput()"> -->
      <div class="btn btn-tab2">
        <%= image_tag('icons/eth.svg', class: 'icons') %>
        <%= t(:eth) %>
      </div>

      <div class="btn btn-tab" onclick="showBitCoinInput()">
        <%= image_tag('icons/bitcoin.svg', class: 'icons') %>
        <%= t(:btc) %>
      </div>
    </div>
      <div class="w-withdraw-area" id="pix_input" style="display: none;">
        <div class="w-withdraw-icon">
          <%= image_tag('icons/pix-p.svg', class: 'icons') %>
        </div>
        <div class="w-withdraw-input">
          <%= f.input_field :pix_wallet, id: "pix_wallet", placeholder: t(:eth), value: current_user.pix_wallet %>
        </div>
      </div>
      <div class="w-withdraw-area" id="bitcoin_input" style="display: none;">
        <div class="w-withdraw-icon">
          <%= image_tag('icons/bitcoin-p.svg', class: 'icons') %>
        </div>
        <div class="w-withdraw-input">
          <%= f.input_field :wallet_address, id: "wallet_address", placeholder: t(:btc), value: current_user.wallet_address %>
        </div>
      </div>
      <input type="hidden" name="withdrawal_form[payment_method]" id="payment_method" value='pix'>
    </div>
    <br>
    <div class="ch-buy-action-button">
      <%= f.button :button, t('defaults.new_withdraw'),
                             data: { disable_with: t('helpers.save_with_disable') }, class: 'login border-radius-pattern' %>
    </div>
  <% end %>
  <div class="t">
  </div>
  <div class="t">
  </div>
</div>
