<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-border">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('.available_balance') %></h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled w-list">
          <li><b><%= t('.available_balance') %>:</b> <%= number_to_currency(current_user.available_balance) %> </li>
          <li><b><%= t('defaults.withdrawal_fee') %>:</b> <%= number_to_currency(@form.withdrawal_fee) %></li>
          <% if @form.user.pf? %>
            <li><b><%= t('defaults.irpf', value: @form.irpf) %>:</b> <%= number_to_percentage(@form.irpf, precision: 2) %> </li>
            <li><b><%= t('defaults.inss', value: @form.inss) %>:</b> <%= number_to_percentage(@form.inss, precision: 2) %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="p-20">
            <%= render partial: "form_#{current_user.registration_type}" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
