<%= stylesheet_link_tag 'click-tok-theme/header' %>

<script>
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<header >
  <div class="header-container">
    <div class="align-items">
      <div class="nav-link align-right">
        <%= render 'layouts/shared/language_select' %>
      </div>
      <div class="logo">
        <a href="/">
          <%= image_tag('logo-white.png') %>
        </a>
      </div>
    </div>
  </div>
  <div class="header-container align-center">
    <div class="user-details">
      <% unless (params[:controller] == "users/registrations" && params[:action] == 'edit') || (params[:controller] == "users/display" && (params[:action] == 'edit_password' || params[:action] == 'index' ||  params[:action] == 'update_profile')) %>
        <%= link_to users_display_index_path do %>
          <div class="user-avatar">
            <%= current_user.decorate.avatar_image_tag %>
            <span class="welcome-text">
              <%= t(:hello) %>, <%= current_user.name %>
            </span>
          </div>
        <% end %>
      <% end %>
      <div class="invisible">
        ⠀⠀⠀⠀⠀⠀⠀
      </div>
      <div class="link-share">
        <% if user_masquerade? %>
          <%= link_to back_masquerade_path(current_user), class: 'hyperlink' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
            <%= t(:back_account) %>
          <% end %>
        <% else %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'hyperlink' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
            <%= t(:logout) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
