<%= stylesheet_link_tag 'click-tok-theme/header' %>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<header>
  <div class="header-container">
    <div class="align-items">
      <div class="nav-link align-right">
        <%= render 'layouts/shared/language_select' %>
      </div>
      <div class="logo">
        <%= image_tag('logo-white.png') %>
      </div>
    </div>
  </div>

  <div class="header-container align-center">
    <div class="user-details">
      <div class="user-avatar">
        <%= current_user.decorate.avatar_image_tag %>
        <span class="welcome-text">
          <%= t(:hello) %>, <%= current_user.name %>
        </span>
      </div>

      <div class="link-share">
        <a href="#"
           sponsor-link="<%= new_user_registration_url(sponsor: current_user.username) %>"
           id="sponsor-link"
           title='<%= t(:copied_sponsor_link) %>'
           message='<%= t(:copied_sponsor_link_message) %>'>
          <%= image_tag('icons/indicated.svg') %>
          <%= t(:sponsor_link) %>
        </a>
      </div>
    </div>
  </div>
</header>
