<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: ENV['COMPANY_NAME'] %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= render 'layouts/shared/favicons' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggle();
            });
            $('form input[type=submit]').addClass('btn btn-primary');
            $('form input[type=file]').addClass('form-control');

        });
    </script>

  </head>

  <body class="fixed-left">
    <div id="wrapper">
      <%= render 'layouts/admin/topbar' %>
      <%= render 'layouts/admin/sidebar' %>
      <div class="content-page">
        <div class="content">
          <div class="container">
            <% if current_user.refused_verification? %>
              <div class="alert alert-danger"><%= current_user.document_refused_reason %></div>
            <% end %>
            <%= render 'layouts/flash-messages' %>
            <%= render 'layouts/notification' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/gtag' %>
  </body>
</html>
