<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <%= display_meta_tags site: 'Mais Voz' %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fixed-left">
    <header id="topnav">
      <div class="navbar-custom">
        <div class="container-fluid">
          <%= render 'layouts/admin/topbar' %>
        </div>
      </div>
      <div class="topbar-menu">
        <div class="container-fluid">
          <div id="navigation">
            <%= render "menus/#{current_user.role}_menu" %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <% if current_user.refused_verification? %>
                <div class="alert alert-danger"><%= current_user.document_refused_reason %></div>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <%= render 'layouts/flash-messages' %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <%= render 'layouts/notification' %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <%= yield %>
            </div>
          </div>
        </div> <!-- end container -->
    </div>
    <%= render "layouts/shared/footer" %>
  </body>
</html>
