<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: ENV['COMPANY_NAME'] %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= render 'layouts/shared/assets' %>
    <%= render 'layouts/shared/favicons' %>
  </head>
  <body>
    <div class="container">
      <div class="app">
        <div class="main-app">
          <%= render 'layouts/shared/simple_header' %>
          <div class="main-app-content">
            <%= render 'layouts/flash-messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/gtag' %>
  </body>
</html>
