<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: SystemConfiguration.company_name %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shared/assets' %>
  </head>
  <body>
    <div id="wrapper">
      <%= render 'layouts/consumer/topbar' %>
      <div class="content-page no-margin">
        <div class="content">
          <div class="container">
            <%= render 'layouts/flash-messages' %>
            <%= render 'layouts/notification' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/gtag' %>
  </body>
</html>
