<%= stylesheet_link_tag 'click-tok-theme/shared/login_register' %>
<%= javascript_include_tag 'click-tok-theme/shared/login_register', defer: true %>
<script src="https://unpkg.com/xregexp/xregexp-all.js"></script>
<%= javascript_include_tag 'click-tok-theme/country_number', defer: true %>
<section class="modal-login-register login">
  <button class="modal-close-button">✕</button>
  <div class="modal-logo">
    <% if ActiveModel::Type::Boolean.new.cast(ENV['WHITELABEL']) %>
      <%= image_tag 'white-label-logo.png' %>
    <% else %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div id="error-msg"></div>
  <div class="form-container">
  <ul class="form-menu">
    <li class="login-toggle-button form-title">
      <%= t('users.sessions.new.login') %>    
    </li>
    <li class="register-toggle-button form-title">
      <%= t('users.shared.links.sign_up') %>    
    </li>
  </ul>
    <div class="modal-login-container">
      <span class="form-title"><%= t('users.sessions.new.login') %></span>
      <span class="form-subtitle"><%= t('already_have_account') %></span>
      <%= simple_form_for(User.new, as: :user, url: sessions_path, class: 'login-form', remote: true) do |f| %>
        <label for="login-user" class="field-container">
          <%= f.input_field :login, id: 'login-user', placeholder: t(:phone) %>
        </label>
        <label for="login-password" class="field-container">
          <%= f.input_field :password, id: "login-password", placeholder: t(:password) %>
        </label>
        <%# <label for="keep-logged">
          <input id="keep-logged" type="checkbox" />
          Salvar acesso
        </label> %>
        <button type="submit">
          <%= t('users.sessions.new.login') %>
        </button>
      <% end %>
      <div class="form-links-container">
        <a href="#"><%= t('users.shared.links.forgot_password') %></a>
      </div>
    </div>    
    <div class="modal-register-container">
      <span class="form-title"><%= t('users.shared.links.sign_up') %></span>
      <span class="form-subtitle"><%= t('create_your_account') %></span>
      <%= simple_form_for(:user, url: users_path, html: { class: 'register-form', remote: true}) do |f| %>

        <%= f.input_field :country, class: "field-container", prompt: t('attributes.country'), format: :with_country_code %>
        <label for="register-user" class="field-container">      
          <%= f.input_field :username, id: "register-user", placeholder: t(:phone) %>
        </label>
        <label for="register-email" class="field-container">      
          <%= f.input_field :email, id: "register-email", placeholder: t(:email) %>
        </label>
        <label for="register-password" class="field-container">      
          <%= f.input_field :password, id: "register-password", placeholder: t(:password) %>
        </label>
        <label for="register-repeat-password" class="field-container">          
          <%= f.input_field :password_confirmation, id: "register-repeat-password", placeholder: t(:password_confirmation) %>
        </label>    
        <button type="submit">
          <%= t('users.shared.links.sign_up') %>
        </button>
      <% end %>
    </div>
  </div>  
</section>
