<%= stylesheet_link_tag 'click-tok-theme/short_registration' %>
<script src="https://unpkg.com/xregexp/xregexp-all.js"></script>
<%= javascript_include_tag 'click-tok-theme/country_number' %>

<%= simple_form_for(@form, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal m-t-20') do |f| %>
  <%= f.object.errors.full_messages.join(', ') %>
  <div class="credentials-box">
    <%= f.hidden_field :role %>
    <%= f.hidden_field :registration_type %>
    <%= f.hidden_field :g_recaptcha_response %>
    <%= f.hidden_field :token %>
     <% if ActiveModel::Type::Boolean.new.cast(ENV['WHITELABEL']) %>
         <%= f.hidden_field :sponsor_username, value: (@form.sponsor_username.presence || User.find_morenwm_customer_user.username) %>
     <% else %>
      <div class="login-fields">
        <div class="field-icon">
          <%= image_tag('icons/sponsor.svg', alt: t(:sponsor)) %>
        </div>
        <%= f.input_field :sponsor_username, autofocus: true,
                                            class: "input-description",
                                            placeholder: t(:sponsor),
                                            readonly: @form.token.present?,
                                            value: @form.token.present? ? @form.sponsor.try(:username).to_s.gsub(/.{5}$/, '*****') : @form.sponsor_username %>
      </div>
    <% end %>
    <%- if controller_name != 'sessions' %>
      <%= link_to t('users.sessions.new.login'), new_session_path(resource_name), class: 'sign-up-log-in_button' %>
    <% end -%>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/globe.svg', alt: t(:globe) ) %>
      </div>
      <%= f.input_field :country, class: "input-description", prompt: t('attributes.country'), format: :with_country_code, priority: priority_countries %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/phone.svg', alt: t(:phone) ) %>
      </div>
      <%= f.input_field :username, class: "input-description", placeholder: t(:phone) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/email.svg', alt: t(:email) ) %>
      </div>
      <%= f.input_field :email, class: "input-description", placeholder: t(:email) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/locker.svg', alt: t(:locker) ) %>
      </div>
      <%= f.input_field :password, class: "input-description", placeholder: t(:password) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/locker.svg', alt: t(:locker) ) %>
      </div>
      <%= f.input_field :password_confirmation, class: "input-description", placeholder: t(:password_confirmation) %>
    </div>
    <div class="login-fields remove-padding">
      <%= f.button :submit, t('users.registrations.new.sign_up'), class: "login" %>
    </div>
    <div class="helper-text">
      <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>


<%= javascript_include_tag 'recaptcha' %>
