<%= content_for :body_class, 'login-page' %>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page" id="wrapper-page-login">
  <div class="text-center register-logo">
    <%= image_tag 'logo.png' %>
  </div>
  <br>
  <div class="card-box p-0">
    <div class="panel-body p-20">

      <%= simple_form_for(@form, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal m-t-20', validate: true) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.hidden_field :role %>
          <%= f.hidden_field :registration_type %>
          <%= f.hidden_field :g_recaptcha_response %>
          <% if @form.sponsor_username && params[:sponsor].present? %>
            <%= f.input :sponsor_username, autofocus: true, readonly: true, input_html: { style: 'min-width: 100%;'} %>
          <% else %>
            <%= f.input :sponsor_username, autofocus: true, input_html: { style: 'min-width: 100%;'} %>
          <% end %>
          <%= f.input :document_cpf, label: t(:id), input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :name, input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :email, input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :country, input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :username, input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :password, input_html: { style: 'min-width: 100%;'} %>
          <%= f.input :password_confirmation, input_html: { style: 'min-width: 100%;'} %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t('users.registrations.new.sign_up'), class: 'btn btn-primary btn-block text-uppercase' %>
        </div>
        <hr>

      <% end %>
      <%= render "users/shared/links" %>
      <%= render "users/shared/flags" %>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="?locale=en" class="flag">
        <%= image_tag('countries/us.svg') %>
      </a>
      <!-- <a href="?locale=pt-BR" class="flag">
        <%= image_tag('countries/pt.svg') %>
      </a> -->
    </div>
  </div>
</div>
<div id="document-cpf" ignore="true" hidden></div>
<%= javascript_include_tag 'recaptcha' %>
