<%= stylesheet_link_tag 'click-tok-theme/short_registration' %>

<%= simple_form_for(@form, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal m-t-20', validate: true) do |f| %>
  <%= f.error_notification %>
  <div class="credentials-box">
    <%= f.hidden_field :role %>
    <%= f.hidden_field :registration_type %>
    <%= f.hidden_field :g_recaptcha_response %>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/sponsor.svg', alt: t(:sponsor) ) %>
      </div>
      <% if @form.sponsor_username && params[:sponsor].present? %>
        <%= f.input_field :sponsor_username, autofocus: true, readonly: true, class: "input-description", placeholder: t(:sponsor) %>
      <% else %>
        <%= f.input_field :sponsor_username, autofocus: true, class: "input-description", placeholder: t(:sponsor) %>
      <% end %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/globe.svg', alt: t(:globe) ) %>
      </div>
      <%= f.input_field :country, only: ["BR", "US", "ES"], class: "input-description", prompt: t('attributes.country') %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/phone.svg', alt: t(:phone) ) %>
      </div>
      <%= f.input_field :username, class: "input-description", placeholder: t(:phone) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/email.svg', alt: t(:email) ) %>
      </div>
      <%= f.input_field :email, class: "input-description", placeholder: t(:email) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/locker.svg', alt: t(:locker) ) %>
      </div>
      <%= f.input_field :password, class: "input-description", placeholder: t(:password) %>
    </div>
    <div class="login-fields">
      <div class="field-icon">
        <%= image_tag('icons/locker.svg', alt: t(:locker) ) %>
      </div>
      <%= f.input_field :password_confirmation, class: "input-description", placeholder: t(:password_confirmation) %>
    </div>
    <div class="login-fields remove-padding">
      <%= f.button :submit, t('users.registrations.new.sign_up'), class: "login" %>
    </div>
    <div class="helper-text">
      <%= render "users/shared/links" %>
    </div>
  </div>
<% end %>


<%= javascript_include_tag 'recaptcha' %>
