<%= content_for :body_class, 'login-page' %>

<style media="screen">
  label, .help-block {
    color: white;
  }
  .wrapper-page {
    width: 900px;
  }
</style>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div id="rootwizard" class="wrapper-page">
  <div class="text-center">
    <%= image_tag 'logo.png' %>
  </div>
  <br>
  <div class=" card-box">
    <div class="panel-heading">
      <h3 class="text-center"><%= title t('.sign_up') %></h3>
    </div>


    <div class="panel-body">
      <ul>
        <li><a href="#tab1" data-toggle="tab">1 - Dados Pessoais</a></li>
        <li><a href="#tab2" data-toggle="tab">2 - Tipo de Cadastro</a></li>
        <li><a href="#tab3" data-toggle="tab">3 - Endereço</a></li>
      </ul>

      <br>

      <div id="bar" class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
      </div>

      <%= simple_form_for(form, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
        <%= f.error_notification %>
        <%= hidden_field_tag :blank_error_message, I18n.t('errors.messages.blank') %>
        <%= hidden_field_tag :invalid_error_message, I18n.t('errors.messages.invalid') %>
        <%= hidden_field_tag :admin_company_username, I18n.t('attributes.admin_company_username') %>
        <div class="tab-content">

          <!-- TAB 1 -->
          <div class="tab-pane" id="tab1">
            <div class="form-inputs">
              <div class="col-md-6">
                <%= f.input :role, collection: [['Pessoa física', 'pf'], ['Pessoa Jurídica', 'pj']], include_blank: false %>
                <% if form.sponsor_username && params[:sponsor].present? %>
                  <%= f.input :sponsor_username, autofocus: true, readonly: true %>
                <% else %>
                  <%= f.input :sponsor_username, autofocus: true %>
                <% end %>
                <%= f.input :username %>
                <%= f.input :name %>
                <%= f.input :birthdate, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 18 %>
              </div>
              <div class="col-md-6">
                <%= f.input :gender, collection: User.genders.map {|k, v| [t(v), v]} %>
                <%= f.input :phone, input_html: { class: 'input-phone' } %>
                <%= f.input :email %>
                <%= f.input :password, hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length) %>
                <%= f.input :password_confirmation %>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab2">
            <div class="form-inputs">
              <div class="col-md-12">
                <div id="pf-inputs">
                  <%= f.input :document_cpf, input_html: { class: 'input-cpf' } %>
                  <%= f.input :document_rg %>
                  <%= f.input :document_rg_expeditor %>
                  <%= f.input :document_pis, input_html: { class: 'input-pis' } %>
                </div>
                <div id="pj-inputs">
                  <%= f.input :document_cnpj, input_html: { class: 'input-cnpj' } %>
                  <%= f.input :document_ie %>
                  <%= f.input :document_company_name %>
                  <%= f.input :document_fantasy_name %>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab3">
            <div class="form-inputs">
              <div class="col-md-12">
                <%= f.input :zipcode, input_html: { data: { zipcode_input: true }, class: 'input-zipcode' } %>
                <%= f.input :address_ibge, as: :hidden %>
                <%= f.input :address %>
                <%= f.input :address_2 %>
                <%= f.input :address_number %>
                <%= f.input :district %>
                <%= hidden_field :user, :city_temp, value: form.city, class: 'city_temp' %>
                <%= f.input :city, collection: [], input_html: { class: 'city' } %>
                <%= f.input :state, collection: ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO'] %>
                <%= f.input :country, selected: 'BR', priority_countries: ['BR', 'US'] %>
                <%= f.button :submit, t('.sign_up'), class: 'btn btn-primary btn-block text-uppercase' %>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <ul class="pager wizard">
              <li class="previous"><a href="#" class="btn btn-default"><%= t('.previous') %></a></li>
              <li class="next"><a href="#" class="btn btn-default"><%= t('.next') %></a></li>
            </ul>
            <hr>
            <%= render "users/shared/links" %>
            <%= render "users/shared/flags" %>
          </div>

        </div>

      <% end %>
    </div>
  </div>
</div>
